<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MLM
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

$tree["tree"][] = $block->getTreeCollection();
$sponsorCode = $block->getAdminSponsorId();
$serializedData = $block->jsonEncode($tree);
?>
<div class="tree-container" data-mage-init='{"genealogyTree":<?= /* @noEscape */  $serializedData; ?>}'>
    <div class="container" id="<?= $block->escapeHtmlAttr('containerFor'.$sponsorCode); ?>">
        <div class="member tree-node you-node">
            <span class="<?= $block->escapeHtmlAttr('wk'.$sponsorCode); ?>">
                <?= $block->escapeHtml(__("You")); ?>
            </span>
        </div>
    </div>
</div>
<script id="treeNodeTemplate" type="text/x-magento-template">
    <div class='container' id="containerFor<%- data.sponsor_code %>">
        <div class=" <%- 'tree-node left-node member' %>">
            <span class="wk<%- data.sponsor_reference_code %>">
                <%- data.customer_name %>
            </span>
        </div>
    </div>
</script>
<style>
div#page\:main-container {
    display: flow-root;
    width: max-content;
}
</style>
