<div class="page-main-actions">
    <div data-mage-init='{"floatingHeader": {}}' class="page-actions"  data-ui-id="page-actions-toolbar-content-header" >
        <button id="import" title="Import" type="button" class="action-default scalable primary" onclick="jQuery('#edit_form').submit();"  data-ui-id="adminhtml-order-edit-save-button" >
            <span><?php echo __('Import File'); ?></span>
        </button>
    </div>
</div>

<form method="POST" name="edit_form" id="edit_form" action="<?php echo $this->getSubmitUrl(); ?>" enctype="multipart/form-data">

    <input type="hidden" name="form_key" value="<?php echo $this->getFormKey(); ?>">

    <p><?php echo __('Please select the file to import : '); ?> <input type="file" name="import_file"></p>
    <p>&nbsp;</p>


    <p>Use this section to import sellerbadge from a csv file</p>
    <p>Expected format :</p>

    <ul style="margin-left: 50px;">
        <li>File format : csv file</li>
        <li>Separator : semi-colon ";"</li>
        <li>Columns
            <ul style="margin-left: 50px;">
                <li>sbm_name</li>
                <li>sbm_email</li>
            </ul>
        </li>
    </ul>

</form>