<!--@subject  Fornecedor Aprovado  {{var data.name}} @-->
{{template config_path="design/email/header_template"}}
<p>{{trans "Parabéns! Agora você é um fornecedor Viramoda!"}}</p>
<p style="padding:20px 0 0 0;margin:0"><b>{{trans "Não responda esse e-mail"}}</b></p>
<br>
<a style="color:#5ac17f" href="{{var data.url}}">{{trans "Acesse sua área de fornecedor."}}</a>
{{template config_path="design/email/footer_template"}}