<!--@subject Cadastro de Novo Fornecedor @-->

{{template config_path="design/email/header_template"}}
<p>{{trans "Você tem um novo registro de Fornecedor"}}</p>
<p>{{trans "Nome:"}} {{var data.name}}</p>
<p>{{trans "E-mail:"}} {{var data.email}}</p>
<p>{{trans "Senha: "}} {{var data.password}}</p>
<a style="color:#5ac17f" href="{{var data.url}}">{{trans"Acesse sua área de fornecedor "}}</a>
{{template config_path="design/email/footer_template"}}
