<!--@subject Mensagem de Cliente {{var data.sender_name}} @-->


{{template config_path="design/email/header_template"}}
<p> {{trans "Nova mensagem de "}} <i>{{var data.namestore}}</i>.{{trans " Aqui está a mensagem:"}} </p>
<div style="padding-left:20px;margin:0;border-left:2px solid #ccc;color:#888">
{{var data.description|raw}}  
</div>
<p style="padding:20px 0 0 0;margin:0"><b>{{trans "Não responda esse e-mail!"}}</b></p>
<br>
<a style="color:#5ac17f" href="{{var data.urllogin}}">{{trans "Clique aqui para entrar e responder a mensagem."}}</a>
{{template config_path="design/email/footer_template"}}