<!--@subject Nova Fatura # {{var data.invoice_id}} do pedido # {{var data.order_id}} @-->


{{template config_path="design/email/header_template"}}
<p>{{trans "Olá, "}} {{var data.name}},</p>
<p>{{trans"Nova fatura liberada"}}{{var data.invoice_id}}{{trans "para o pedido" }} {{var data.order_id}}</p>
<p>{{trans "Situação da Fatura"}} {{var data.invoice_status}}</p>
{{template config_path="design/email/footer_template"}} 