<!--@subject Novo Pedido # {{var data.order_id}} @-->


{{template config_path="design/email/header_template"}}
<p>{{trans Olá, }} {{var data.name}},</p>
<p>{{trans "Você tem um novo pedido na Viramoda: "}} {{var data.order_id}}</p>
<p>{{trans "Status do Pedido"}} {{var data.order_status}}</p>
<p>Por favor, dê andamento ao pedido: Separando, Emitindo Nf-e e inserindo no pedido e posteriormente informe o código de rastreamento.</p>
<p>Em caso de dúvidas, entre em contato com a Viramoda!</p>
{{template config_path="design/email/footer_template"}}