<!--@subject Envio do Pedido # {{var data.order_id}} @-->


{{template config_path="design/email/header_template"}}
<p>{{trans "Olá"}} {{var data.name}}</p>
<p>{{trans "Você tem um novo item para enviar. Pedido: "}}{{var data.order_id}}</p>
<p>{{trans "Status do Pedido"}} {{var data.order_status}} </p>
{{template config_path="design/email/footer_template"}}