{{template config_path="design/email/header_template"}}
<p>{{trans "Você tem um novo cadastro de fornecedor"}}</p>
<p>{{trans "Nome: "}}{{var data.name}}</p>
<p>{{trans "E-mail:"}} {{var data.email}}</p>
<a style="color:#5ac17f" href="{{var data.url}}">{{trans "Acesse a área do Fornecedor"}}</a>
{{template config_path="design/email/footer_template"}}