<!--@subject Avaliação de Cliente  @-->


{{template config_path="design/email/header_template"}}
<p>{{trans "Nova avaliação de"}} <i>{{var data.namestore}}</i>. {{trans "Abaixo está o comentário:"}} </p>
<div style="padding-left:20px;margin:0;border-left:2px solid #ccc;color:#888">
<p>{{trans "Nome :"}} {{var data.nickname}}</p>
<p>{{trans "E-mail:"}} {{var data.email}}</p>
<p>{{trans "Detalhes: "}}{{var data.detail|raw}}</p>
</div>
<p style="padding:20px 0 0 0;margin:0"><b>{{trans "Não responda esse e-mail"}}</b></p>
<br>
<a style="color:#5ac17f" href="{{var data.urllogin}}">{{trans "Clique aqui para acessar a área do fornecedor e aprovar a avaliaçao"}}</a>
{{template config_path="design/email/footer_template"}}