<!--@subject Novo Registro de Fornecedor @-->

{{template config_path="design/email/header_template"}}
<p>{{trans "Você tem um novo registro de fornecedor"}}</p>
<p>Nome: {{var data.name}}</p>
<p>E-mail: {{var data.email}}</p>
<a style="color:#5ac17f" href="{{var data.url}}">Acesse a página do Fornecedor</a>
{{template config_path="design/email/footer_template"}}