<!--@subject {{var ticket.getEmailSubject()}} @-->


{{template config_path="design/email/header_template"}}
<p>{{trans "Você tem uma nova mensagem "}}<i>{{var data.namestore}}</i>. {{trans "Veja abaixo:"}}</p>
<div style="padding-left:20px;margin:0;border-left:2px solid #ccc;color:#888">
{{var data.content|raw}}
</div>
<p style="padding:20px 0 0 0;margin:0"><b>{{trans "Não responda esse e-mail!"}}</b></p>
<br>
<a style="color:#5ac17f" href="{{var data.urllogin}}">{{trans "Clique aqui e responda na sua área de fornecedor"}}</a>
{{template config_path="design/email/footer_template"}}