<!--@subject  Fornecedor Reprovado {{var data.name}} @-->
{{template config_path="design/email/header_template"}}
<p> {{trans "Desculpe"}} {{var data.name}}, </p>
<p>{{trans "Você por momento não foi aprovado na Viramoda. Caso tenha dúvidas, entre em contato conosco."}}</p>
<p style="padding:20px 0 0 0;margin:0"><b>{{trans "Não responda esse e-mail!"}}</b></p>
<br>
{{template config_path="design/email/footer_template"}}