<!--@subject  Produto Rejeitado  {{var data.name}} @-->
{{template config_path="design/email/header_template"}}
<p>{{trans "Produto"}} {{var data.name}} {{trans "não foi aprovado. Corrija e em caso de dúvidas entre em contato com a Viramoda. "}}</p>
<p style="padding:20px 0 0 0;margin:0"><b>{{trans "Não responda esse e-mail"}}</b></p>
<br>
{{template config_path="design/email/footer_template"}}