<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "%email_subject" email_subject=$email_subject}} @-->
<!--@vars {
"var order.getEmailCustomerNote()":"Email Order Note",
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var customer_name":"Customer Name",
"var order.increment_id":"Order Id",
"var danfe_key":"Danfe Key"
"var danfe_link":"Danfe Link"
} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "Olá %customer_name," customer_name=$customer_name}}</p>
            <p>
                {{trans 'A sua nota fiscal para o pedido <b>%order_number</b> já está disponível.' order_number=$order.increment_id | raw}}
                {{trans 'Você fazer o download pelo <a target="_blank" href="%danfe_link">link</a>' danfe_link=$danfe_link | raw}}
                {{trans 'utilizando a chave <b>%danfe_key</b>' danfe_key=$danfe_key | raw}}
            </p>
            <p>
                {{trans 'If you have questions about your order, you can email us at <a href="mailto:%store_email">%store_email</a>'
                store_email=$store_email |raw}}{{depend store_phone}} {{trans 'or call us at <a href="tel:%store_phone">%store_phone</a>'
                store_phone=$store_phone |raw}}{{/depend}}.
                {{depend store_hours}}
                {{trans 'Our hours are <span class="no-link">%store_hours</span>.' store_hours=$store_hours |raw}}
                {{/depend}}
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}