<?php if ($this->getBilletUrl() && $this->getInfo()->getOrder()->getStatus() == 'pending'): ?>
    <span><?php echo __($this->getTitle()) ?></span>
    <hr />
    <a class="action tocart primary mundipagg-link-boleto" id="mundipagg-link-boleto" href="<?php echo $this->getBilletUrl() ?>" target="_blank"><?php echo __('Print Billet') ?></a>
<?php else: ?>
	<span><?php echo __($this->getTitle()) ?></span>
<?php endif ?>

<script type="text/x-magento-init">
    {
        "*" : {
            "MundiPagg_MundiPagg/js/custom/fix-print-billet": {}
        }
    }
</script>
