 <?php
    $Rma_ar = $block->GetSellerRma(); 
    $Url = $this->getBaseUrl().'marketplace/catalog/rma/add';
    
 ?>
<div class="lof-mp-page-title page-title">
    <h2><?php echo __('Manager') ?></h2>
  </div>
 <div class="x_content">
          <table id="datatable" class="table table-striped table-bordered">
              <thead>
                <tr class="headings">
                  <th class="hidden"></th>
                  <th class="column-title"><?php echo __('ID');?> </th>
                  <th class="column-title"><?php echo __('Name');?> </th>
                  <th class="column-title"><?php echo __('Status');?> </th>
                  <th class="column-title"><?php echo __('Created at');?> </th>
                  <th class="column-title"><?php echo __('Order id');?> </th>
                  <th class="column-title"><?php echo __('Action');?> </th>
                  
                </tr>
              </thead>
              <tbody>
                 <?php
                   
                
                 foreach ($Rma_ar as $Rma) { 
                       $baseUrl = $this->getBaseUrl().'marketplace/catalog/rma/view?id='.$Rma["rma_id"];  
                       
              ?>
                <tr class="even pointer">
                  <td class="hidden"></td>
                  <td class=" "><?php echo $Rma["rma_id"] ?></td>
                  <td class=" "><?php echo $Rma["customer_firstname"].' '.$Rma["customer_lastname"] ?></td>
                  <td class=" "><?php echo $block->GetStatusname($Rma["status_id"]) ?></td>
                  <td class=" "><?php echo $Rma["created_at"] ?></td>
                  <td class=" "><?php echo $Rma["order_increment_id"] ?></td>
                  <td class=" last"><a href="<?php echo $baseUrl?>">Edit</a></td>
                  
                </tr>
                <?php
                   }
                ?>
              </tbody>    
            </table>
          
        </div>