<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/** @var $block \Magento\ConfigurableProduct\Block\Product\View\Type\Configurable*/
$_product    = $block->getProduct();
?>
<?php if ($_product->isSaleable() && $block->hasOptions()):?>
<div class="field configurable required">
        <label class="label" for="vnecoms_credit_value">
            <span><?php echo __("Duration") ?></span>
        </label>
        <div class="control">
            <select name="membership[duration]"
                    data-validate="{required:true}"
                    id="lofmp_membership_duration"
                    class="super-attribute-select">
            </select>
        </div>
        <script type="text/x-magento-init">
        {
            "#lofmp_membership_duration": {
                "Lofmp_SellerMembership/js/membership": {
                    "valueFieldSelector": "#lofmp_membership_duration",
                    "priceHolderSelector": ".price-box",
                    "durationOptions": <?php /* @escapeNotVerified */ echo $block->getOptionsJSON() ?>
                }
            }
        }
        </script>
</div>
<?php endif;?>
