<?php
$this->processMembership();
$membership = $this->getMembership();
$helper       = $this->helper("Lof\MarketPlace\Helper\Data");
?>
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
      <div class="x_title">
          <h2><?php echo __('My Membership'); ?></h2>
          <div class="clearfix"></div>
      </div>
      <div class="x_content">
      	<div class="row">
      		<div class="col-md-12">
      			<div class="col-md-3 col-sm-6 col-xs-12">
      				<div class="pricing ui-ribbon-container">
                <?php if(strtotime((new \DateTime())->format('Y-m-d')) >=  strtotime($membership->getExpirationDate())) { ?>
                <div class="ui-ribbon-wrapper">
                  <div class="ui-ribbon">
                    <?php echo __('Expired'); ?>
                    </div>
                </div>
                <?php } ?>
      					<div class="title">
                    	<h2><?php echo $membership->getName(); ?></h2>
                    	<h1><?php echo $helper->getPriceFomat($membership->getPrice()); ?></h1>
                  </div>
                  <div class="x_content">
                  <div class="">
                    <div class="pricing_features">
                      <ul class="list-unstyled text-left">
                        <li><i class="fa fa-check text-success"></i> <?php echo __('Expiry Date').':';?> <strong><?php echo $membership->getExpirationDate(); ?></strong></li>
                        <li><i class="fa fa-check text-success"></i> <?php echo __('Commission').':';?> <strong><?php echo $this->getFeeCommission(); ?></strong></li>
                        <?php foreach($this->getOption() as $k => $option) { ?>
                         <li><i class="fa fa-check text-success"></i>  <strong><?php echo $option; ?></strong></li>
                        <?php } ?>
                      </ul>
                    </div>
                  </div>
                  <div class="pricing_footer">
                    <a href="<?php echo $helper->getFrontendUrl('lofmpmembership/buy'); ?>" class="btn btn-success btn-block" role="button"><?php echo __('Upgrade'); ?></a>
                    <p>
                      <a href="<?php echo $this->getUrl('lofmpsellermembership/membership/payment'); ?>"><?php echo __('View Payment History'); ?></a>
                    </p>
                  </div>
                </div>
      				</div>
      			</div>
      		</div>
      	</div>
      </div>
    </div>      
	</div>
</div>