<li class="myaccount-link">
    <!--<a href="<?php echo $this->getUrl('customer/account') ?>"
       title="<?php echo __('Entrar / Minha Conta') ?>"><?php echo __('') ?><img src="<?php echo $block->getUrl("pub/media/wysiwyg/")?>icone_conta.png"/></a>-->
</li>