.header-10-style {
    .page-main {
        .sidebar-main {
            .sponsor-main {
                .content {
                    background-color: #f05f2b;

                    &:hover {
                        background-color: #e88b69;
                    }

                    .account-nav {
                        .nav {
                            .consult {
                                a {
                                    &:first-child {
                                        color: #fff;
                                        font-weight: 800;

                                        &:hover {
                                            background-color: #e88b69;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.mlm-sponsor-becomesponsor {
    .page-main {
        .sidebar-main {
            .sponsor-main {
                .content {
                    background-color: #f05f2b;

                    .account-nav {
                        .nav {
                            .consult {
                                &::before {
                                    content: "Cadastro do Consultor(a)";
                                    border-left: 2px solid transparent;
                                    padding: 5px 0px 5px 8px;
                                    font-size: 100%;
                                    color: #fff;
                                    font-weight: 800;
                                    font-size: 13px !important;
                                }
                                strong {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        #form-become-sponsor {
        .wk-mp-design {
                .wk-mp-fieldset {
                    .legend {
                        & > span {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
