/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MLM
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

* {
    box-sizing: border-box;
}

.content-sponsor-earning,
.sales-stats-n-members,
.sales-stats-heading-links,
.member-details {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.content-sponsor-earning>*:not(:last-child),
.sales-stats-n-members>*:not(:last-child),
.sales-stats-heading-links>*:not(:last-child),
.member-details>*:not(:last-child) {
    margin-right: 0.5rem;
}

.content-sponsor-earning>*:last-child,
.content-sponsor-earning>*:last-child .sales-heading {
    background-color: #009688;
    color: #FFFFFF;
}

.sales-block {
    width: 185px;
    height: calc(104px - 19px);
    border: 1px solid #C2C2C2;
}

.sales-heading {
    color: #333333;
    font-size: 14px;
    line-height: 19px;
    border-bottom: 1px solid #C2C2C2;
    padding: 0.5rem;
}

.sales-content {
    font-size: 26px;
    line-height: 36px;
    padding: 0.5rem;
}

.sales-stats {
    width: 571px;
    height: 362px;
    border: 1px solid #C2C2C2;
}

.sales-stats-heading {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid #C2C2C2;
    margin-bottom: 0.5rem;
}

.sales-stats-heading-title {
    color: #333333;
    line-height: 19px;
    font-size: 14px;
}

.sales-stats-heading-link {
    color: #333333;
    line-height: 19px;
    font-size: 14px;
}

.sales-stats-content-graph {
    padding: 0.5rem;
}

.member-activities {
    width: 379px;
    height: 362px;
    border: 1px solid #C2C2C2;
}

.member-activities-heading {
    color: #333333;
    line-height: 19px;
    font-size: 14px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid #C2C2C2;
    margin-bottom: 0.5rem;
}

.member-details-item {
    height: 94px;
    width: 314px;
    border: 1px solid #C2C2C2;
}

.member-details-item .downline-member-count {
    color: #333333;
    font-size: 26px;
    line-height: 36px;
    padding: 0.5rem;
    padding-bottom: 0;
}

.member-details-item .downline-member-tree {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.downline-member-tree-genealogy-tree,
.downline-member-tree-heading {
    line-height: 19px;
    font-size: 14px;
}

.member-details-item.member-level {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
}

.member-details-item.member-level .badge-image {
    width: 62px;
    height: 80px;
}

.member-details-item.member-level .badge-title {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    padding-left: 0.5rem;
}

.member-details-item.member-level .badge-title .badge-name {
    color: #333333;
    font-size: 26px;
    line-height: 36px;
}

.member-details-item.member-level .badge-title .badge-label {
    line-height: 19px;
    font-size: 14px;
    color: #333333;
}

.member-details-item.become-diamond-member {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    padding-left: 0.5rem;
}

.become-diamond-label {
    line-height: 19px;
    font-size: 14px;
    color: #333333;
}

.become-diamond-price {
    color: #333333;
    font-size: 26px;
    line-height: 36px;
}

.sponsor-heading {
    font-size: 22px;
    line-height: 30px;
    color: #333333;
    border-bottom: 1px solid #979797;
    margin-bottom: 2rem;
    padding: 0.5px;
    margin-top: 4rem;
}

.sponsor-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
}

.your-sponsor-info {
    width: 500px;
}

.your-sponsor-info-label {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 1rem;
}

.your-sponsor-info-sponsor-code {
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}

.referral-sponsor-info-heading {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 1rem;
}

.referral-sponsor-info-id {
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}

.referral-sponsor-info-name {
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}

.referral-sponsor-info-email {
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}