/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MLM
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

fieldset.fieldset.info {
    width: 473px;
}

.current-month-balance {
    height: 94px;
    width: 473px;
    padding: 1rem;
    border: 1px solid #C2C2C2;
}

.current-month-balance-value {
    font-size: 26px;
    line-height: 36px;
    color: #333333;
}

.current-month-balance-label {
    font-size: 14px;
    line-height: 19px;
    color: #333333;
}