/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MLM
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

#sponsor-referral-link {
  width: 50%;
  border: lightgrey solid 1px;
}

.heading-referral {
  border-bottom: lightgrey solid 1px;
  padding: 10px;
}

.heading-referral span {
  font-size: large;
}

.content-referral {
  padding: 10px;
}

.content-referral div span.referral-id {
  font-size: x-large;
}

.referral-button label {
  font-weight: 600;
}

.tooltip,
.popupTooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext,
.popupTooltip .popupTooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  overflow: hidden;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after,
.popupTooltip .popupTooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  opacity: 1;
}

.shareable-link {
  display: none;
}

.link-label {
  border: lightgrey 1px solid;
  padding: 5px;
}