/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MLM
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

.field-name-sponsors-reference-id input {
    width: 70%;
}

.field-name-sponsors-reference-id a {
    width: 70%;
}

#email-form-container {
    width: 50%;
}