/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MLM
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

* {
    box-sizing: border-box;
}

.wallet-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 4rem;
}

.wallet-container>*:not(:last-child) {
    margin-right: 0.5rem;
}

.wallet-container-item {
    width: 313px;
    height: 94px;
    border: 1px solid #C2C2C2;
    padding: 0.5rem;
}

.current-month-balance.wallet-container-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}

.current-amount {
    margin-right: 1rem;
}

.current-amount-value {
    font-size: 26px;
    line-height: 36px;
    color: #333333;
}

.current-amount-label {
    font-size: 14px;
    line-height: 19px;
    color: #333333;
}

.request-payment-button {
    font-size: 14px;
    line-height: 19px;
    color: #333333;
}

.total-amount {
    font-size: 26px;
    line-height: 36px;
    color: #333333;
}

.total-amount-text {
    font-size: 14px;
    line-height: 19px;
    color: #333333;
}

.requested-amount {
    font-size: 26px;
    line-height: 36px;
    color: #333333;
}

.requested-amount-text {
    font-size: 14px;
    line-height: 19px;
    color: #333333;
}
.add-banner-button a.button{
    background-image: none;
    background: #1979c3;
    border: 1px solid #1979c3;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    padding: 7px 15px;
    font-size: 1.4rem;
    box-sizing: border-box;

}
.sponsor-product-slider .owl-item .item.product.product-item{
    width: 100% !important;
}
.product-item .product-item-info{
    width: 100%;
}
.sponsor-product-slider .products-grid .product-item-actions{
    margin: 10px 0 10px;
}