<?php
$helper       = $this->helper("Lof\MarketPlace\Helper\Data");
$seller = $helper->getSellerByCustomer();
$sellerId   = $seller['seller_id'];
?>
<div class="lof-mp-page-title page-title">
	<h2><?php echo __('Your Badge(s)') ?></h2>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="x_panel">
			<div class="x_content">
				<div class="row">
					<div class="col-md-2">
						<?php if($this->showBadge($sellerId)) {
						foreach ($this->showBadge($sellerId) as $key => $seller_badge) {
							$badge = $this->getBadge($seller_badge->getData('sbm_badge_id'));
						?>
						<div class="thumbnail">
							<div class="image view view-first">
	                            <img style="width: 100%; display: block;" src="<?php echo $helper->getMediaUrl().$badge->getData('sb_image'); ?>" alt="<?php echo $badge->getData('sb_name'); ?>">
	                            <div class="mask">
	                              <p><?php echo $badge->getData('sb_name'); ?></p>
	                             
	                            </div>
                          	</div>
                          	<div class="caption">
                            	<p><?php echo $badge->getData('sb_description'); ?></p>
                          	</div>
						</div>
						<?php } 
						}?>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>