<?php 

    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
       $name = '';
       $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
        $url = $block->getUrl('*/*/*/'
            );

    if($params = $this->getRequest()->getParams()){
    
    
      $endate =str_replace( '.', '-', $params['to'] ); 
        $startdate =str_replace( '.', '-', $params['from'] ); 
      
            $name = $params['pr'];
    }
    else{
        $type= 'month';
         $startdate = date("Y-m-d",strtotime("-1 month"));
        $endate = date("Y-m-d");
        $name = '';
    }
    

    $resourceCollection =  $objectManager->create('Lofmp\Rma\Model\ResourceModel\Item\Collection')
           ->addFieldToFilter(
                    'main_table.reason_id',
                    array('notnull' => true)
                )
            ->setDateColumnFilter('created_at')
            ->addDateFromFilter($startdate)
            ->addDateToFilter( $endate)
            ->_getReasonSelectedColumns($name);
            if($name){
            $resourceCollection->addFieldToFilter('product.value', array('like' => '%' . $name . '%'));
            }
   
    $collection = $resourceCollection->getData();  

?>
<div class = 'reasonchart'>

                <div class="filter">
                    <label>From</label>

                    <input name="datefrom" id="datefrom"  value="<?php echo $startdate ?>" type="text">
                    <label>To</label>
                    <input name="dateto" id="dateto"  value="<?php echo $endate ?>" type="text">
                    <label>Product</label>
                    <input name="pr" id="pr"  value="<?php echo $name ?>" type="text">
                <button type="button" id='filter' >Filter</button>
                    
                </div>
           

 

<script type="text/javascript">
                    require([
                        "jquery",
                        "mage/calendar"
                        ], function($){
                          $('#datefrom').datepicker({
                               prevText: '&#x3c;zurück', prevStatus: '',
                                prevJumpText: '&#x3c;&#x3c;', prevJumpStatus: '',
                                nextText: 'Vor&#x3e;', nextStatus: '',
                                nextJumpText: '&#x3e;&#x3e;', nextJumpStatus: '',
                               monthNames: ['January','February','March','April','May','June',
                                'July','August','September','October','November','December'],
                                monthNamesShort: ['Jan','Feb','Mar','Apr','May','Jun',
                                'Jul','Aug','Sep','Oct','Nov','Dec'],
                                dayNames: ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'],
                                dayNamesShort: ['Su','Mo','Tu','We','Th','Fr','Sa'],
                                dayNamesMin: ['Su','Mo','Tu','We','Th','Fr','Sa'],
                              showMonthAfterYear: false,
                              dateFormat:'yy.mm.dd '
                            } 
                          );
                           $('#dateto').datepicker({
                              prevText: '&#x3c;zurück', prevStatus: '',
                                prevJumpText: '&#x3c;&#x3c;', prevJumpStatus: '',
                                nextText: 'Vor&#x3e;', nextStatus: '',
                                nextJumpText: '&#x3e;&#x3e;', nextJumpStatus: '',
                                monthNames: ['January','February','March','April','May','June',
                                'July','August','September','October','November','December'],
                                monthNamesShort: ['Jan','Feb','Mar','Apr','May','Jun',
                                'Jul','Aug','Sep','Oct','Nov','Dec'],
                                dayNames: ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'],
                                dayNamesShort: ['Su','Mo','Tu','We','Th','Fr','Sa'],
                                dayNamesMin: ['Su','Mo','Tu','We','Th','Fr','Sa'],
                              showMonthAfterYear: false,
                              dateFormat:'yy.mm.dd'
                             });
                             var t = $('#dateto').val();
                             var  fr = $('#datefrom').val();
                              var pr = $('#pr').val();
                             $( "#dateto" ).change(function() {
                                t = $('#dateto').val();
                            });
                             $( "#datefrom" ).change(function() {
                                fr = $('#datefrom').val();
                            });
                              $('#pr').change(function() {
                                pr = $('#pr').val();
                            });
                             $( "#filter" ).click(function() {
                         window.location.href = '<?php echo $url ?>?from='+fr+'&to='+t+'&pr='+pr;
                                            });
                        });
                    </script>

<?php
if(count($collection)>0){
?>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawVisualization);
      var d = [];
        d.push(['Reason(Product)','Total RMA','Total Request','Total Return']);
          <?php 
          if($name){
           foreach ($collection as $value) {
            if(!$value['total_returned_cnt'])
              $value['total_returned_cnt'] = 0;
          ?>
             d.push(["<?php echo $value['reason_name'].'-'.$value['product_name'] ?>",<?php 
                echo $value['total_rma_cnt'] ?>,<?php echo $value['total_requested_cnt'] ?>,<?php echo $value['total_returned_cnt'] ?>]);
             

        <?php 
           } 
       }
       else{
             foreach ($collection as $value) {
              if(!$value['total_returned_cnt'])
              $value['total_returned_cnt'] = 0;
     ?>
      d.push(["<?php echo $value['reason_name'] ?>",<?php 
                echo $value['total_rma_cnt'] ?>,<?php echo $value['total_requested_cnt'] ?>,<?php echo $value['total_returned_cnt'] ?>]);
             

        <?php 
           } 
       }
        ?>   

      function drawVisualization() {
        // Some raw data (not necessarily accurate)
        var data = google.visualization.arrayToDataTable(d);

    var options = {
      title : 'RMA Reason Report',
      vAxis: {title: 'Number'},
      hAxis: {title: 'Reason'},
      seriesType: 'bars',
     /* series: {5: {type: 'line'}}*/
    };

    var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
    </script>

<a id="export_link" target="_blank" style="float:right; z-index: 10000;position:relative;">Save chart as an image</a>
<div id="chart_div" style="widht: 100%; height: 400px;"></div>
<?php
}
?>
</div>