<div class="action-select-wrap" collapsible>
    <button class="action-select" translate="'Select'" toggleCollapsible/>
    <ul class="action-menu" css="_active: $collapsible.opened">
        <li repeat="foreach: $parent.getActions($record()), item: '$action'">
            <a class="action-menu-item" click="$parent.applyAction.bind($parent, $action(), $record().recordId)" text="$action().label" />
        </li>
    </ul>
</div>
