
<!-- 
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MLM
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */ -->
    <div class="wk-mp-design">
		<fieldset class="fieldset info wk-mp-fieldset">
			<legend class="legend">
                <!-- ko if:$data.isEditPage() -->
				<a
					class="button wk-delete-row primary action wk-mp-btn"
					title="Delete"
                    id ="deleteButton"
                    style="display:none"
					data-bind="attr: {'delete-url': getDeleteUrl()}"
				>
					<span><span data-bind="text:'Deletar'"></span></span>
                </a>
                <!-- /ko -->
                <a
					class="button primary action wk-mp-btn"
					title="Back"
                    id ="backButton"
                    style="display: none;"
					data-bind="attr: {'href': getBackUrl()}"
				>
					<span><span data-bind="text:'Voltar'"></span></span>
				</a>
            </legend>
            <!-- ko foreach: $data.formData -->
                <!-- ko if: $parent.checkType($data, 'hidden') -->
                    <input data-bind="attr: {
                        'name': $data.name,
                        'class': $data.class,
                        'type': $data.input
                    },
                    value: value" />
                <!-- /ko -->
                <!-- ko ifnot: $parent.checkType($data, 'hidden') -->
                <div data-bind="attr: {'class': 'field '+$data.isRequired}">
                    <label class="label" data-bind="text: label"></label>
                    <div class="control">

                        <!-- ko if: $parent.checkType($data, 'text') -->
                            <input data-bind="attr: {
                                'name': $data.name,
                                'class': $data.class,
                                'type': $data.input
                            },
                            value: value" />
                            <!--ko if : $data.notice -->
                            <span data-bind="
                              'text' : $data.notice
                            ">                            
                          </span>
                            <!-- /ko -->
                        <!-- /ko -->

                        <!-- ko if: $parent.checkType($data, 'textarea') -->
                                <textarea data-bind="attr: {
                                    'name' :$data.name,
                                    'class': $data.class,
                                },
                                text: value
                                "></textarea>
                        <!-- /ko -->

                        <!-- ko if: $parent.checkType($data, 'checkbox') -->
                            <input data-bind="attr: {
                                    'name' : $data.name,
                                    'class': $data.class,
                                    'type' : $data.input
                                },
                                value: value
                            "/>
                        <!-- /ko -->

                        <!-- ko if: $parent.checkType($data, 'select') -->
                                <select data-bind="attr: {
                                        'name' : $data.name,
                                        'class': $data.class
                                    },
                                    options: $data.options,
                                    optionsText: function(item) {
                                        return item.label
                                    },
                                    optionsValue: function(item) {
                                        return item.value
                                    },
                                    value: value
                                ">
                                </select>
                        <!-- /ko -->

                        <!-- ko if: $parent.checkType($data, 'multiselect') -->
                        <select  data-bind="
                                attr: {
                                    'name' : $data.name,
                                    'class': $data.class,
                                    'multiple' : 'multiple'
                                },                                
                                optgroup: options,
                                selectedOptions: value,
                                optionsValue: 'value',
                                value: value,
                                optionsCaption: caption,
                                optionsText: 'label'"
                            />
                        <!-- /ko -->

                        <!-- ko if: $parent.checkType($data, 'simple_action') -->
                        <select  data-bind="
                                attr: {
                                    'name' : $data.name,
                                    'class': $data.class
                                },                                
                                optgroup: options,
                                selectedOptions: value,
                                optionsValue: 'value',
                                value: value,
                                optionsCaption: caption,
                                optionsText: 'label'"
                            />
                        <!-- /ko -->
                        
                        <!-- ko if: $parent.checkType($data, 'file') -->
                                <span data-bind="html:$parent.addFileUploader($data)"></span>
                                <!-- ko foreach: $parent.getRegion('file-upload-area') -->
                                    <!-- ko template: getTemplate() --><!-- /ko -->
                                <!--/ko-->
                        <!-- /ko -->
                        
                    </div>
                </div>
            <!-- /ko -->
            <!-- /ko -->
        </fieldset>
    </div>
