<div class="header-container header-style-10">
    <div class="header-top-services">
        <div class="container">
            <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('top-sv-header')->toHtml(); ?>
        </div>
    </div>

    <div class="header-wrapper">
        <div class="container">
            <div class="header-top">
                <div class="row">
                    <div class="col-lg-3 col-md-4 language-currency">
                        <div class="language-currency-content">
                            <p><a href="<?php echo $this->getUrl('consultores_viramoda') ?>" title="Consultoras Viramoda"><img src="<?php echo $block->getUrl("pub/media/wysiwyg/")?>consultoras.jpg"/></a></p>
			    <?php echo $block->getChildHtml('language-header'); ?>
                            <?php echo $block->getChildHtml('currency-header'); ?>
                        </div>
                    </div>

                    <div class="col-lg-9 col-md-8 right-content">
                        <div class="action-content">
                            <div class="minicart-header">
                                <?php echo $block->getChildHtml('cart-header'); ?>
                            </div>
                            <?php echo $block->getChildHtml('toplinks-header'); ?>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header-middle">
                <div class="row">
                    <div class="col-lg-4">
                    </div>

                    <div class="col-lg-4 logo-header">
                        <?php echo $block->getChildHtml('logo_theme'); ?>
                    </div>
                </div>
            </div>

            <div class="header-bottom">
                <div class="row">
                    <div class="col-lg-10 main-megamenu">
                        <div class="menu-full">
                            <?php
                            if ($_config->getGeneral('menu_style') == 'megamenu') {
                                echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('megamenu-horizontal')->toHtml();
                            } else {
                                echo $block->getChildHtml('navigation-header');
                            }
                            ?>
                        </div>

                        <div class="navigation-mobile-container">
                            <?php echo $block->getChildHtml('navigation.mobile'); ?>
                        </div>
                    </div>
                    <div class="col-lg-2 searchbox-header">
                        <?php echo $block->getChildHtml('search-header'); ?>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
