<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MLM
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

$magentoCurrentUrl = $block->escapeUrl($block->getCurrentUrl());
?>
<style type="text/css">
    @media only screen and (max-width: 767px) {
        .block-collapsible-nav.sponsor-main{
            top: 20px;
            margin-bottom: 25px;
        }
    }
    .block-collapsible-nav.sponsor-main{
        margin-bottom: 15px !important;
    }
</style>
<div class="block account-nav block-collapsible-nav sponsor-main">
    <div class="title block-collapsible-nav-title"
        data-mage-init='{"toggleAdvanced":
            {"toggleContainers": "#block-collapsible-nav-sponsor", "selectorsToggleClass": "active"}}'>
        <strong><?= /* @noEscape */ __('Virtual office'); ?></strong>
    </div>
    <div class="content block-collapsible-nav-content" id="block-collapsible-nav-sponsor">
        <nav class="account-nav">
        <?php if ($block->isSponsor() && $block->isApproved()) { ?>
            <ul class="nav items">
                <li class="nav item <?= /* @noEscape */ strpos($magentoCurrentUrl, 'mlm/sponsor/dashboard')
                    ? "current":"";?>">
                    <?php if (strpos($magentoCurrentUrl, 'mlm/sponsor/dashboard') !== false) { ?>
                        <strong><?= /* @noEscape */ __('Virtual office') ?></strong>
                    <?php } else { ?>
                        <a href="<?= $block->escapeUrl($block->getDashboardUrl()); ?>">
                            <?= /* @noEscape */ __('Virtual office') ?>
                        </a>
                    <?php } ?>
                </li>
                <li class="nav item <?= /* @noEscape */ strpos($magentoCurrentUrl, 'mlm/sponsor/ads')? "current":"";?>">
                    <?php if (strpos($magentoCurrentUrl, 'mlm/sponsor/ads') !== false) { ?>
                        <strong><?= /* @noEscape */ __('Custom ads') ?></strong>
                    <?php } else { ?>
                        <a href="<?= $block->escapeUrl($block->getAdsUrl()); ?>">
                            <?= /* @noEscape */ __('Custom ads') ?>
                        </a>
                    <?php } ?>
                </li>

                <li class="nav item <?= /* @noEscape */ strpos($magentoCurrentUrl, 'mlm/sponsor/wallet')
                    ? "current":"";?>">
                    <?php if (strpos($magentoCurrentUrl, 'mlm/sponsor/wallet') !== false) { ?>
                        <strong><?= /* @noEscape */ __('Your wallet') ?></strong>
                    <?php } else { ?>
                        <a href="<?= $block->escapeUrl($block->getWalletUrl()); ?>">
                            <?= /* @noEscape */ __('Your wallet') ?>
                        </a>
                    <?php } ?>
                </li>

                <li class="nav item <?= /* @noEscape */ strpos($magentoCurrentUrl, 'mlm/sponsor/genealogytree')
                    ? "current":"";?>">
                    <?php if (strpos($magentoCurrentUrl, 'mlm/sponsor/genealogytree') !== false) { ?>
                        <strong><?= /* @noEscape */ __('Genealogy') ?></strong>
                    <?php } else { ?>
                        <a href="<?= $block->escapeUrl($block->getGenealogyTreeUrl()); ?>">
                            <?= /* @noEscape */ __('Genealogy') ?>
                        </a>
                    <?php } ?>
                </li>
                <li class="nav item <?= /* @noEscape */ strpos($magentoCurrentUrl, 'mlm/sponsor/referral')
                    ? "current": strpos($magentoCurrentUrl, 'mlm/sponsor/email') ? "current" : ""; ?>">
                    <?php if (strpos($magentoCurrentUrl, 'mlm/sponsor/referral') !== false) { ?>
                        <strong><?= /* @noEscape */ __('Reference Link') ?></strong>
                    <?php } else { ?>
                        <a href="<?= $block->escapeUrl($block->getReferralUrl()); ?>">
                            <?= /* @noEscape */ __('Reference Link') ?>
                        </a>
                    <?php } ?>
                </li>

                <li class="nav item <?= /* @noEscape */ strpos($magentoCurrentUrl, 'mlm/sponsor/payment')
                    ? "current":"";?>">
                    <?php if (strpos($magentoCurrentUrl, 'mlm/sponsor/payment') !== false) { ?>
                        <strong><?= /* @noEscape */ __('Receiving Methods') ?></strong>
                    <?php } else { ?>
                        <a href="<?= $block->escapeUrl($block->getPaymentMethodUrl()); ?>">
                            <?= /* @noEscape */ __('Receiving Methods') ?>
                        </a>
                    <?php } ?>
                </li>
                <li class="nav item <?= /* @noEscape */ strpos($magentoCurrentUrl, 'mlm/sponsor/sponsorDetails')
                    ? "current":"";?>">
                    <?php if (strpos($magentoCurrentUrl, 'mlm/sponsor/sponsporDetails') !== false) { ?>
                        <strong><?= /* @noEscape */ __('Set up your store') ?></strong>
                    <?php } else { ?>
                        <a href="<?= $block->escapeUrl($block->getSponsorConfigurationUrl()); ?>">
                            <?= /* @noEscape */ __('Set up your store') ?>
                        </a>
                    <?php } ?>
                </li>
                <li class="nav item <?= /* @noEscape */ strpos($magentoCurrentUrl, 'mlm/sponsor/banner')
                    ? "current":"";?>">
                    <?php if (strpos($magentoCurrentUrl, 'mlm/sponsor/banner') !== false) { ?>
                        <strong><?= /* @noEscape */ __('Banners Configuration') ?></strong>
                    <?php } else { ?>
                        <a href="<?= $block->escapeUrl($block->getSponsorBannerConfigurationUrl()); ?>">
                            <?= /* @noEscape */ __('Banners Configuration') ?>
                        </a>
                    <?php } ?>
                </li>

            </ul>
        <?php } elseif ($block->isSponsor() && (!$block->isApproved())) {?>
            <ul class="nav items">
                <li class="nav item <?= /* @noEscape */ strpos($magentoCurrentUrl, 'mlm/sponsor/becomepartner')
                ? "current":"";?>">
                <?php if (strpos($magentoCurrentUrl, 'mlm/sponsor/becomesponsor') !== false) { ?>
                    <strong><?= /* @noEscape */ __('Request is under analysis') ?></strong>
                <?php } else { ?>
                    <a href="<?= $block->escapeUrl($block->getBecomeSponsorUrl()); ?>">
                        <?= /* @noEscape */ __('Request is under analysis') ?>
                    </a>
                </li>
                <?php } ?>
            </ul>

        <?php } else { ?>
            <ul class="nav items">
                <li class="nav item consult <?= /* @noEscape */ strpos($magentoCurrentUrl, 'mlm/sponsor/becomepartner')
                ? "current":"";?>">
                <?php if (strpos($magentoCurrentUrl, 'mlm/sponsor/becomesponsor') !== false) { ?>
                    <strong><?= /* @noEscape */ __('Click here and become a Viramoda consultant!') ?></strong>
                <?php } else { ?>
                    <a href="<?= $block->escapeUrl($block->getBecomeSponsorUrl()); ?>">
                        <?= /* @noEscape */ __('Click here and become a Viramoda consultant!') ?>
                    </a>
                </li>
                <?php } ?>
            </ul>
        <?php } ?>
        </nav>
    </div>
</div>
