<?php $imageHelper = $this->helper(\Magento\Catalog\Helper\Image::class); 
$placeholderImageUrl = $imageHelper->getDefaultPlaceholderUrl('image');
$storeId = $block->getStoreId($block->getLayoutId());
?>
<div id="add_new_bannerslider" style="display: inline-block;">
    <button class="button_submit_form_component btn btn-success" id="add-bannerslider-form-btn" style="float: right;" type="button"><span>Add New Banner/Offer</span></button>
</div>
<div id="banner_offer_slider_form" style="display: none;">
    <form action="" method="post" enctype="multipart/form-data" id="save_banneroffer_slider" onsubmit="return submitBannerSlider(event);">
        <fieldset class="admin__fieldset"> 
            <div class="admin__field">
                <label class="admin__field-label" for="banner_position">
                   <span>Banner Title</span>&nbsp;&nbsp;<span class="required">*</span>
                </label>
                <div class="admin__field-control">
                    <div class="admin__control">
                        <input value="" class="admin__control-text" type="text"  name="banner_title" id="banner_title">
                    </div>
                    <span id="banner_title_error" class="banner-error text-danger"></span>
                </div>
            </div>
            
            <input type="hidden" name="banner_id" value="<?= $block->getComponentId() ?>"/>
            <input type="hidden" name="layout_id" value="<?= $block->getLayoutId() ?>"/>
            <input type="hidden" name="banner_component_id" value="<?= $block->getLayoutId() ?>"/>
            <input type="hidden" name="banner_slider_id" id="banner_slider_id" value=""/>
            <input type="hidden" name="banner_slider_image" id="banner_slider_image" value="new"/>

            <div class="admin__field">
                <label class="admin__field-label" for="image_type">
                    <span>Select Image Type</span>&nbsp;&nbsp;<span class="required">*</span>
                </label>
                <div class="admin__field-control">
                    <div class="admin__control">
                        <select name="image_type" id="image_type" class="admin__control-select">
                            <option value="">Select an option</option>
                            <option value="url">URL</option>
                            <option value="image">Upload</option>
                        </select>
                    </div>
                    <span id="image_type_error" class="banner-error text-danger"></span>
                </div>
            </div>

            <div class="admin__field" id="image_url_sec" style="display: none;">
                <label class="admin__field-label" for="image_url">
                    <span>Image Url</span>&nbsp;&nbsp;<span class="required">*</span>
                </label>
                <div class="admin__field-control">
                    <div class="admin__actions-switch">
                        <input name="image_url" id="image_url" value="" placeholder="Enter URL" type="url" class="action-default scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only banner-upload-btn" style="padding: 10px;background: whitesmoke;display: block;width: 450px;text-align: left">
                    </div>
                    <div class="note admin__field-note" id="filename-note">
                        <b>Note : </b> Allowed file types are jpg, jpeg, png, gif and webp.
                    </div>
                    <span id="image_url_error" class="banner-error text-danger"></span>
                </div>
            </div>
            
            <div class="admin__field" id="image_file_sec" style="display: none;">
                <label class="admin__field-label" for="slideruploadedfile">
                    <span>Image Upload</span>&nbsp;&nbsp;<span class="required">*</span>
                </label>
                <div class="admin__field-control">
                    <div class="admin__actions-switch">
                        <input name="slideruploadedfile" id="slideruploadedfile" value="" type="file" onchange="readURL(this);" class="action-default scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only banner-upload-btn" style="padding: 10px;background: whitesmoke;display: block;">
                    </div>
                    <div class="note admin__field-note" id="filename-note">
                        <b>Note : </b> Allowed file types are jpg, jpeg, png, gif and webp.
                    </div>
                    <span id="slideruploadedfile_error" class="banner-error text-danger"></span>
                </div>
            </div>

            <img src="<?= $placeholderImageUrl; ?>" id="placeholder_img" style="display:none"/>
            <div class="admin__field" id="image_url_holder" style="display: none;">
                <label class="admin__field-label">
                    <span>Image</span>
                </label>
                <div class="admin__field-control">
                    <div class="admin__actions-switch">
                        <img id="sliderimage" src='<?=$placeholderImageUrl?>' style="margin: 0px 2px 3px 0px;max-width: 200px;height: 100px;border: 1px solid whitesmoke;" align="absmiddle">
                    </div>
                </div>
            </div>

            <div class="admin__field">
                <label class="admin__field-label" for="status">
                    <span>Status</span>
                </label>
                <div class="admin__field-control">
                    <div class="admin__control">
                        <select name="status" id="status" class="admin__control-select">
                            <option value="1"><?= __('Enable'); ?></option>
                            <option value="0"><?= __('Disable'); ?></option>
                        </select>
                    </div>
                    <span id="status_error" class="banner-error text-danger"></span>
                </div>
            </div>


            <div class="admin__field">
                <label class="admin__field-label" for="type">
                    <span>Type</span>&nbsp;&nbsp;<span class="required">*</span>
                </label>
                <div class="admin__field-control">
                    <div class="admin__control">
                        <select name="banner_type" id="banner_type" class="admin__control-select">
                        <option value=""><?= __('Select'); ?></option>
                        <option value="category_offers"><?= __('Category'); ?></option>
                        <option value="product"><?= __('Product'); ?></option>
                        <option value="offer"><?= __('Offer'); ?></option>
                        </select>
                    </div>
                    <span id="banner_type_error" class="banner-error text-danger"></span>
                </div>
            </div>

            <div class="admin__field" id="banner_category_id_holder" style="display: none;">
                <label class="admin__field-label" for="banner_category_id">
                    <span>Select Category</span>&nbsp;&nbsp;<span class="required">*</span>
                </label>
                <div class="admin__field-control">
                    <div class="admin__control">
                        <select name="banner_category_id" id="banner_category_id" class="admin__control-select">
                            <?php foreach ($block->getCategoryArray($storeId) as $key => $value) : ?> 
                                <option value='<?= $key ?>'><?= $value ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                    <span id="banner_category_id_error" class="banner-error text-danger"></span>
                </div>
            </div>

            <div class="admin__field" id="product_id_holder" style="display: none;">
                <label class="admin__field-label" for="redirect_banner_product_id">
                    <span>Select Product</span>&nbsp;&nbsp;<span class="required">*</span>
                </label>
                <div class="admin__field-control">
                    <div class="admin__control">
                        <select name="redirect_banner_product_id" id="redirect_banner_product_id" class="admin__control-select">
                            <?php foreach ($block->getProductArray($storeId) as $key => $value) : ?> 
                                <option value='<?= $key ?>'><?= $value ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                    <span id="redirect_banner_product_id_error" class="banner-error text-danger"></span>
                </div>
            </div>

            <div class="admin__field" style="display: none;" id="offer_links">
                <label class="admin__field-label" for="offer_link_redirect">
                    <span>Offer Link</span>&nbsp;&nbsp;<span class="required">*</span>
                </label>
                <div class="admin__field-control">
                    <div class="admin__control">
                        <input value="" class="admin__control-text" type="text" placeholder="" name="offer_link_redirect" id="offer_link_redirect">                        
                    </div>
                    <span id="offer_link_redirect_error" class="banner-error text-danger"></span>
                </div>
            </div>

            <div class="admin__field">
                <label class="admin__field-label" for="banner_position">
                    <span>Sort Order</span>&nbsp;&nbsp;<span class="required">*</span>
                </label>
                <div class="admin__field-control">
                    <div class="admin__control">
                        <input value="" class="admin__control-text" type="text" placeholder="" name="banner_position" id="banner_position">                        
                    </div>
                    <span id="banner_position_error" class="banner-error text-danger"></span>
                </div>
            </div>
            <input type="hidden" id="bannerslider_form_save_type" name="save_type" value="">
            <button class="button_submit_form_component btn btn-warning" id="bannerslider-save-add-new-btn" style="float: right;" type="submit"><span>Save & Add New</span></button>
            <button class="button_submit_form_component btn btn-success" id="bannerslider-save-btn" style="float: right; margin-right: 5px;" type="submit"><span>Save</span></button>
        </fieldset>
    </form>
</div>