<!-- Copyright © Biztech, Inc. All rights reserved. -->
<!-- See COPYING.txt for license details. -->
<?php

$id = 0;
$layout_id = $block->getRequest()->getParam('id');
$layoutComponentModel = $block->getLayoutComponentModel()
->getCollection()
->addFieldToFilter('layout_id', ['eq' => $layout_id])
->setPageSize(1)
->setCurPage(1)
->load();

foreach ($layoutComponentModel as $value) {
	$id = $value->getId();
}

?>
<div id="popup-modal1" style="display:none;">
	<div id="featured_category_block_modal">
		<form action method="post" enctype="multipart/form-data" id="save_featured_category_blocks">
		</form>
	</div>
	<div id="product_grid_modal">
		<form action method="post" enctype="multipart/form-data" id="save_product_grid">
		</form>
	</div>
	<div id="product_horizontal_sliding_modal">
		<form action method="post" enctype="multipart/form-data" id="save_product_horizontal_slider">
		</form>
	</div>
	<div id="banner_slider_modal">
		<form action method="post" enctype="multipart/form-data" id="save_banner_slider">
		</form>
	</div>
</div>
<div class="bootstrap">
	<div id="layout_add_edit_form" class="layout_add_edit_form">
		<div class="row">
			<div class="productTabs col-lg-3 col-md-3 col-sm-6">
				<div class="list-group">
					<a id="featured_categories" class="list-group-item add-component">Featured Categories<i class="glyphicon glyphicon-plus-sign add-action" style="padding-right:5px"></i></a>
					<a id="product_grid" class="list-group-item add-component">Products Grid<i class="glyphicon glyphicon-plus-sign add-action" style="padding-right:5px"></i></a>
					<a id="product_horizontal_slider" class="list-group-item add-component">Products Horizontal Slider<i class="glyphicon glyphicon-plus-sign add-action" style="padding-right:5px"></i></a>
					<a id="banner_slider" class="list-group-item add-component">Banner/Offer Slider<i class="glyphicon glyphicon-plus-sign add-action" style="padding-right:5px"></i></a>
					<a id="recently_accessed_products" class="list-group-item add-component">Recently Accessed Products<i class="glyphicon glyphicon-plus-sign add-action" style="padding-right:5px"></i></a>

				</div>
			</div>

			<div class="col-lg-5 col-md-4 col-sm-6">
				<div class="panel panel-default" style="min-height:400px;">
					<ul id="sortablelist" class="list-group list-unstyled">
						<!-- DYNAMIC HTML -->
						<?php

						if ($id) {
							$lcModel = $block->getLayoutComponentModel()->load($id)->getComponentData();
							if (!empty($lcModel)) {
								foreach (json_decode($lcModel) as $values) {
									foreach ($values as $key => $value) {
										switch ($key) {
											case "fcb":
											echo $block->getFeaturedCategoryListData($value);
											break;
											case "productgrid":
											echo $block->getProductGridListData($value);
											break;
											case "phs":
											echo $block->getPhsListData($value);
											break;
											case "bannerslider":
											echo $block->getBannerSliderListData($value);
											break;
											case "recentproducts":
											echo $block->getRecentProductListData($value);
											break;
											default:
											break;
										}
									}
								}
							}
						}

						?>
					</ul>
				</div>			
			</div>

			<div class="col-lg-4 col-md-5 col-sm-12">
				<div class="front_preview">
					<div class="layout_gallery _mCS_1 auto-scrolling-to-bottom">
						<div id="mCSB_1" class="mCS-dark mCSB_vertical mCSB_inside" style="max-height: 476px;" tabindex="0">
							<div id="mCSB_1_container" class="mCSB_container" style="position: relative; top: -2px; left: 0px;" dir="ltr">
								<div class="iframe_html" id="iframe_html_mobile">
									<!-- DYNAMIC HTML -->
									<?php
									if ($id) {
										$lcModel = $block->getLayoutComponentModel()->load($id)->getComponentData();
										if (!empty($lcModel)) {
											foreach (json_decode($lcModel) as $values) {
												foreach ($values as $key => $value) {
													switch ($key) {
														case "fcb":
														echo $block->getFeaturedCategoryMobileListData($value);
														break;
														case "productgrid":
														echo $block->getProductGridMobileListData($value);
														break;
														case "phs":
														echo $block->getPhsMobileListData($value);
														break;
														case "bannerslider":
														echo $block->getBannerSliderMobileListData($value);
														break;
														case "recentproducts":
														echo $block->getRecentProductMobileListData($value);
														break;
														default:
														break;
													}
												}
											}
										}
									}
									?>
								</div>
							</div>
								</div>
							</div>
						</div>			
					</div>

					<input type="hidden" id="number_of_component" value="7">
					<input type="hidden" id="layout_id" value="<?= /* @noEscape */ $block->getRequest()->getParam('id'); ?>">
					<input type="hidden" id="id_component_selected" value="0">
					<input type="hidden" id="id_layout_name_selected" value="0">
				</div>
			</div>
			<style>
				.drop-placeholder {
					background-color: lightgray;
					height: 3.5em;
					padding-top: 12px;
					padding-bottom: 12px;
					line-height: 1.2em;
				}
				li.list-group-item {
					display: block !important;
					background: #efefef;
					border: 1px dashed #ccc;
					position: relative;
					margin-bottom: 5px;
					cursor: move;
					padding: 10px;
					box-sizing: inherit;
					box-sizing: border-box;
				}

				.list-group-item .glyphicon{
					float: right;
				}

				.iframe_html .edit_component_heading {
					display: none !important;
				}

				.edit_component_heading{
					cursor: pointer;
				}

				.edit_component {
					margin-right: 10px;
				}
			</style>
		</div>

		<script>

			window.recent_product_count = <?= /* @noEscape */ (!is_null($block->getLayoutComponentModel()->load($id)->getRecentProductCount())) ? $block->getLayoutComponentModel()->load($id)->getRecentProductCount() : 0 ; ?>;

			window.featuredCategoriesCircleImgPath = "<?= /* @noEscape */ $block->getViewFileUrl('Biztech_Magemobcart::images/layout_components/featured_categories_circle.png'); ?>";
			window.featuredCategoriesRectImgPath = "<?= /* @noEscape */ $block->getViewFileUrl('Biztech_Magemobcart::images/layout_components/featured_categories_rect.png'); ?>";
			window.bannerSliderImgPath = "<?= /* @noEscape */ $block->getViewFileUrl('Biztech_Magemobcart::images/layout_components/banners_offers.png'); ?>";
			window.productGridImgPath = "<?= /* @noEscape */ $block->getViewFileUrl('Biztech_Magemobcart::images/layout_components/product_grid.png'); ?>";
			window.productHorizontalSliderImgPath = "<?= /* @noEscape */ $block->getViewFileUrl('Biztech_Magemobcart::images/layout_components/products_horizontal_slider.png'); ?>";
			window.recentlyAccessedProductsImgPath = "<?= /* @noEscape */ $block->getViewFileUrl('Biztech_Magemobcart::images/layout_components/recently_accessed_products.png'); ?>";

			window.editActionUrl = "<?= /* @noEscape */ $block->getUrl('magemobcart/layout/editLayoutAction'); ?>";
			window.editLayoutUrl = "<?= /* @noEscape */ $block->getUrl('magemobcart/layout/editlayout'); ?>";
			window.saveLayoutUrl = "<?= /* @noEscape */ $block->getUrl('magemobcart/layout/savelayout'); ?>";
			window.editFeaturedCategoryBlocksUrl = "<?= /* @noEscape */ $block->getUrl('magemobcart/layout/featuredcategoryblockspopup'); ?>";
			window.saveFeaturedCategoriesBlocksUrl = "<?= /* @noEscape */ $block->getUrl('magemobcart/layout/savefeaturedcategoryblockspopup'); ?>";
			window.editProductGridUrl = "<?= /* @noEscape */ $block->getUrl('magemobcart/layout/productgridpopup'); ?>";
			window.saveProductGridUrl = "<?= /* @noEscape */ $block->getUrl('magemobcart/layout/saveproductgridpopup'); ?>";
			window.editProductHorizontalSliderUrl = "<?= /* @noEscape */ $block->getUrl('magemobcart/layout/producthorizontalslidingpopup'); ?>";
			window.editBannerSliderUrl = "<?= /* @noEscape */ $block->getUrl('magemobcart/layout/bannersliderpopup'); ?>";
			window.saveBannerSliderUrl = "<?= /* @noEscape */ $block->getUrl('magemobcart/layout/savebannersliderpopup'); ?>";	
			window.getcategoryproductdata = "<?= /* @noEscape */ $block->getUrl('magemobcart/layout/getcategoryproductdata'); ?>";
			window.deleteComponent = "<?= /* @noEscape */ $block->getUrl('magemobcart/layout/deletecomponent'); ?>";
			window.savePhsUrl = "<?= /* @noEscape */ $block->getUrl('magemobcart/layout/saveproducthorizontalsliderpopup'); ?>";
			window.saveFcbDisplayTypeUrl = "<?= /* @noEscape */ $block->getUrl('magemobcart/layout/savefcbdisplaytype'); ?>";

		</script>
		
		<script type="text/javascript">

			require([
				"jquery",
				"mage/mage",
				"Magento_Ui/js/modal/modal",
				"layout",
				"nicescroll",
				"notiny"
				], function ($, modal, layout) {

					$(document).ready(function(){
						$('#iframe_html_mobile').niceScroll({cursorborder:"",cursorcolor:"#333"});						
						$.notiny.addTheme('success', {
						notification_class: 'notiny-magemob-success notiny-default-vars'
						});
						$.notiny.addTheme('error', {
						notification_class: 'notiny-magemob-error notiny-default-vars'
						});
					});

					Layout.prototype.initialize();
				});
			</script>

