<?php
$categories = $block->getCategoriesCollection();
?>
<div id="fcb_grid">  
    <div id="FeaturedCategoriesGrid" data-grid-id="FeaturedCategoriesGrid">
        <div class="admin__data-grid-wrap admin__data-grid-wrap-static">
            <table class="data-grid" id="fcb_grid_table">
                <thead>
                    <tr>
                        <th class="data-grid-th  no-link col-id"><span>ID</span></th>                          
                        <th class="data-grid-th  no-link col-redirect"><span>Title</span></th>
                        <th class="data-grid-th  no-link col-image"><span>Image</span></th>      
                        <th class="data-grid-th  no-link col-category_id"><span>Category ID</span></th>
                        <th class="data-grid-th  no-link col-category_name"><span>Category Name</span></th>
                        <th class="data-grid-th  no-link col-position"><span>Sort Order</span></th>
                        <th class="data-grid-th  no-link col-action"><span>Action</span></th>
                    </tr>
                </thead>
                            
                <tbody>
                    <?php if(count($categories) > 0):?>
                        <?php foreach($categories as $category):?>
                            <tr id="<?php echo 'category_row_'.$category->getData("id")?>">                            
                                <td><?php echo $category->getData("id");?></td>
                                <td><?php echo $category->getData("category_title");?></td>
                                <td>
                                    <?php 
                                        if ($category->getData("image_type") == "url") {
                                            $image = $category->getData("image_url");
                                        } else {
                                            $image = $block->getImageUrl($category->getData('filepath'));     
                                        }
                                    ?>
                                    <img src="<?php echo $image?>" class="category_img">
                                </td>
                                <td><?php echo $category->getData("category_id");?></td>
                                <td><?php echo $block->getCategoryName($category->getData("category_id"));?></td>
                                <td><?php echo $category->getData("sort_order");?></td>
                                <td>
                                    <button type="button" class="edit-fcb-data btn btn-success btn_margin" onclick="editFeaturedCategories('<?php echo $block->getUrl('*/*/editFeaturedCategoryBlocks',array('id' => 
                                    $category->getData("id"))) ?>','<?php echo $category->getData("id")?>')" title="Edit">Edit</button>

                                    <button type="button" class="delete-fcb-data btn btn-danger" onclick="deleteFeaturedCategories('<?php echo $block->getUrl('*/*/deleteFeaturedCategoryBlocks',array('id' => $category->getData("id")))?>','<?php echo $category->getData("id")?>')" title="Delete">Delete</button>  
                                </td>
                            </tr>
                        <?php endforeach;?>
                    <?php else: ?>
                        <tr id="cat_no_records"><td colspan="8">No categories added yet!</td></tr>
                    <?php endif;?>    
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">

    function editFeaturedCategories(url,rowId)
    {
        jQuery.ajax({
            url: url,
            type:'get',
            success: function(result) {
                if (result.status == 'success') {
                    
                    jQuery('#featured_category_id').val(rowId);

                    jQuery('#category_title').val(result.category_title);
                    jQuery('#cat_image_type').val(result.image_type);
                    jQuery('#status').val(result.category_status);
                    
                    if (result.image_type == 'image') {
                        jQuery('#cat_image_url_holder').show();
                        jQuery('#categoryimage').attr('src',result.filepath);

                        jQuery('#cat_image_file_sec').show();
                        jQuery('#cat_image_url_sec').hide();
                        //jQuery('#slideruploadedfile').val(result.filename);
                    } else {
                        jQuery('#cat_image_url_sec').show();
                        jQuery('#cat_image_file_sec').hide();
                        jQuery('#cat_image_url_holder').show();
                        jQuery('#cat_image_url').val(result.image_url);
                        jQuery('#categoryimage').attr('src',result.filepath);
                    }

                    jQuery('#cat_category_id_holder').show();
                    jQuery('#cat_category_id').val(result.category_id);
                    
                    jQuery('#category_position').val(result.sort_order);
                    jQuery('#category_image').val("edit");

                    // remove old validations on edit
                    jQuery("#category_title").css("border-color", "#ADADAD");
                    jQuery("#category_title_error").html("");
                    jQuery("#cat_image_type").css("border-color", "#ADADAD");
                    jQuery("#cat_image_type_error").html("");
                    jQuery("#cat_category_id").css("border-color", "#ADADAD");
                    jQuery("#cat_category_id_error").html("");
                    jQuery("#category_position").css("border-color", "#ADADAD");
                    jQuery("#category_position_error").html("");
                    jQuery("#cat_image_url").css("border-color", "#ADADAD");
                    jQuery("#cat_image_url_error").html("");
                    jQuery("#categoryuploadedfile").css("border-color", "#ADADAD");
                } else {
                    alert('something went wrong!!');
                }
            }
        });
    }

    function deleteFeaturedCategories(url,rowId)
    {
        if (confirm("Are you sure, you want to delete this category?")) {
            jQuery('#'+'category_row_'+rowId).remove();
            jQuery.ajax({
                url: url,
                type:'get',
                success: function(result) {
                    if (result.status == 'success') {
                        Layout.prototype.successMessage('Category removed successfully');
                        if ((jQuery("#fcb_grid_table tbody tr").length) == 0) {
                            jQuery("#fcb_grid_table tbody").append('<tr id="cat_no_records"><td colspan="8">No categories added yet!</td></tr>');  
                        }
                    } else {
                        Layout.prototype.errorMessage('something went wrong!!');
                    }
                }
            });
        }
    }
</script>