<?php $imageHelper = $this->helper(\Magento\Catalog\Helper\Image::class); 
$placeholderImageUrl = $imageHelper->getDefaultPlaceholderUrl('image');
$displayType = $block->getDisplayType($block->getComponentId());
$fcbTitle = $block->getFcbTitle($block->getComponentId());
?>
<!-- added below code to set featured category block display type -->
<div id="fcb_display_type" style="margin-top: 4px; margin-bottom: -20px">
    <form action="" method="post" enctype="multipart/form-data" id="save_fcb_display_type" onsubmit="return submitFcbDisplayType(event);">
        <fieldset class="admin__fieldset"> 
            <input type="hidden" name="fcb_id" value="<?= $block->getComponentId() ?>"/>
            <input type="hidden" name="layout_id" value="<?= $block->getLayoutId() ?>"/>
            <div class="admin__field">
                <label class="admin__field-label" for="cat_display_type">
                    <span>Select Display Type</span>&nbsp;&nbsp;<span class="required">*</span>
                </label>
                <div class="admin__field-control">
                    <div class="admin__control">
                        <select name="cat_display_type" id="cat_display_type" class="admin__control-select">
                            <option value="">Select Type</option>
                            <?php if ($displayType == 'circle') { ?>
                                <option value="circle" selected>Circle</option>
                            <?php } else { ?>
                                <option value="circle">Circle</option>
                            <?php } ?>
                            
                            <?php if ($displayType == 'square') { ?>
                                <option value="square" selected>Square</option>
                            <?php } else { ?>
                                <option value="square">Square</option>
                            <?php } ?>
                        </select>
                    </div>
                    <span id="cat_display_type_error" class="fcb-error text-danger"></span>
                </div>
            </div>
            <div class="admin__field">
                <label class="admin__field-label" for="fcb_title">
                   <span>Featured Category Block Title</span>&nbsp;&nbsp;
                </label>
                <div class="admin__field-control">
                    <div class="admin__control">
                        <?php if ($fcbTitle != "") { ?>
                            <input value="<?= $fcbTitle; ?>" class="admin__control-text" type="text"  name="fcb_title" id="fcb_title">
                        <?php } else { ?>
                            <input value="" class="admin__control-text" type="text"  name="fcb_title" id="fcb_title">
                        <?php } ?>
                    </div>
                </div>
                <button class="button_submit_form_component btn btn-success" id="fcb-display-type-save-btn" style="float: right;" type="submit"><span>Save</span></button>
            </div>
        </fieldset>
    </form>
</div>
<hr style="border-top: 1px dashed #bbb; padding-bottom: 2px;">
<!-- end of code to set featured category block display type -->
<div id="add_new_fcb" style="display: inline-block;">
    <button class="button_submit_form_component btn btn-success" id="add-fcb-form-btn" style="float: right;" type="button"><span>Add New Featured Category</span></button>
</div>
<div id="featured_category_form" style="display: none;">
    <form action="" method="post" enctype="multipart/form-data" id="save_featuredcategory_blocks" onsubmit="return submitFeaturedCategoryBlocks(event);">
        <fieldset class="admin__fieldset"> 
            <input type="hidden" name="fcb_id" value="<?= $block->getComponentId() ?>"/>
            <input type="hidden" name="layout_id" value="<?= $block->getLayoutId() ?>"/>
            <input type="hidden" name="featured_category_id" id="featured_category_id" value=""/>
            <input type="hidden" name="category_image" id="category_image" value="new"/>
            
            <div class="admin__field">
                <label class="admin__field-label" for="category_title">
                   <span>Category Title</span>&nbsp;&nbsp;<span class="required">*</span>
                </label>
                <div class="admin__field-control">
                    <div class="admin__control">
                        <input value="" class="admin__control-text" type="text"  name="category_title" id="category_title">
                    </div>
                    <span id="category_title_error" class="fcb-error text-danger"></span>
                </div>
            </div>

            <div class="admin__field">
                <label class="admin__field-label" for="cat_image_type">
                    <span>Select Image Type</span>&nbsp;&nbsp;<span class="required">*</span>
                </label>
                <div class="admin__field-control">
                    <div class="admin__control">
                        <select name="cat_image_type" id="cat_image_type" class="admin__control-select">
                            <option value="">Select Type</option>
                            <option value="url">URL</option>
                            <option value="image">Upload</option>
                        </select>
                    </div>
                    <span id="cat_image_type_error" class="fcb-error text-danger"></span>
                </div>
            </div>

            <div class="admin__field" id="cat_image_url_sec" style="display: none;">
                <label class="admin__field-label" for="cat_image_url">
                    <span>Image Url</span>&nbsp;&nbsp;<span class="required">*</span>
                </label>
                <div class="admin__field-control">
                    <div class="admin__actions-switch">
                        <input name="cat_image_url" id="cat_image_url" value="" placeholder="Enter URL" type="url" class="action-default scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only banner-upload-btn" style="padding: 10px;background: whitesmoke;display: block;width: 450px;text-align: left">
                    </div>
                    <div class="note admin__field-note" id="filename-note">
                        <b>Note : </b> Allowed file types are jpg, jpeg, png, gif and webp.
                    </div>
                    <span id="cat_image_url_error" class="fcb-error text-danger"></span>
                </div>
            </div>
            
            <div class="admin__field" id="cat_image_file_sec" style="display: none;">
                <label class="admin__field-label" for="categoryuploadedfile">
                    <span>Image Upload</span>&nbsp;&nbsp;<span class="required">*</span>
                </label>
                <div class="admin__field-control">
                    <div class="admin__actions-switch">
                        <input name="categoryuploadedfile" id="categoryuploadedfile" value="" type="file" onchange="readURL(this);" class="action-default scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only banner-upload-btn" style="padding: 10px;background: whitesmoke;display: block;">
                    </div>
                    <div class="note admin__field-note" id="filename-note">
                        <b>Note : </b> Allowed file types are jpg, jpeg, png, gif and webp.
                    </div>
                    <span id="categoryuploadedfile_error" class="fcb-error text-danger"></span>
                </div>
            </div>

            <img src="<?= $placeholderImageUrl; ?>" id="cat_placeholder_img" style="display:none"/>
            <div class="admin__field" id="cat_image_url_holder" style="display: none;">
                <label class="admin__field-label">
                    <span>Image</span>
                </label>
                <div class="admin__field-control">
                    <div class="admin__actions-switch">
                        <img id="categoryimage" src='<?=$placeholderImageUrl?>' style="margin: 0px 2px 3px 0px;max-width: 200px;height: 100px;border: 1px solid whitesmoke;" align="absmiddle">
                    </div>
                </div>
            </div>

            <div class="admin__field">
                <label class="admin__field-label" for="status">
                    <span>Status</span>
                </label>
                <div class="admin__field-control">
                    <div class="admin__control">
                        <select name="status" id="status" class="admin__control-select">
                            <option value="1"><?= __('Enable'); ?></option>
                            <option value="0"><?= __('Disable'); ?></option>
                        </select>
                    </div>
                    <span id="status_error" class="fcb-error text-danger"></span>
                </div>
            </div>

            <div class="admin__field" id="cat_category_id_holder">
                <label class="admin__field-label" for="cat_category_id">
                    <span>Select Category</span>&nbsp;&nbsp;<span class="required">*</span>
                </label>
                <div class="admin__field-control">
                    <div class="admin__control">
                        <select name="cat_category_id" id="cat_category_id" class="admin__control-select">
                            <?php foreach ($block->getCategoryArray() as $key => $value) : ?> 
                                <option value='<?= $key ?>'><?= $value ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                    <span id="cat_category_id_error" class="fcb-error text-danger"></span>
                </div>
            </div>
            
            <div class="admin__field">
                <label class="admin__field-label" for="category_position">
                    <span>Sort Order</span>&nbsp;&nbsp;<span class="required">*</span>
                </label>
                <div class="admin__field-control">
                    <div class="admin__control">
                        <input value="" class="admin__control-text" type="text" placeholder="" name="category_position" id="category_position">                        
                    </div>
                    <span id="category_position_error" class="fcb-error text-danger"></span>
                </div>
            </div>
            <input type="hidden" id="fcb_form_save_type" name="save_type" value="">
            <button class="button_submit_form_component btn btn-warning" id="fcb-save-add-new-btn" style="float: right;" type="submit"><span>Save & Add New</span></button>
            <button class="button_submit_form_component btn btn-success" id="fcb-save-btn" style="float: right; margin-right: 5px;" type="submit"><span>Save</span></button>
        </fieldset>
    </form>
</div>