<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$categoryModel = $objectManager->create('Biztech\Magemobcart\Model\Config\Categorymodel');

$catOptions = $categoryModel->toOptionArray();

$categoryFactory = $objectManager->create('Magento\Catalog\Model\CategoryFactory')->create();
$products = $objectManager->create('Magento\Catalog\Model\ResourceModel\Product\CollectionFactory')->create()
->addAttributeToSelect('*')
->load();

$formKey = $objectManager->create('Magento\Framework\Data\Form\FormKey')->getFormKey();
?>
        <input type="hidden" id="form_key" name="form_key" value="<?= $formKey; ?>">
        <input type="hidden" name="category_prev_products" id="category_prev_products" value="3,9,10,12">
        <fieldset class="admin__fieldset">

            <div class="admin__field">
                <label class="admin__field-label" for="product_type">
                    <span>Select Product Type</span>
                </label>
                <div class="admin__field-control">
                    <div class="admin__control">
                        <!-- <select name="product_type" id="product_type" class="admin__control-select" onchange="Layout.prototype.showHideProductType(this);"> -->
                        <select name="product_type" id="product_type" class="admin__control-select">
                            <!-- <option value="best_seller">Best Seller Products</option>
                            <option value="new_products">New Products</option>
                            <option value="special_products">Special Products</option> -->
                            <option value="category_products" selected="">From Category</option>
                            <option value="custom_products">Custom Products</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="admin__field" id="category_id_holder" style="">
                <label class="admin__field-label" for="category_id">
                    <span>Select Category</span>
                </label>
                <div class="admin__field-control">
                    <div class="admin__control">
                        <select name="category_id" id="category_id" class="admin__control-select">
                            <!-- <option value="0">--Select Category--</option> -->
                            <?php 
                            foreach ($catOptions as $option) {
                                ?>
                                <option value="<?= /* @noEscape */ $option['value']; ?>"><?= /* @noEscape */ $option['label']; ?></option>
                                <?php
                            }
                            ?>
                        </select>
                    </div>
                </div>
            </div>

            <div class="admin__field" id="category_products_holder" style="">
                <label class="admin__field-label" for="category_products">
                    <span>Select Products from Category</span>
                </label>
                <div class="admin__field-control">
                    <div class="admin__control">
                        <select name="category_products[]" id="category_products" class="admin__control-multiselect" multiple="">
                            <?php 
                            foreach ($products as $product) {
                                ?>
                                <option value="<?= /* @noEscape */ $product->getId(); ?>"><?= /* @noEscape */ $product->getName(); ?></option>
                                <?php
                            }
                            ?>
                        </select>                    
                    </div>
                </div>
            </div>

            <div class="admin__field" id="product_list_holder" style="">
                <label class="admin__field-label" for="product_list">
                    <span>Select Products</span>
                </label>
                <div class="admin__field-control">
                    <div class="admin__control">
                        <select name="product_list[]" id="product_list" class="admin__control-multiselect" multiple="">
                            <?php 
                            foreach ($products as $product) {
                                ?>
                                <option value="<?= /* @noEscape */ $product->getId(); ?>"><?= /* @noEscape */ $product->getName(); ?></option>
                                <?php
                            }
                            ?>
                        </select>
                    </div>
                </div>
            </div>

            <!-- <div class="admin__field">
                <label class="admin__field-label" for="number_of_products">
                    <span><span class="vss_required">*</span>Number of products</span>
                </label>
                <div class="admin__field-control">
                    <div class="admin__control">
                        <input value="4" class="admin__control-text" type="text" placeholder="" name="number_of_products" id="number_of_products">                        
                    </div>
                </div>
            </div>

            <div class="admin__field">
                <label class="admin__field-label" for="image_content_mode">
                    <span>Image Content Mode</span>
                </label>
                <div class="admin__field-control">
                    <div class="admin__control">
                        <select name="image_content_mode" id="image_content_mode" class="admin__control-select">
                            <option value="scaleAspectFill" selected="">Scale aspect fill</option>
                            <option value="scaleAspectFit">Scale aspect Fit</option>
                        </select>
                    </div>
                </div>
            </div> -->

        </fieldset>
<!-- 
    <script type="text/javascript">
        require(['jquery'], function($){
            $(document).ready(function(){
                $("#product_type").trigger("change");
                if($("#product_type").val() == "category_products"){
                    $("#category_id").trigger("change");
                }
            });
        })
    </script> -->