<?php
$sliders = $block->getSliderCollection();
?>
<div id="banners_grid">  
    <div id="BannerSquareGrid" data-grid-id="BannerSquareGrid">
        <div class="admin__data-grid-wrap admin__data-grid-wrap-static">
            <table class="data-grid" id="slider_grid_table">
                <thead>
                    <tr>
                        <th class="data-grid-th  no-link col-id"><span>ID</span></th>                          
                        <th class="data-grid-th  no-link col-redirect"><span>Title</span></th>
                        <th class="data-grid-th  no-link col-image"><span>Image</span></th>
                        <th class="data-grid-th  no-link col-redirect"><span>Redirect</span></th>       
                        <th class="data-grid-th  no-link col-category_id"><span>Category ID</span></th>       
                        <th class="data-grid-th  no-link col-product_id"><span>Product ID</span></th>         
                        <th class="data-grid-th  no-link col-position"><span>Sort Order</span></th>
                        <th class="data-grid-th  no-link col-action"><span>Action</span></th>
                    </tr>
                </thead>
                            
                <tbody>
                    <?php if(count($sliders) > 0):?>
                        <?php foreach($sliders as $slider):?>
                            <tr id="<?php echo 'slider_row_'.$slider->getData("id")?>">                            
                                <td><?php echo $slider->getData("id");?></td>
                                <td><?php echo $slider->getData("component_title");?></td>
                                <td>
                                    <?php 
                                        if ($slider->getData("image_type") == "url") {
                                            $image = $slider->getData("image_url");
                                        } else {
                                            $image = $block->getImageUrl($slider->getData('filepath'));     
                                        }
                                    ?>
                                    <img src="<?php echo $image?>" class="slider_img">
                                </td>
                                <td><?php echo $slider->getData("redirect_activity");?></td>
                                <td><?php echo $slider->getData("category_id");?></td>                            
                                <td><?= ($slider->getData("product_id") == 0 ) ? " -- " : $slider->getData("product_id");  ?></td>
                                <td><?php echo $slider->getData("sort_order");?></td>                            
                                <td>
                                    <button type="button" class="edit-banner-offer-data btn btn-success btn_margin" onclick="editSlider('<?php echo $block->getUrl('*/*/editslider',array('id' => 
                                    $slider->getData("id"))) ?>','<?php echo $slider->getData("id")?>')" title="Edit">Edit</button>

                                    <button type="button" class="delete-banner-offer-data btn btn-danger" onclick="deleteSlider('<?php echo $block->getUrl('*/*/deleteslider',array('id' => $slider->getData("id")))?>','<?php echo $slider->getData("id")?>')" title="Delete">Delete</button>  
                                </td>
                            </tr>
                        <?php endforeach;?>
                    <?php else: ?>
                        <tr id="no_records"><td colspan="8">No banners/offers added yet!</td></tr>
                    <?php endif;?>    
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">

    function editSlider(url,rowId)
    {
        jQuery.ajax({
            url: url,
            type:'get',
            success: function(result) {
                if (result.status == 'success') {
                    
                    jQuery('#banner_slider_id').val(rowId);

                    jQuery('#banner_title').val(result.component_title);
                    jQuery('#image_type').val(result.image_type);
                    jQuery('#status').val(result.slider_status);
                    jQuery('#banner_type').val(result.redirect_activity);
                    
                    if (result.image_type == 'image') {
                        jQuery('#image_url_holder').show();
                        jQuery('#sliderimage').attr('src',result.filepath);

                        jQuery('#image_file_sec').show();
                        jQuery('#image_url_sec').hide();
                        //jQuery('#slideruploadedfile').val(result.filename);
                    } else {
                        jQuery('#image_url_sec').show();
                        jQuery('#image_file_sec').hide();
                        jQuery('#image_url_holder').show();
                        jQuery('#image_url').val(result.image_url);
                        jQuery('#sliderimage').attr('src',result.filepath);
                    }

                    if (result.category_id !== '' && result.redirect_activity == 'category_offers') {
                        jQuery('#banner_category_id_holder').show();
                        jQuery('#banner_category_id').val(result.category_id);
                    } else {
                        jQuery('#banner_category_id_holder').hide();
                        jQuery('#banner_category_id').val('');
                    }

                    if (result.product_id !== '' && result.redirect_activity == 'product') {
                        jQuery('#product_id_holder').show();
                        jQuery('#redirect_banner_product_id').val(result.product_id);
                    } else {
                        jQuery('#product_id_holder').hide();
                        jQuery('#redirect_banner_product_id').val('');
                    }

                    if (result.offer_link !== '' && result.redirect_activity == 'offer') {
                        jQuery('#offer_links').show();
                        jQuery('#offer_link_redirect').val(result.offer_link);
                    } else {
                        jQuery('#offer_links').hide();
                        jQuery('#offer_link_redirect').val('');
                    }

                    jQuery('#banner_position').val(result.sort_order);
                    jQuery('#banner_slider_image').val("edit");
                    
                    // remove old validations on edit
                    jQuery("#banner_title").css("border-color", "#ADADAD");
                    jQuery("#banner_title_error").html("");
                    jQuery("#image_type").css("border-color", "#ADADAD");
                    jQuery("#image_type_error").html("");
                    jQuery("#banner_type").css("border-color", "#ADADAD");
                    jQuery("#banner_type_error").html("");
                    jQuery("#banner_category_id").css("border-color", "#ADADAD");
                    jQuery("#banner_category_id_error").html("");
                    jQuery("#redirect_banner_product_id").css("border-color", "#ADADAD");
                    jQuery("#redirect_banner_product_id_error").html("");
                    jQuery("#offer_link_redirect").css("border-color", "#ADADAD");
                    jQuery("#offer_link_redirect_error").html("");
                    jQuery("#banner_position").css("border-color", "#ADADAD");
                    jQuery("#banner_position_error").html("");
                    jQuery("#image_url").css("border-color", "#ADADAD");
                    jQuery("#image_url_error").html("");
                    jQuery("#slideruploadedfile").css("border-color", "#ADADAD");
                    jQuery("#slideruploadedfile_error").html("");
                } else {
                    alert('something went wrong!!');
                }
            }
        });
    }

    function deleteSlider(url,rowId)
    {
        if (confirm("Are you sure, you want to delete this slider?")) {
            jQuery('#'+'slider_row_'+rowId).remove();
            jQuery.ajax({
                url: url,
                type:'get',
                success: function(result) {
                    if (result.status == 'success') {
                        Layout.prototype.successMessage('Slider removed successfully');
                        if ((jQuery("#slider_grid_table tbody tr").length) == 0) {
                            jQuery("#slider_grid_table tbody").append('<tr id="no_records"><td colspan="8">No banners/offers added yet!</td></tr>');  
                        }
                    } else {
                        Layout.prototype.errorMessage('something went wrong!!');
                    }
                }
            });
        }
    }
</script>