<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MLM
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
 -->
<?= $block->escapeHtmlAttr($block->getCurrentValue()); ?>
<?php
$optionData = [
    "url" => $block->getAjaxUrl(),
    "formKey" => $block->getFormKey()
];
if ($block->canShow()) { ?>
    <br>
    <?= $block->getButtonHtml(); ?>
    <script type="text/x-magento-init">
        {
            "*": {
                "Webkul_MLM/js/button": <?= \Zend_Json::encode($optionData) ?>
            }
        }
    </script>
<?php } ?>