<?php
/**
 * Copyright 2019 aheadWorks. All rights reserved.
See LICENSE.txt for license details.
 */

/* @var $block \Aheadworks\Followupemail2\Block\Adminhtml\Page\Menu\Item */
// @codingStandardsIgnoreFile
?>
<li>
    <a <?php /* @noEscape */ echo $block->serializeLinkAttributes() ?>><?php echo $block->escapeHtml(__($block->getLabel())) ?></a>
</li>
