/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MLM
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

.you-node span {
    font-family: OpenSans-Semibold;
    font-size: 14px;
    color: #1266B4;
}

.tree-node {
    border: 1px solid #1266B4;
    padding: 7px;
    font-size: 14px;
}

.tree-container {
    text-align: center;
}

#mainContainer {
    background: Red;
    min-width: 850px;
}

.container {
    text-align: center;
    margin: 10px 5px;
    padding: 10px 5px;
    float: left;
    overflow: visible;
    position: relative;

}


.member {
    background: #eee;
    position: relative;
    z-index: 1;
    cursor: default;
    border-bottom: solid 1px #000;
    padding: 4px;
    border-radius: 5px;
}

.member:after {
    display: block;
    position: absolute;
    left: 50%;
    width: 1px;
    height: 20px;
    background: #000;
    content: " ";
    bottom: 100%;
}

.member:hover {
    z-index: 2;
}

.member .metaInfo {
    display: none;
    border: solid 1px #000;
    background: #fff;
    position: absolute;
    bottom: 100%;
    left: 50%;
    padding: 5px;
    width: 100px;
}

.member:hover .metaInfo {
    display: block;
}

.member .metaInfo img {
    width: 50px;
    height: 50px;
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
    vertical-align: top;
    border: solid 1px #aaa;
}