<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Customer\Block\Account\AuthorizationLink $block */

$dataPostParam = '';
if ($block->isLoggedIn()) {
    $dataPostParam = sprintf(" data-post='%s'", $block->getPostParams());
}
 ?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->create('Magento\Customer\Model\Session');
if ($customerSession->isLoggedIn()) {
    $customerSession->getCustomerId();  // get Customer Id
    $customerSession->getCustomerGroupId();
    $customerSession->getCustomer();
    $customerSession->getCustomerData();
}
?>
<li>    
    <?php if($customerSession->isLoggedIn()) : ?>
        <div class="authorization-link" data-label="<?= $block->escapeHtml(__('or')) ?>">
            <a <?= /* @noEscape */ $block->getLinkAttributes() ?><?= /* @noEscape */ $dataPostParam ?>>
                <img src="<?php echo $block->getUrl("pub/media/wysiwyg/")?>icone_sair.png" alt="Sair da Conta" title="Sair da Conta">
            </a>
            <a href="<?php echo $block->getUrl('customer/account/'); ?>">
        <span class="label" style="font-size:120% !important;float:right;margin-top:2px;">
            <?php /* @escapeNotVerified */ echo ('Minha Conta'); ?>
        </span>
            </a>
        </div>
    <?php else : ?>
    <div class="authorization-link" data-label="<?= $block->escapeHtml(__('or')) ?>">
        <a <?= /* @noEscape */ $block->getLinkAttributes() ?><?= /* @noEscape */ $dataPostParam ?>>
            <img src="<?php echo $block->getUrl("pub/media/wysiwyg/")?>icone_conta.png" alt="Entrar/Criar Conta" title="Entrar/Criar Conta"/>
        </a>
    </div>
    <?php endif; ?>
</li>