<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MLM
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

/** @var \Magento\Customer\Block\Widget\Name $block */

$prefix = $block->showPrefix();
$middle = $block->showMiddlename();
$suffix = $block->showSuffix();
$viewModel = $block->getData("viewModel");

$url = $this->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]);
$sponsorCode = $this->helper('Neoretail\SponsorCode\Helper\Sponsor')->getSponsorCode($url);

?>
<?php if (($prefix || $middle || $suffix) && !$block->getNoWrap()): ?>
<div class="field required fullname <?= $block->escapeHtmlAttr($block->getContainerClassName()) ?>">
    <label for="<?= $block->escapeHtmlAttr($block->getFieldId('firstname')) ?>"
        class="label"><span><?= $block->escapeHtml(__('Name')) ?></span></label>
    <div class="control">
        <fieldset class="fieldset fieldset-fullname">
        <div class="fields">
<?php endif; ?>

    <?php if ($prefix): ?>
        <div class="field field-name-prefix<?= $block->isPrefixRequired() ? ' required' : '' ?>">
            <label class="label" for="<?= $block->escapeHtmlAttr($block->getFieldId('prefix')) ?>">
                <span><?= $block->escapeHtml($block->getStoreLabel('prefix')) ?></span></label>
            <div class="control">
                <?php if ($block->getPrefixOptions() === false): ?>
                    <?php $prefixClass = $block->escapeHtmlAttr(
                        $block->getAttributeValidationClass('prefix')
                    );
                    ?>
                    <input type="text" id="<?= $block->escapeHtmlAttr($block->getFieldId('prefix')) ?>"
                           name="<?= $block->escapeHtmlAttr($block->getFieldName('prefix')) ?>"
                           value="<?= $block->escapeHtmlAttr($block->getObject()->getPrefix()) ?>"
                           title="<?= $block->escapeHtmlAttr($block->getStoreLabel('prefix')) ?>"
                           class="input-text <?= /* @noEscape */ $prefixClass ?>"
                            <?= $block->isPrefixRequired() ? ' data-validate="{required:true}"' : '' ?>>
                <?php else: ?>
                    <select id="<?= $block->escapeHtmlAttr($block->getFieldId('prefix')) ?>"
                            name="<?= $block->escapeHtmlAttr($block->getFieldName('prefix')) ?>"
                            title="<?= $block->escapeHtmlAttr($block->getStoreLabel('prefix')) ?>"
                            class="<?= $block->escapeHtmlAttr($block->getAttributeValidationClass('prefix')) ?>"
                                <?= $block->isPrefixRequired() ? ' data-validate="{required:true}"' : '' ?> >
                        <?php foreach ($block->getPrefixOptions() as $_option): ?>
                            <option value="<?= $block->escapeHtmlAttr($_option) ?>"
                                <?php if ($block->getObject()->getPrefix() == $_option): ?>
                                     selected="selected"<?php endif; ?>
                            >
                                <?= $block->escapeHtml(__($_option)) ?>
                            </option>
                        <?php endforeach; ?>
                    </select>
                <?php endif; ?>
            </div>
        </div>
    <?php endif; ?>
        <div class="field field-name-firstname required">
            <label class="label" for="<?= $block->escapeHtmlAttr($block->getFieldId('firstname')) ?>">
            <span><?= $block->escapeHtml($block->getStoreLabel('firstname')) ?></span></label>
            <div class="control">
                <?php $firstNameClass = $block->escapeHtmlAttr(
                    $block->getAttributeValidationClass('firstname')
                ); ?>
                <input type="text" id="<?= $block->escapeHtmlAttr($block->getFieldId('firstname')) ?>"
                       name="<?= $block->escapeHtmlAttr($block->getFieldName('firstname')) ?>"
                       value="<?= $block->escapeHtmlAttr($block->getObject()->getFirstname()) ?>"
                       title="<?= $block->escapeHtmlAttr($block->getStoreLabel('firstname')) ?>"
                       class="input-text <?= /** @noEscape */ $firstNameClass ?>"
                        <?= ($block->getAttributeValidationClass('firstname') == 'required-entry')
                            ? ' data-validate="{required:true}"' : '' ?>>
            </div>
        </div>
    <?php if ($middle): ?>
        <?php $isMiddlenameRequired = $block->isMiddlenameRequired(); ?>
        <div class="field field-name-middlename<?= $isMiddlenameRequired ? ' required' : '' ?>">
            <label class="label" for="<?= $block->escapeHtmlAttr($block->getFieldId('middlename')) ?>">
            <span><?= $block->escapeHtml($block->getStoreLabel('middlename')) ?></span></label>
            <div class="control">
                <?php $middleNameClass = $block->escapeHtmlAttr(
                    $block->getAttributeValidationClass('middlename')
                ); ?>
                <input type="text" id="<?= $block->escapeHtmlAttr($block->getFieldId('middlename')) ?>"
                       name="<?= $block->escapeHtmlAttr($block->getFieldName('middlename')) ?>"
                       value="<?= $block->escapeHtmlAttr($block->getObject()->getMiddlename()) ?>"
                       title="<?= $block->escapeHtmlAttr($block->getStoreLabel('middlename')) ?>"
                       class="input-text <?= /** @noEscape */ $middleNameClass ?>"
                        <?= $isMiddlenameRequired ? ' data-validate="{required:true}"' : '' ?>>
            </div>
        </div>
    <?php endif; ?>
        <div class="field field-name-lastname required">
            <label class="label" for="<?= $block->escapeHtmlAttr($block->getFieldId('lastname')) ?>">
            <span><?= $block->escapeHtml($block->getStoreLabel('lastname')) ?></span></label>
            <div class="control">
                <?php $lastNameClass = $block->escapeHtmlAttr(
                    $block->getAttributeValidationClass('lastname')
                );?>
                <input type="text" id="<?= $block->escapeHtmlAttr($block->getFieldId('lastname')) ?>"
                       name="<?= $block->escapeHtmlAttr($block->getFieldName('lastname')) ?>"
                       value="<?= $block->escapeHtmlAttr($block->getObject()->getLastname()) ?>"
                       title="<?= $block->escapeHtmlAttr($block->getStoreLabel('lastname')) ?>"
                       class="input-text <?= /* @noEscape */ $lastNameClass ?>"
                        <?= ($block->getAttributeValidationClass('lastname') == 'required-entry')
                            ? ' data-validate="{required:true}"' : '' ?>>
            </div>
        </div>
    <?php if ($suffix): ?>
        <div class="field field-name-suffix<?= $block->isSuffixRequired() ? ' required' : '' ?>">
            <label class="label" for="<?= $block->escapeHtmlAttr($block->getFieldId('suffix')) ?>">
            <span><?= $block->escapeHtml($block->getStoreLabel('suffix')) ?></span></label>
            <div class="control">
                <?php if ($block->getSuffixOptions() === false): ?>
                    <?php $suffixClass = $block->escapeHtmlAttr(
                        $block->getAttributeValidationClass('suffix')
                    );?>
                    <input type="text" id="<?= $block->escapeHtmlAttr($block->getFieldId('suffix')) ?>"
                           name="<?= $block->escapeHtmlAttr($block->getFieldName('suffix')) ?>"
                           value="<?= $block->escapeHtmlAttr($block->getObject()->getSuffix()) ?>"
                           title="<?= $block->escapeHtmlAttr($block->getStoreLabel('suffix')) ?>"
                           class="input-text <?= /** @noEscape */ $suffixClass ?>"
                            <?= $block->isSuffixRequired() ? ' data-validate="{required:true}"' : '' ?>>
                <?php else: ?>
                    <select id="<?= $block->escapeHtmlAttr($block->getFieldId('suffix')) ?>"
                            name="<?= $block->escapeHtmlAttr($block->getFieldName('suffix')) ?>"
                            title="<?= $block->escapeHtmlAttr($block->getStoreLabel('suffix')) ?>"
                            class="<?= $block->escapeHtmlAttr($block->getAttributeValidationClass('suffix')) ?>"
                             <?= $block->isSuffixRequired() ? ' data-validate="{required:true}"' : '' ?>>
                        <?php foreach ($block->getSuffixOptions() as $_option): ?>
                            <option value="<?= $block->escapeHtmlAttr($_option) ?>"
                            <?php if ($block->getObject()->getSuffix() == $_option): ?>
                                 selected="selected"<?php endif; ?>>
                                <?= $block->escapeHtml(__($_option)) ?>
                            </option>
                        <?php endforeach; ?>
                    </select>
                <?php endif; ?>
            </div>
        </div>
    <?php endif;
    if ($viewModel->isMLMEnable()): ?>
        <div class="field field-name-sponsors-reference-id required">
            <!--<label class="label" for="<?= $block->escapeHtmlAttr($block->getFieldId('sponsor_reference_id')) ?>">-->
            <?php $sponsorIdLabel = $block->getStoreLabel('sponsor_reference_id') ?: __("Sponsor Reference Id");
                    $sponsorValue = $block->getObject()->getCustomAttribute('sponsor_reference_id')?
                    $block->getObject()->getCustomAttribute('sponsor_reference_id')->getValue(): '';
            ?>
            <!--<span><?= $block->escapeHtml($sponsorIdLabel) ?></span></label>-->
            <div class="control">
                <?php $sponsorRefClass = $block->getAttributeValidationClass('sponsor_reference_id'); ?>
                <input data-role="sponsor-refrence-id" type="hidden"
                    id="<?= $block->escapeHtmlAttr($block->getFieldId('sponsor_reference_id')) ?>"
                       name="<?= $block->escapeHtmlAttr($block->getFieldName('sponsor_reference_id')) ?>"
                       value="<?= $block->escapeHtmlAttr($sponsorCode) ?>"
                       title="<?= $block->escapeHtmlAttr($block->getStoreLabel('sponsor_reference_id')) ?>"
                       class="input-text <?= $block->escapeHtmlAttr($sponsorRefClass) ?>"
                        <?= ($block->getAttributeValidationClass('sponsor_reference_id') == 'required-entry')
                         ? ' data-validate="{required:true}"' : '' ?>
                       >
                <!--<a href="<?= $block->escapeUrl($block->getUrl($viewModel->cmsPageUrl())) ?>">
                    <?= $block->escapeHtml(__("More information")); ?>
                </a>-->
            </div>
        </div>
        <div class="field field-name-sponsors-name required">
            <label class="label" for="<?= $block->escapeHtmlAttr($block->getFieldId('sponsor_name')) ?>">
            <?php $sponsorNameLabel = $block->getStoreLabel('sponsor_name') ?: __("Sponsor Name");
                $sponsorNameValue = $block->getObject()->getCustomAttribute('sponsor_name')?
                $block->getObject()->getCustomAttribute('sponsor_name')->getValue(): '';
            ?>
            <span><?= $block->escapeHtml(__('Enter a name for your store (Note: DO NOT use special characters. Ex.: @$#&.-/)')) ?></span></label>
            <div class="control">
                <?php $sponsorRefClass = $block->getAttributeValidationClass('sponsor_name'); ?>
                <input data-role="sponsor-name" type="text" style="text-transform: lowercase;"
                    id="<?= $block->escapeHtmlAttr($block->getFieldId('sponsor_name')) ?>"
                       name="<?= $block->escapeHtmlAttr($block->getFieldName('sponsor_name')) ?>"
                       value="<?= $block->escapeHtmlAttr($sponsorNameValue) ?>"
                       title="<?= $block->escapeHtmlAttr($block->getStoreLabel('sponsor_name')) ?>"
                       class="input-text <?= $block->escapeHtmlAttr($sponsorRefClass) ?>"
                        <?= ($block->getAttributeValidationClass('sponsor_name') == 'required-entry')
                         ? ' data-validate="{required:true}"' : '' ?>
                        placeholder="<?= $block->escapeHtml(__('Enter a name for your store'))?>"
                       >

            </div>
        </div>
        <div class="field choice make-sponsor" style="float:left;width:100%">
            <input type="checkbox" id="make_sponsor" name="make_sponsor" value="1" class="checkbox">
            <label class="label" for="make_sponsor">
                <span><?= $block->escapeHtml(__('I want to be a Viramoda consultant')) ?></span>
            </label>
        </div>
    <?php endif;
    if (($prefix || $middle || $suffix) && !$block->getNoWrap()): ?>
            </div>
        </fieldset>
    </div>
</div>
<?php endif; ?>
<script type="text/x-magento-init">
{
    "*": {
        "Webkul_MLM/js/validation/sponsor-id": {}
    }
}
</script>
