<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MLM
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

$magentoCurrentUrl = $block->escapeUrl($block->getCurrentUrl());
?>
<style type="text/css">
    @media only screen and (max-width: 767px) {
        .block-collapsible-nav.sponsor-main{
            top: 20px;
            margin-bottom: 25px;
        }
    }
    .block-collapsible-nav.sponsor-main{
        margin-bottom: 15px !important;
    }
</style>
<div class="block account-nav block-collapsible-nav sponsor-main">
    <div class="title block-collapsible-nav-title"
        data-mage-init='{"toggleAdvanced":
            {"toggleContainers": "#block-collapsible-nav-sponsor", "selectorsToggleClass": "active"}}'>
        <strong><?= /* @noEscape */ __('Escritório Virtual'); ?></strong>
    </div>
    <div class="content block-collapsible-nav-content" id="block-collapsible-nav-sponsor">
        <nav class="account-nav">
        <?php if ($block->isSponsor() && $block->isApproved()) { ?>
            <ul class="nav items">
                <li class="nav item <?= /* @noEscape */ strpos($magentoCurrentUrl, 'mlm/sponsor/dashboard')
                    ? "current":"";?>">
                    <?php if (strpos($magentoCurrentUrl, 'mlm/sponsor/dashboard') !== false) { ?>
                        <strong><?= /* @noEscape */ __('Escritório Virtual') ?></strong>
                    <?php } else { ?>
                        <a href="<?= $block->escapeUrl($block->getDashboardUrl()); ?>">
                            <?= /* @noEscape */ __('Escritório Virtual') ?>
                        </a>
                    <?php } ?>
                </li>
                <li class="nav item <?= /* @noEscape */ strpos($magentoCurrentUrl, 'mlm/sponsor/ads')? "current":"";?>">
                    <?php if (strpos($magentoCurrentUrl, 'mlm/sponsor/ads') !== false) { ?>
                        <strong><?= /* @noEscape */ __('Anúncios Personalizados') ?></strong>
                    <?php } else { ?>
                        <a href="<?= $block->escapeUrl($block->getAdsUrl()); ?>">
                            <?= /* @noEscape */ __('Anúncios Personalizados') ?>
                        </a>
                    <?php } ?>
                </li>

                <li class="nav item <?= /* @noEscape */ strpos($magentoCurrentUrl, 'mlm/sponsor/wallet')
                    ? "current":"";?>">
                    <?php if (strpos($magentoCurrentUrl, 'mlm/sponsor/wallet') !== false) { ?>
                        <strong><?= /* @noEscape */ __('Sua Carteira') ?></strong>
                    <?php } else { ?>
                        <a href="<?= $block->escapeUrl($block->getWalletUrl()); ?>">
                            <?= /* @noEscape */ __('Sua Carteira') ?>
                        </a>
                    <?php } ?>
                </li>
                
                <li class="nav item <?= /* @noEscape */ strpos($magentoCurrentUrl, 'mlm/sponsor/genealogytree')
                    ? "current":"";?>">
                    <?php if (strpos($magentoCurrentUrl, 'mlm/sponsor/genealogytree') !== false) { ?>
                        <strong><?= /* @noEscape */ __('Árvore Genealógica') ?></strong>
                    <?php } else { ?>
                        <a href="<?= $block->escapeUrl($block->getGenealogyTreeUrl()); ?>">
                            <?= /* @noEscape */ __('Árvore Genealógica') ?>
                        </a>
                    <?php } ?>
                </li>
                <li class="nav item <?= /* @noEscape */ strpos($magentoCurrentUrl, 'mlm/sponsor/referral')
                    ? "current": strpos($magentoCurrentUrl, 'mlm/sponsor/email') ? "current" : ""; ?>">
                    <?php if (strpos($magentoCurrentUrl, 'mlm/sponsor/referral') !== false) { ?>
                        <strong><?= /* @noEscape */ __('Link de Referência') ?></strong>
                    <?php } else { ?>
                        <a href="<?= $block->escapeUrl($block->getReferralUrl()); ?>">
                            <?= /* @noEscape */ __('Link de Referência') ?>
                        </a>
                    <?php } ?>
                </li>
                
                <li class="nav item <?= /* @noEscape */ strpos($magentoCurrentUrl, 'mlm/sponsor/payment')
                    ? "current":"";?>">
                    <?php if (strpos($magentoCurrentUrl, 'mlm/sponsor/payment') !== false) { ?>
                        <strong><?= /* @noEscape */ __('Métodos de Recebimento') ?></strong>
                    <?php } else { ?>
                        <a href="<?= $block->escapeUrl($block->getPaymentMethodUrl()); ?>">
                            <?= /* @noEscape */ __('Métodos de Recebimento') ?>
                        </a>
                    <?php } ?>
                </li>
                <li class="nav item <?= /* @noEscape */ strpos($magentoCurrentUrl, 'mlm/sponsor/sponsorDetails')
                    ? "current":"";?>">
                    <?php if (strpos($magentoCurrentUrl, 'mlm/sponsor/sponsporDetails') !== false) { ?>
                        <strong><?= /* @noEscape */ __('Configure sua Loja') ?></strong>
                    <?php } else { ?>
                        <a href="<?= $block->escapeUrl($block->getSponsorConfigurationUrl()); ?>">
                            <?= /* @noEscape */ __('Configure sua Loja') ?>
                        </a>
                    <?php } ?>
                </li>
                <li class="nav item <?= /* @noEscape */ strpos($magentoCurrentUrl, 'mlm/sponsor/banner')
                    ? "current":"";?>">
                    <?php if (strpos($magentoCurrentUrl, 'mlm/sponsor/banner') !== false) { ?>
                        <strong><?= /* @noEscape */ __('Configuração de Banners') ?></strong>
                    <?php } else { ?>
                        <a href="<?= $block->escapeUrl($block->getSponsorBannerConfigurationUrl()); ?>">
                            <?= /* @noEscape */ __('Configuração de Banners') ?>
                        </a>
                    <?php } ?>
                </li>
                
            </ul>
        <?php } elseif ($block->isSponsor() && (!$block->isApproved())) {?>
            <ul class="nav items">
                <li class="nav item <?= /* @noEscape */ strpos($magentoCurrentUrl, 'mlm/sponsor/becomepartner')
                ? "current":"";?>">
                <?php if (strpos($magentoCurrentUrl, 'mlm/sponsor/becomesponsor') !== false) { ?>
                    <strong><?= /* @noEscape */ __('Solicitação está em análise.') ?></strong>
                <?php } else { ?>
                    <a href="<?= $block->escapeUrl($block->getBecomeSponsorUrl()); ?>">
                        <?= /* @noEscape */ __('Solicitação está em análise') ?>
                    </a>
                </li>
                <?php } ?>
            </ul>
        
        <?php } else { ?>
            <ul class="nav items">
                <li class="nav item <?= /* @noEscape */ strpos($magentoCurrentUrl, 'mlm/sponsor/becomepartner')
                ? "current":"";?>">
                <?php if (strpos($magentoCurrentUrl, 'mlm/sponsor/becomesponsor') !== false) { ?>
                    <strong><?= /* @noEscape */ __('Seja um(a) consultor(a) Viramoda!') ?></strong>
                <?php } else { ?>
                    <a href="<?= $block->escapeUrl($block->getBecomeSponsorUrl()); ?>">
                        <?= /* @noEscape */ __('Seja um(a) consultor(a) Viramoda!') ?>
                    </a>
                </li>
                <?php } ?>
            </ul>
        <?php } ?>
        </nav>
    </div>
</div>