<?php
/** @var \Lofmp\Rma\Block\Rma\NewRma $block */
?>


<?php 
    $orders = $block->getOrderList();
 
    if (count($orders)): ?>
        <div class="block">
            <div class="block-title">
                <strong><?= __('Select an order to return') ?></strong>
            </div>

            <div class="block-content">
             <div class="table-wrapper orders-history">
                   <table class="data table table-order-items history" id="my-orders-table">
                    <caption class="table-caption"><?= /* @escapeNotVerified */ __('Orders') ?></caption>
                    <thead>
                        <tr>
                            <th scope="col" class="col id"><?= /* @escapeNotVerified */ __('Order #') ?></th>
                            <th scope="col" class="col date"><?= /* @escapeNotVerified */ __('Date') ?></th>
                            <th scope="col" class="col shipping"><?= /* @escapeNotVerified */ __('Ship To') ?></th>
                            <th scope="col" class="col total"><?= /* @escapeNotVerified */ __('Order Product') ?></th>
                            <th scope="col" class="col status"><?= /* @escapeNotVerified */ __('Status') ?></th>
                            <th scope="col" class="col seller"><?= /* @escapeNotVerified */ __('Seller') ?></th>

                            <th scope="col" class="col actions"><?= /* @escapeNotVerified */ __('Action') ?></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($orders as $order): 
                          $_order = $order->getOrder();

                        ?>
                            <tr>
                                <td data-th="<?= $block->escapeHtml(__('Order #')) ?>" class="col id"><?= /* @escapeNotVerified */ $_order->getRealOrderId() ?></td>
                                <td data-th="<?= $block->escapeHtml(__('Date')) ?>" class="col date"><?= /* @escapeNotVerified */ $block->formatDate($_order->getCreatedAt()) ?></td>
                                <?php $extra = $block->getChildBlock('extra.container'); ?>
                                <?php if ($extra): ?>
                                    <?php $extra->setOrder($_order); ?>
                                    <?= /* @noEscape */ $extra->getChildHtml() ?>
                                <?php endif; ?>
                                <td data-th="<?= $block->escapeHtml(__('Ship To')) ?>" class="col shipping"><?= $_order->getShippingAddress() ? $block->escapeHtml($_order->getShippingAddress()->getName()) : '&nbsp;' ?></td>
                                <td data-th="<?= $block->escapeHtml(__('Order Product')) ?>" class="col total"><?= /* @escapeNotVerified */ $this->GetItemInfos($order->getOrderId(),$order->getSellerId()) ?></td>
                                <td data-th="<?= $block->escapeHtml(__('Status')) ?>" class="col status"><?= /* @escapeNotVerified */ $_order->getStatusLabel() ?></td>
                                <td data-th="<?= $block->escapeHtml(__('Seller')) ?>" class="col seller"><?= /* @escapeNotVerified */ $block->getSeller($order->getSellerId())->getName() ?></td>
                                <td data-th="<?= $block->escapeHtml(__('Actions')) ?>" class="col actions">
                                    <a href="<?= /* @escapeNotVerified */ $block->getOrderUrl($_order->getId()) ?>" class="action view">
                                        <span><?= /* @escapeNotVerified */ __('View Order') ?></span>
                                    </a>
                                    <?php if($block->IsItemsQtyAvailable($_order)): 
                                    ?>
                                    <a href="<?= /* @escapeNotVerified */ $block->getCreateRmaUrl($_order->getId(),$order->getSellerId()) ?>" class="action return">
                                        <span><?= /* @escapeNotVerified */ __('Return') ?></span>
                                    </a>
                                    <?php
                                      endif;
                                    ?>
                                </td>
                            </tr>
                            <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
<?php else: ?>
    <div class="message info empty">
        <span><?= __('You have no orders to request RMA or your orders were placed more than %1 days ago. Please, contact customer service.',$block->getReturnPeriod()) ?></span>
    </div>
<?php endif ?>