<style type="text/css">
    .rma-message-list{
       list-style: none;
        padding: 0;

    }
   .message-list .message-item{
   background: #f4feff;
    border: 1px solid #a2d7e1;
    border-radius: 6px;
    padding: 15px 10px;
    margin-bottom: 15px;
    position: relative;
    width: 90%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
}
    .message-list .message-item.internal {
    background: #6FA7D6;
        }
    .message-list .message-item.admin {
    border: 1px solid #b5eaab;
    float: right;
        }
</style>
<?php
/* @var $block \Lofmp\Rma\Block\Rma\View */
$rma = $block->getRma();
$order =  $this->getOrder();
 $items = $this->getOrder()->getAllItems(); 
 $helper_Rma = $this->helper('Lofmp\Rma\Helper\Data');
 $helper_Rma->getItems($rma);
 $helper = $this->helper('Lofmp\Rma\Helper\Help'); 
   $allow = $helper->getConfig($this->getStoreId(),'rma/general/file_allowed_extensions');
  $allowfile = str_replace(',', '|', $allow);
  $allowfileAR = explode(',',$allow);
  $SizeLimit = $helper->getConfig($store = null,'rma/general/file_size_limit');
 
?>
  <!--   echo $block->getChildHtml('rma.view.buttons') -->
  <script>
    
    function myFunction() {
                var popup = document.getElementById("rma-confirmation-form");
                popup.classList.toggle("show");
            }

</script>

<div class="rma-control-buttons">
    <?php if ($block->isShowShipping()): ?>
        <button onclick="var win = window.open('<?= $block->getPrintUrl() ?>', '_blank');win.focus();">
            <span><?= __('Print RMA Packing Slip') ?></span></button>
        <?php if ($block->getReturnlabel()): ?>
            <button onclick="var win = window.open('<?= $block->getPrintLabelUrl() ?>', '_blank');win.focus();">
                <span><?= __('Print RMA Shipping Label') ?></span>
            </button>
        <?php endif ?>
        <?php if ($block->isShowShippingConfirm()): ?>
            <button data-role="confirm-shipping" class="action primary" onclick="myFunction()">
                <span><?= __('Confirm Shipping') ?></span></button>
        <?php endif ?>
    <?php endif ?>
</div>

<?php if ($block->isShowShippingConfirm()): ?>
    <div id="rma-confirmation-form" style="display:none; background-color: #F3F3F3; padding:15px border-radius: 25px; " class="rma-dialog">
     <div class="page-title">
          <h2>Shipping Confirm</h2>
     </div>
        <form action="<?= $block->getConfirmationUrl() ?>" method="POST" enctype="multipart/form-data"
              id="rma-confirmation-form-validate">
            <fieldset class="fieldset">
                <div class="field">
                    <div class="control">
                        <p><?= $block->getShippingConfirm() ?></p>
                    </div>
                </div>
            </fieldset>

            <?php $fields = $block->getShippingConfirmFields(); ?>
            <?php if (count($fields)): ?>
                <fieldset class="fieldset">
                    <?php foreach ($fields as $field): ?>
                        <div class="field">
                            <label for="<?= $field->getCode() ?>" class="label
                                       <?php if ($field->IsCustomerRequired()): ?> required<?php endif ?>">
                                <span><?= __($field->getName()) ?></span>
                            </label>

                            <div class="control">
                                <?= $block->getFieldInputHtml($field) ?>
                                <p class="small"><?= $field->getDescription() ?></p>
                            </div>
                        </div>
                    <?php endforeach ?>
                </fieldset>
            <?php endif; ?>
            <div class="actions-toolbar">
                <div class="primary" style="float: right;">
                    <button type="submit" class="action primary" title="<?= __('Confirm Shipping') ?>">
                        <span><?= __('Confirm Shipping') ?></span></button>
                </div>
            </div>
        </form>
    </div>
<?php endif ?>

<div class="rma-confirmation-form-overlay" id="rma-confirmation-form-overlay" style="display:none;">&nbsp;</div>
   <div class="block">
    <div class="block-title">
        <strong><?= __('Request Information') ?></strong>
    </div>
    <div class="block-content">
	      <div class="box">
		       <div class="box-content">
			    	<?php /* @escapeNotVerified */ echo __('<b>Order   : </b> # %1', $this->getOrder()->getRealOrderId()) ?> 
              
              <br>
              <b><?php echo __('Order Date  ');?>:</b> <?php echo $this->getOrderDate(); ?>
              <br>
              <b><?php echo __('Order Status '); ?>:</b> <?php echo $this->getOrder()->getStatusLabel(); ?>
              <br>
              <b><?php echo __('Rma Status '); ?>:</b> <?php echo $this->GetStatusname($rma->getStatusId()); ?>
              <br><b><?php echo __('Rma Date  '); ?>:</b> <?php echo $this->getRmaDate(); ?>
			        <br>
              <?php foreach ($helper_Rma->getVisibleFields($rma->getStatusId(), true,true) as $field): ?>
                    <?php if ($value = $helper_Rma->getFieldValue($rma, $field)) {   
                     ?>
                        <b><?= __($field->getName()) ?> : </b>   <?= $value ?><br><br>
              <?php }
                    endforeach ?>
		       </div>
	       </div>
	        <div class="box box-order-shipping-information">
	                <strong class="box-title">
		                <?= __('Shipping Address') ?>:
		                <div class="actions pr-di"><a id="address-edit" href="">Edit</a></div>
	                </strong>

	                <div class="box-content">
	                    <?php echo $this->getFormattedAddress(); ?>
	                </div>
	        </div>
    </div>
</div>
<div class="block">
    <div class="block-title">
        <strong><?= __('Items ') ?></strong>
    </div>
    <div class="block-content">
        <div class="table-wrapper">
            <table class="data table table-wrapper rma-items">
                <thead>
                <tr>
                    <th scope="col" class="col name"><?= __('Product Information') ?></th>
                    <th scope="col" class="col qty"><?= __('Quantity Return') ?></th>
                    <th scope="col" class="col reason"><?= __('Reason') ?></th>
                    <th scope="col" class="col condition"><?= __('Condition') ?></th>           
                    <th scope="col" class="col resolution"><?= __('Resolution') ?></th>        
                </tr>
                </thead>
                <tbody>
                <?php foreach ($items as $item): 
                        if ($item->getData('product_type') == 'bundle'): ?>
                        <tr class="even">                       
                            <td><?= $item->getData('name') ?><?= __('(Bundled Product)') ?></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                <?php continue; endif; 
                	  $itemData =  $block->getRmaItemData($item);
                	  if(empty($itemData)||($itemData['qty_requested']==0))
                	  	continue;
                ?>
                    <tr>
                        <td data-th="Product" class="col image">
                            <div class="product-title"><?php echo $item->getData('name');?></div>
                          <div class="product-sku-block"><span><?php echo __('SKU');?>:</span><?php echo $item->getData('sku');?></div>
                          
                          <?php 
                          if(isset($item->getData('product_options')['attributes_info'])) {
                            echo '<dl class="item-options">';
                              foreach ($item->getData('product_options')['attributes_info'] as $key => $attributes_info) {
                                echo '<dt>'.$attributes_info['label'].'</dt>';
                                echo '<dd>'.$attributes_info['value'].'</dd>';
                              }
                            echo '</dl>';
                          }
                          ?>
                            <img id="image"
                                 src="<?= $block->initImage($item)->resize(150)->getUrl() ?>"
                                 width="150px"/>
                        </td>
                        <td data-th="<?= __('QTY') ?>" class="col qty">
                            <?= $itemData['qty_requested'] ?>
                        </td>
                        <td data-th="<?= __('Reason') ?>" class="col reason">
                                <?= __($itemData['reason_name']) ?>
                        </td>
                        <td data-th="<?= __('Condition') ?>" class="col condition">
                                <?= __($itemData['condition_name']) ?>
                        </td>
                        <td data-th="<?= __('Resolution') ?>" class="col resolution">
                                <?= __($itemData['resolution_name']) ?>
                        </td>
                    </tr>
                <?php endforeach ?>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="block">
              <div class="block-title">
                  <strong><?= __('Comment') ?></strong>
              </div>
              <div class="block-content">
              <form action="<?= $block->PostUrl($rma->getId()) ?>" method="POST" enctype="multipart/form-data" data-hasrequired="<?= __('* Required Fields') ?>" data-mage-init='{"validation":{}}'>
              <input name="id" type="hidden" value="<?= $block->getRmaId() ?>">
                  <fieldset class="fieldset">
                      <div class="field">
                          <div class="control">
                              <textarea name="reply" id="reply" class="input-text" style="width: 100%"></textarea>
                          </div>
                      </div>

                      <div class="field">
                          <label class="label">
                              <span><?= __('Upload files') ?></span>
                          </label>

                          <div class="control">
                            <input type='file' class='multi' name='attachment[]' id='attachment' accept='<?php echo $allowfile ?>'>
                          </div>
                          
                      </div>
                  </fieldset>
                  <div class="actions-toolbar">
			            <div class="primary">
			                <button type="submit" class="action primary" data-role="rma-submit">
			                    <span><?= __('Submit Request') ?></span>
			                </button>
			            </div>
				  </div>
				  </form>

    <legend class="admin__legend legend">
        <span><?= __('RMA Message') ?></span>
    </legend>

    <div class="message-list">
    <?php foreach ($helper_Rma->getMessages($rma,true) as $message): 
          if($message->getInternal()!=0)
               continue;
    ?>
        
          <div class="message-item <?= $block->getMessageType($message) ?> <?= $block->getSender($message)?>">
            <div class="rma-message__header">
                <strong>
                    <?php if ($message->getCustomerId()): ?>
                        <?= $message->getCustomerName() ?>
                        <?php if ($helper_Rma->getCustomerEmail($message->getCustomerId()) != ''): ?>
                            , <?= $helper_Rma->getCustomerEmail($message->getCustomerId()) ?>
                        <?php endif ?>
                    <?php elseif ($message->getUserId()): ?>
                        <?= $helper_Rma->getUserName($message->getUserId()) ?>
                     <?php endif ?>
                     <?php if ($message->getSellerId()): ?>
                        <?=$helper_Rma->getSellerName($message->getSellerId()) ?>
                    <?php endif ?>
                </strong>
                <span  style="float: right;" ><?= $block->formatDate($message->getCreatedAt(), \IntlDateFormatter::MEDIUM) ?> <?= $block->formatTime($message->getCreatedAt(), \IntlDateFormatter::SHORT) ?></span>
            </div>

            <div
                class="rma-message__body">
                <?php if ($message->getText()): 
                        if ($message->getIsHtml()): ?>
                            <?= $message->getText() ?>
                        <?php else: ?>
                             <?= nl2br($message->getText()) ?>
                <?php endif ?>
                <?php endif ?>
                <?php $attachments = $helper_Rma->getAttachments('message', $message->getId()) ?>
                <?php if (count($attachments)): ?>
                    <div class="rma-message__attachments">
                        <?php /** @var \Lofmp\Rma\Api\Data\AttachmentInterface $attachment */?>
                        <?php foreach ($attachments as $attachment): 
                       ?>
                            <a href="<?= $block->getAttachmentUrl($attachment->getUid()) ?>"><?= $attachment->getName() ?></a>
                        <?php endforeach ?>
                    </div>
                <?php endif ?>
            </div>
        </div>
    <?php endforeach ?>
     </div>
   </div>
</div>
<script type="text/javascript">
    require([
        "jquery"
    ], function ($) {
      $('#attachment').bind('change', function() {
          if(this.files[0].size/1024/1024 ><?php echo $SizeLimit ?>){ 
            alert("max file allow is <?php echo $SizeLimit ?> MB.Please choose another file ");
          }


            var type = this.files[0].name.split('.').pop().toLowerCase();
             
            var k = 0;
          <?php 
              foreach ($allowfileAR as $allowfile) {
                ?>
                if(type == '<?php echo $allowfile ?>' )
                  k=1;
                <?php
              }
          ?>
          
          if(k==0)
            alert('Wrong file type.Please upload another file');
        });
    });
    </script>
