<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MLM
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<table data-bind='visible: methods().length > 0'>
    <thead>
        <tr data-bind="
            attr: {
                class: 'data-grid-th headings',
                style : 'background-color: #5f564f;color:#fff;'
            }">
            <th data-bind="
            attr: {
                class: 'data-grid-th headings',
                style : 'padding: 1rem 1rem;vertical-align: middle;border: .1rem solid #8a837f;'
            }" >
            <input 
                class="admin__control-checkbox main-checkbox"
                style="opacity: 1.01;text-align: center;"
                type="checkbox"
                data-action="select-row" 
                data-bind="
                    attr: {
                        id: 'main-checkbox'
                    }"/>
        </th>
            <th data-bind="
            attr: {
                class: 'data-grid-td',
                style : 'padding: 1rem 1rem;vertical-align: middle;border: .1rem solid #8a837f;'
            }"><!-- ko i18n: 'Payment Type' --><!-- /ko --></th>
        </tr>
    </thead>
    <tbody data-bind='foreach: methods' style="text-align: center;">
        <tr class="data-row data-grid" style="border-bottom: .1rem solid #d6d6d6;">
                <td  class="data-grid-checkbox-cell">
                    <label class="data-grid-checkbox-cell-inner" style="padding: 0.1rem 1.8rem 1rem;">
                        <input 
                            class="admin__control-checkbox row-checkbox" 
                            style="opacity: 1.01;"
                            type="checkbox"
                            data-action="select-row" 
                            data-bind="
                                value : value,
                                checked : ischecked,
                                attr: {
                                    id: 'check' + value +' '
                                }"
                            />
                    </label>
                </td>
            <td>
                <label data-bind="
                text : label
                attr: {
                    id: 'label' + value
                }"></label>   
            </td>
        </tr>
    </tbody>
</table>