<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<?php
/** @var $block \Magento\Framework\View\Element\Template */
/** @var $helper \Magento\Search\Helper\Data */
$helper = $this->helper('Magento\Search\Helper\Data');
?>

<div class="block-content">
    <form class="form minisearch" id="search_mini_form" action="<?php /* @escapeNotVerified */
    echo $helper->getResultUrl() ?>" method="get">
        <div class="field search">
            <div class="control">
                <input id="search"
                       data-mage-init='{"quickSearch":{
							"formSelector":"#search_mini_form",
							"url":"<?php /* @escapeNotVerified */
                       echo $block->getUrl('search/ajax/suggest'); ?>",
							"destinationSelector":"#search_autocomplete"}
					   }'
                       type="text"
                       name="<?php /* @escapeNotVerified */
                       echo $helper->getQueryParamName() ?>"
                       onfocus="if(this.value=='Busca') this.value='';"
                       onblur="if(this.value=='') this.value='Busca';"
                       value="Busca"
                       class="input-text"
                       maxlength="<?php /* @escapeNotVerified */
                       echo $helper->getMaxQueryLength(); ?>"
                       role="combobox"
                       aria-haspopup="false"
                       aria-autocomplete="both"
                       autocomplete="off"/>
                <div id="search_autocomplete" class="search-autocomplete"></div>
                <?php echo $block->getChildHtml() ?>
            </div>
        </div>
        <div class="actions">
            <button type="submit" title="<?php echo $block->escapeHtml(__('Busca')) ?>" class="btn-search-header">
				<span><?php /* @escapeNotVerified */
                    echo __('Busca'); ?></span>
            </button>
        </div>
    </form>
</div>
