<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>

<?php

$_productCollection = $block->getLoadedProductCollection();

$_helper = $this->helper('Magento\Catalog\Helper\Output');
$helper = $this->helper('Lof\MarketPlace\Helper\Data');

?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?php /* @escapeNotVerified */ echo __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
    <?php
    
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <div  class="row">
        <?php $iterator = 1; ?>
        <div class="col-md-12 col-sm-12 col-xs-12">
             <div class="x_panel">
                <div class="x_title">
                    <h2><?php echo __('Tables Membership'); ?></h2>
                    <div class="clearfix"></div>
                </div>
                
                    <div class="x_content">
                       
                        <div class="row">
                            <div class="col-md-12">
                                <?php   foreach ($_productCollection as $_product):
                                $seller_group = $_product->getData('seller_group');
             
                                $price = 0;
                                $duration = $_product->getData('duration');
                                  
                                if($duration && !is_array($duration)){
                                    $duration = json_decode($duration,true);
                                
                                    $price = current($duration);
                                    $price = $price['membership_price'];
                                }
 
                                 ?>
                                <?php
                                    $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                                ?>
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="pricing <?php echo $_product->getData('featured_package')?"ui-ribbon-container":""; ?>">
                                        <?php if($_product->getData('featured_package')) { ?>
                                            <div class="ui-ribbon-wrapper">
                                              <div class="ui-ribbon">
                                                <?php echo __('Featured'); ?>
                                              </div>
                                            </div>
                                        <?php } ?>    
                                        <div class="title">
                                          <h2><?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?></h2>
                                          <h1 id="lof_price_<?php echo $_product->getId() ?>"><?php echo $helper->getPriceFomat($price); ?></h1>
                                        </div>
                                  
                                        <?= $block->getProductDetailsHtml($_product) ?>
                                   
                                        <div class="x_content">
                                            <div class="">
                                                <div class="pricing_features">
                                                    <div class="list-unstyled text-left">
                                                        <li><i class="fa fa-check text-success"></i> <?php echo __('Commission').':';?> <strong><?php echo $this->getFeeCommission($seller_group); ?></strong></li>
                                                        <?php 
                                                        if($this->getOption($seller_group)) {
                                                        foreach($this->getOption($seller_group) as $k => $option) { ?>
                                                         <li><i class="fa fa-check text-success"></i>  <strong><?php echo $option; ?></strong></li>
                                                        <?php } 
                                                        } ?>
                                                    </div>
                                                   
                                                </div>  
                                                <div class="pricing_footer">
                                                    <?php if ($_product->isSaleable()): ?>
                                                        <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                                        <form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
                                                            <input type="hidden" id="lofprice_<?php echo $_product->getId() ?>" name="price" value="<?php /* @escapeNotVerified */ echo $price; ?>">
                                                            <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
                                                            <input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                                            <select name="membership[duration]" data-validate="{required:true}" id="lof_membership_duration_<?php echo $_product->getId() ?>" class="super-attribute-select">
                                                            <?php 
                                                            if($duration) {
                                                            foreach ($duration as $key => $_duration) { ?>
                                                            <option value="<?php echo $_duration['membership_duration'].'|'.$_duration['membership_unit'].'|'.$_duration['membership_price'] ?>"><?php echo $_duration['membership_duration'].' '.$_duration['membership_unit'].'-'.$helper->getPriceFomat($_duration['membership_price']) ?></option>
                                                           
                                                            <?php  }
                                                            } 
                                                            ?>

                                                            <?php echo $block->getBlockHtml('formkey')?>
                                                            <?php if(isset($text)) { ?>
                                                            <button type="button"
                                                                    title="<?php echo $text; ?>"
                                                                    class="action primary">
                                                                <span><?php /* @escapeNotVerified */ echo $text ?></span>
                                                            </button>
                                                            <?php   } else { ?>
                                                            <button type="submit"
                                                                    title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                                                    class="action tocart primary">
                                                                <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                                            </button>
                                                            <?php } ?>
                                                        </form>
                                                    <?php else: ?>
                                                        <?php if ($_product->getIsSalable()): ?>
                                                            <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
                                                        <?php else: ?>
                                                            <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
                                                        <?php endif; ?>
                                                    <?php endif; ?> 
                                                </div>  
                                            </div>
                                            <div data-role="add-to-links" class="actions-secondary">
                                                <?php if ($addToBlock = $block->getChildBlock('addto')): ?>
                                                    <?php echo $addToBlock->setProduct($_product)->getChildHtml(); ?>
                                                <?php endif; ?>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <script type="text/javascript">
                                    require(['jquery'], function ($) {
                                        $(document).ready(function() {
                                            $('#lof_membership_duration_<?php echo $_product->getId() ?>').on('change', function() {
                                                var value = this.value.split('|');
                                                $('#lofprice_<?php echo $_product->getId() ?>').val(value[2]);
                                                $('#lof_price_<?php echo $_product->getId() ?>').text('<?php echo $helper->getCurrentCurrencySymbol() ?>'+value[2]);
                                            })
                                        });
                                    });
                                </script>
                                <?php endforeach; ?>
                            </div>    
                        </div>
                    </div>
                   
            </div>    
        </div>
    </div>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {}
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>
