<?php
/**
 * Class billet
 *
 * @author      MundiPagg Embeddables Team <embeddables@mundipagg.com>
 * @copyright   2017 MundiPagg (http://www.mundipagg.com)
 * @license     http://www.mundipagg.com Copyright
 *
 * @link        http://www.mundipagg.com
 */
?>

<?php if ($this->getBilletUrl()): ?>
    <hr />
    <a class="action tocart primary mundipagg-link-boleto" id="mundipagg-link-boleto" href="<?php echo $this->getBilletUrl() ?>" target="_blank"><?php echo __('Print Billet') ?></a>
<?php endif ?>

<script type="text/x-magento-init">
    {
        "*" : {
            "MundiPagg_MundiPagg/js/custom/fix-print-billet": {}
        }
    }
</script>
