<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MLM
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

$earningHelper = $block->getEarningHelper();
$sponsorHelper = $block->getSponsorHelper();
$mlmHelper = $block->getHelper();
$currency = $baseCurrency = $mlmHelper->getBaseCurrencyCode();
$storeCurrency = $mlmHelper->getCurrentCurrency();

$paramData = $block->getRequest()->getParams();
$filterDateTo = '';
$filterDateFrom = '';
if (isset($paramData['from_date'])) {
    $filterDateFrom = $paramData['from_date'] != ""?$paramData['from_date']:"";
}
if (isset($paramData['to_date'])) {
    $filterDateTo = $paramData['to_date'] != ""?$paramData['to_date']:"";
} ?>
<div class="wk-mp-design">
    <fieldset class="fieldset info wk-mp-fieldset">
        <div class="grid">
            <div class="hor-scroll">
                <form action="<?= $block->escapeUrl($block->getCurrentUrl());?>" method="get" autocomplete="off">
                    <table cellspacing="0" class="border wk-mp-list-table">
                        <thead>
                            <tr id="wk-mp-tr-heading">
                                <th><span><?= $block->escapeHtml(__('Data')) ?></span></th>
                                <th><span>&nbsp;</span></th>
                            </tr>
                        </thead>
                        <tbody class="wk-mp-body">
                            <tr>
                                <td>
                                    <span class="wk-mp-td-span">
                                        <input name="from_date" id="special-from-date"
                                            class="input-text"
                                                value="<?= $block->escapeHtmlAttr($filterDateFrom)?>"  oncopy="return false" onpaste="return false" 
                                                type="text"
                                                placeholder='<?= $block->escapeHtml(__('Data de')) ?>'/>
                                    </span>
                                    <span class="wk-mp-td-span">
                                        <input name="to_date" id="special-to-date"
                                        oncopy="return false" onpaste="return false" 
                                         class="input-text" value="<?= $block->escapeHtmlAttr($filterDateTo)?>"
                                          type="text" placeholder='<?= $block->escapeHtml(__('Data até')) ?>'/>
                                    </span>
                                </td>
                                <td class="wk-mp-td-last">
                                    <button class="button" title="Save" id="save-btn" type="submit">
                                        <span><span><span><?= $block->escapeHtml(__('Visualizar')) ?></span></span></span>
                                    </button>
                                    <?php
                                    if ($filterDateFrom) {
                                        $filterDateFromPost = $block->getFormateDate($filterDateFrom);
                                    } else {
                                        $filterDateFromPost = '';
                                    }
                                    if ($filterDateTo) {
                                        $filterDateToPost = $block->getFormateDate($filterDateTo);
                                    } else {
                                        $filterDateToPost = '';
                                    }
                                    ?>
                                    <?php $exportUrl = $block->getUrl(
                                        'mlm/sponsor_wallet/generatepdf',
                                        [
                                            'from_date' => $filterDateFromPost,
                                            'to_date' => $filterDateToPost,
                                            '_secure' => $block->getRequest()->isSecure()
                                        ]
                                    );?>
                                    <a href="<?= $block->escapeUrl($exportUrl);?>">
                                        <button class="button" title="Save" type="button" style="display: none;">
                                            <span><span><span><?= $block->escapeHtml(__('Exportar PDF')); ?></span>
                                            </span></span>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
                <?php
                if (!$block->getWalletTransactionCollection() ||
                    !$block->getWalletTransactionCollection()->getSize()) { ?>
                    <div class="fieldset wk-mp-fieldset">
                        <div class="wk-emptymsg">
                            <?= $block->escapeHtml(__('Nenhuma transação disponível')) ?>
                        </div>
                    </div>
                    <?php
                } else { ?>
                    <div class="table-wrapper">
                        <table cellspacing="0" class="border wk-mp-list-table wk-mp-list-container-table table">
                            <thead>
                                <tr>
                                    <th class="wk-first-td">
                                        <span class="label">
                                            <?= $block->escapeHtml(__('ID'))?>
                                        </span>
                                    </th>
                                    <th>
                                        <span class="label">
                                            <?= $block->escapeHtml(__('Tipo de Ganho'))?>
                                        </span>
                                    </th>
                                    <th>
                                        <span class="label name">
                                            <?= $block->escapeHtml(__('Descrição'))?>
                                        </span>
                                    </th>
                                    <th>
                                        <span class="label">
                                            <?= $block->escapeHtml(__('Data'))?>
                                        </span>
                                    </th>
                                    <th>
                                        <span class="label">
                                            <?= $block->escapeHtml(__('Montante'))?>
                                        </span>
                                    </th>
                                    <th>
                                        <span class="label">
                                            <?= $block->escapeHtml(__('Balanço'))?>
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php
                                $i = 0;
                                foreach ($block->getWalletTransactionCollection() as $transactioncoll) {
                                    $i++;
                                    ?>
                                    <tr>
                                        <td data-th="<?= $block->escapeHtml(__('ID'))?>">
                                            <span class="label">
                                                <?= /* @noEscape */ $transactioncoll->getId(); ?>
                                            </span>
                                        </td>
                                        <td data-th="<?= $block->escapeHtml(__('Tipo de Ganho'))?>">
                                            <span class="label">
                                                <?= /* @noEscape */ $earningHelper->getEarningTypeLabel(
                                                    $transactioncoll->getEarningType()
                                                ); ?>
                                            </span>
                                        </td>
                                        <td data-th="<?= $block->escapeHtml(__('Descrição'))?>">
                                            <?php
                                            if ($transactioncoll->getDescription()) {
                                                $customnote = $transactioncoll->getDescription();
                                            } else {
                                                $customnote = __('None');
                                            }
                                            ?>
                                            <span class="label name">
                                                <span class='bol'>
                                                    <?= $block->escapeHtml($customnote) ;?>
                                                </span>
                                            </span>
                                        </td>
                                        <td data-th="<?= $block->escapeHtml(__('Data'))?>" class="wk-first-td">
                                            <span class="label">
                                                <?= /* @noEscape */
                                                $block->formatDate($transactioncoll->getCreatedAt())
                                                . " " . $block->formatTime($transactioncoll->getCreatedAt())
                                                ; ?>
                                            </span>
                                        </td>
                                        <td data-th="<?= $block->escapeHtml(__('Montante'))?>">
                                            <span class="label price">
                                                <?= /* @noEscape */$mlmHelper->getFormattedPrice(
                                                    $mlmHelper->getCurrencyConvertedAmt(
                                                        $currency,
                                                        $storeCurrency,
                                                        $transactioncoll->getAmount()
                                                    ),
                                                    $storeCurrency
                                                ); ?>
                                            </span>
                                        </td>
                                        <td data-th="<?= $block->escapeHtml(__('Balanço'))?>">
                                            <span class="label price">
                                                <?= /* @noEscape */$mlmHelper->getFormattedPrice(
                                                    $mlmHelper->getCurrencyConvertedAmt(
                                                        $currency,
                                                        $storeCurrency,
                                                        $transactioncoll->getWalletBalance()
                                                    ),
                                                    $storeCurrency
                                                ); ?>
                                            </span>
                                        </td>
                                    </tr>
                                    <?php
                                }?>
                            </tbody>
                        </table>
                    </div>
                    <?php
                }?>
            </div>
        </div>
        <?php if ($block->getPagerHtml()): ?>
            <div class="order-products-toolbar toolbar bottom"><?= $block->getPagerHtml(); ?></div>
        <?php endif ?>
    </fieldset>
</div>
<div class="buttons-set">
    <p class="back-link">
        <a href="javascript:;" 
            onclick="javascript: window.history.back();"
            class="left">&laquo; <?= $block->escapeHtml(__('Voltar')) ?></a>
    </p>
</div>

<script>
    require([
        "jquery",
        "mage/mage",
        'mage/calendar'
    ], function($){
        $(".wk-mp-body").dateRange({
            'dateFormat':'dd/mm/yy',
            'from': {
                'id': 'special-from-date'
            },
            'to': {
                'id': 'special-to-date'
            }
        });
    });
</script>
