<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MLM
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

$lifetimeSalesEarning = $block->getLifetimeSalesEarning();
$lifetimeJoiningEarning = $block->getLifetimeJoiningEarning();
$lifetimeMemberBonus = $block->getLifetimeMemberBonus();
$currentMonthSalesEarning = $block->getCurrentMonthSalesEarning();
$currentMonthJoiningEarning = $block->getCurrentMonthJoiningEarning();
$currentMonthMemberBonus = $block->getCurrentMonthMemberBonus();
?>

<section class="admin__page-section order-view-account-information">
    <div class="admin__page-section-title">
        <span class="title"><?= $block->escapeHtml(__('Business Stat')) ?></span>
    </div>
    <div class="admin__page-section-content">
        <div class="admin__page-section-item order-information">
            <?php /* Order Information */ ?>
            <div class="admin__page-section-item-title">
                <span class="title">
                        <?= $block->escapeHtml(__('Lifetime')) ?>
                </span>
            </div>
            <div class="admin__page-section-item-content">
                <table class="admin__table-secondary order-information-table">
                    <tr>
                        <th><?= $block->escapeHtml(__('Sales Earning')) ?></th>
                        <td><?= $block->escapeHtml($lifetimeSalesEarning) ?></td>
                    </tr>
                    <tr>
                        <th><?= $block->escapeHtml(__('Joining Earning')) ?></th>
                        <td><span><?= $block->escapeHtml($lifetimeJoiningEarning) ?></span></td>
                    </tr>
                    <tr>
                        <th><?= $block->escapeHtml(__('Member Bonus')) ?></th>
                        <td><?= $block->escapeHtml($lifetimeMemberBonus) ?></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="admin__page-section-item order-account-information">
            <?php /* Account Information */ ?>
            <div class="admin__page-section-item-title">
                <span class="title"><?= $block->escapeHtml(__('Current Month')) ?></span>
            </div>
            <div class="admin__page-section-item-content">
                <table class="admin__table-secondary order-information-table">
                    <tr>
                        <th><?= $block->escapeHtml(__('Sales Earning')) ?></th>
                        <td><?= $block->escapeHtml($currentMonthSalesEarning) ?></td>
                    </tr>
                    <tr>
                        <th><?= $block->escapeHtml(__('Joining Earning')) ?></th>
                        <td><span><?= $block->escapeHtml($currentMonthJoiningEarning) ?></span></td>
                    </tr>
                    <tr>
                        <th><?= $block->escapeHtml(__('Member Bonus')) ?></th>
                        <td><?= $block->escapeHtml($currentMonthMemberBonus) ?></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>