<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MLM
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<section class="admin__page-section">
    <div class="admin__page-section-title">
        <span class="title"><?= $block->escapeHtml(__('Comment and Set Member Level')) ?></span>
    </div>
    <div class="admin__page-section-content">
        <div class="admin__page-section-item order-comments-history">
            <div class="admin__page-section-item-title">
                <span class="title"><?= $block->escapeHtml(__('Business History')) ?></span>
            </div>
            <div id="sponsor_business_comment_block" class="edit-order-comments">
                <div class="order-history-block" id="sponsor_business_comment_form">
                    <div class="admin__field">
                        <label for="sponsor_business_comment_title" class="admin__field-label">
                            <?= $block->escapeHtml(__('Title')) ?>
                        </label>
                        <div class="admin__field-control">
                            <div class="admin__field-control">
                                <input type="text" id="sponsor_business_comment_title"
                                        name="sponsor_business_comment_title"
                                        title="<?= $block->escapeHtml(__('Title')); ?>"
                                        class="admin__control-text"
                                />
                            </div>
                        </div>
                    </div>

                    <div class="admin__field">
                        <label for="sponsor_business_comment" class="admin__field-label">
                            <?= $block->escapeHtml(__('Description')) ?>
                        </label>
                        <div class="admin__field-control">
                            <textarea name="sponsor_business_comment"
                                    rows="3"
                                    cols="5"
                                    id="sponsor_business_comment"
                                    class="admin__control-textarea"></textarea>
                        </div>
                    </div>

                    <div class="admin__field">
                        <div class="order-history-comments-options">
                            <div class="admin__field admin__field-option">
                                <input name="email_comment_copy"
                                    type="checkbox"
                                    id="email_comment_copy"
                                    class="admin__control-checkbox"
                                    value="1" />
                                <label class="admin__field-label" for="email_comment_copy">
                                    <?= $block->escapeHtml(__('Email a copy of Comment')) ?>
                                </label>
                            </div>
                        </div>

                        <div class="order-history-comments-actions">
                            <?= $block->getChildHtml('sponsor_business_comment_button') ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>