<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MLM
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

$tree["tree"][] = $block->getTreeCollection();
$sponsorCode = $block->getAdminSponsorId();
$serializedData = $block->jsonEncode($tree);
?>
<div class="tree-container" data-mage-init='{"genealogyTree":<?= /* @noEscape */  $serializedData; ?>}'>
    <div class="container" id="<?= $block->escapeHtmlAttr('containerFor'.$sponsorCode); ?>">
        <div class="member tree-node you-node">
            <span class="<?= $block->escapeHtmlAttr('wk'.$sponsorCode); ?>">
                <?= $block->escapeHtml(__("You")); ?>
            </span>
        </div>
    </div>
</div>
<script id="treeNodeTemplate" type="text/x-magento-template">
    <div class='container' id="containerFor<%- data.sponsor_code %>">
        <div class=" <%- 'tree-node left-node member' %>">
            <span class="wk<%- data.sponsor_reference_code %>">
                <%- data.customer_name %>
            </span>
        </div>
    </div>
</script>

<script>
/*jshint jquery:true*/
require([
    "jquery",
    'mage/translate',
    "mage/template",
    "mage/mage",
    "domReady!"
], function ($, $t,mageTemplate, alert) {
    'use strict';
        function initialize() {
            var self = this;
            var options = JSON.parse('<?= /* @noEscape */  $serializedData; ?>');
            console.log(options);
            if (options.tree.length) {
                $(options.tree).each(function(index, value){
                    for (let key in value) {
                        $(value[key]).each(function(key, data){
                            insertNode(data);
                        });
                    }
                });
            }
        }
        function insertNode(data){
            var addRowNow;
            var addRow = mageTemplate('#treeNodeTemplate');
            addRowNow = addRow({
                data: data
            });
            var parent = $("#containerFor" + data.sponsor_reference_code).length
                ? $("#containerFor" + data.sponsor_reference_code) : $(".tree-container");
            parent.append(addRowNow);
        }
        initialize();
    });
</script>