<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MLM
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

$currentMemberLevelId = $block->getCurrentMemberLevelId();
$memberLevels = $block->getMemberLevels();
$walletBalance = $block->getWalletBalance();
$pendingBalance = $block->getPendingBalance();
?>
<section class="admin__page-section">
    <div class="admin__page-section-title">
        <span class="title"><?= $block->escapeHtml(__('Member Level and Current Business Balance')) ?></span>
    </div>
    <div class="admin__page-section-content">
        <div class="admin__page-section-item order-comments-history">
            <div class="admin__page-section-item-title">
                <span class="title"><?= $block->escapeHtml(__('Set Member')) ?></span>
            </div>
            <div id="order_history_block" class="edit-order-comments">
                <div class="order-history-block" id="history_form">
                    <div class="admin__field">
                        <label for="set_member" class="admin__field-label">
                            <?= $block->escapeHtml(__('Set Member')) ?>
                        </label>
                        <div class="admin__field-control">
                            <select name="set_member" id="set_member" class="admin__control-select">
                                <?php foreach ($memberLevels as $_code => $_label): ?>
                                    <option value="<?= $block->escapeHtmlAttr($_code) ?>"
                                        <?php if ($_code == $currentMemberLevelId): ?> 
                                            selected="selected"<?php endif; ?>>
                                                <?= $block->escapeHtml($_label) ?>
                                    </option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="admin__field">
                        <div class="order-history-comments-actions">
                            <?= $block->getChildHtml('change_member_level_button'); ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="admin__page-section-item order-information">
            <div class="admin__page-section-item-title">
                <span class="title"><?= $block->escapeHtml(__('Current Business Balance')) ?></span>
            </div>
            <div class="admin__page-section-item-content">
                <table class="admin__table-secondary order-information-table">
                    <tr>
                        <th><?= $block->escapeHtml(__('Wallet Balance')) ?></th>
                        <td><?= $block->escapeHtml($walletBalance) ?></td>
                    </tr>
                    <tr>
                        <th><?= $block->escapeHtml(__('Pending Balance')) ?></th>
                        <td><span><?= $block->escapeHtml($pendingBalance) ?></span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>