<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MLM
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

$requestedAmount = $block->getRequestedAmount() ?: __("Not Applicable");
$requestedAmountDate = $block->getRequestedAmountDate() ?: __("Not Applicable");
$requestedAmountTransactionId = $block->getRequestedAmountTxnId() ?: __("Not Applicable");
$requestedAmountDescription = $block->getRequestedAmountDescription() ?: __("Not Applicable");
?>
<section class="admin__page-section order-view-account-information">
    <div class="admin__page-section-title">
        <span class="title"><?= $block->escapeHtml(__('Requested Amount Details')) ?></span>
    </div>
    <div class="admin__page-section-content">
        <div class="admin__page-section-item order-information">
            <?php /* Payment Method */ ?>
            <div class="admin__page-section-item-title">
                <span class="title"><?= $block->escapeHtml(__('Requested Amount')) ?></span>
            </div>
            <div class="admin__page-section-item-content">
                <table class="admin__table-secondary order-information-table">
                    <tr>
                        <th><?= $block->escapeHtml(__('Requested Amount')) ?></th>
                        <td><?= $block->escapeHtml($requestedAmount) ?></td>
                    </tr>
                    <tr>
                        <th><?= $block->escapeHtml(__('Date')) ?></th>
                        <td><span><?= $block->escapeHtml($requestedAmountDate) ?></span></td>
                    </tr>
                    <tr>
                        <th><?= $block->escapeHtml(__('Transaction ID')) ?></th>
                        <td><?= $block->escapeHtml($requestedAmountTransactionId) ?></td>
                    </tr>
                    <tr>
                        <th><?= $block->escapeHtml($requestedAmountDescription) ?></th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="admin__page-section-item order-account-information">
            <div class="admin__page-section-item-title">
                <span class="title"><?= $block->escapeHtml(__('Pay to Sponsor')) ?></span>
            </div>
            <div class="admin__page-section-item-content">
                <div id="pay_to_sponsor_block" class="edit-order-comments">
                    <div class="order-history-block" id="sponsor_payment_form">
                        <div class="admin__field _required">
                            <label for="amount_to_pay" class="admin__field-label">
                                <?= $block->escapeHtml(__('Amount to Pay')) ?>
                            </label>
                            <div class="admin__field-control">
                                <div class="admin__field-control">
                                    <input type="text" id="amount_to_pay"
                                            name="amout_to_pay"
                                            title="<?= $block->escapeHtml(__('Amount to Pay')); ?>"
                                            class="admin__control-text required-entry" required
                                    />
                                </div>
                            </div>
                        </div>

                        <div class="admin__field">
                            <label for="sponsor_payment_form_comments" class="admin__field-label">
                                <?= $block->escapeHtml(__('Comments')) ?>
                            </label>
                            <div class="admin__field-control">
                                <textarea name="sponsor_payment_form_comments"
                                        rows="3"
                                        cols="5"
                                        id="sponsor_payment_form_comments"
                                        class="admin__control-textarea"></textarea>
                            </div>
                        </div>

                        <div class="admin__field">
                            <div class="order-history-comments-actions">
                                <?= $block->getChildHtml('pay_to_sponsor_button') ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>