<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MLM
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

$sponsorCode = $block->getSponsorCode();
$joiningDate = $block->getJoiningDate();
$parentSponsorName = $block->getParentSponsorName();
$memberLevelName = $block->getMemberLevelName();
$downlineMemberCount = $block->getDownlineMemberCount();
$customerName = $block->getCustomerName();
$customerEmail = $block->getCustomerEmail();
$customerGroup = $block->getCustomerGroup();
?>

<section class="admin__page-section order-view-account-information">
    <div class="admin__page-section-title">
        <span class="title"><?= $block->escapeHtml(__('Sponsor Information')) ?></span>
    </div>
    <div class="admin__page-section-content">
        <div class="admin__page-section-item order-information">
            <?php /* Order Information */ ?>
            <div class="admin__page-section-item-title">
                <span class="title">
                        <?= $block->escapeHtml(__('Sponsor ID %1', $sponsorCode)) ?>
                </span>
            </div>
            <div class="admin__page-section-item-content">
                <table class="admin__table-secondary order-information-table">
                    <tr>
                        <th><?= $block->escapeHtml(__('Joining Date')) ?></th>
                        <td><?= $block->escapeHtml($joiningDate) ?></td>
                    </tr>
                    <tr>
                        <th><?= $block->escapeHtml(__('His/Her Sponsor')) ?></th>
                        <td><span><?= $block->escapeHtml($parentSponsorName) ?></span></td>
                    </tr>
                    <tr>
                        <th><?= $block->escapeHtml(__('Member')) ?></th>
                        <td><?= $block->escapeHtml($memberLevelName) ?></td>
                    </tr>
                    <tr>
                        <th><?= $block->escapeHtml(__('Downline Team')) ?></th>
                        <td><?= $block->escapeHtml($downlineMemberCount) ?></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="admin__page-section-item order-account-information">
            <?php /* Account Information */ ?>
            <div class="admin__page-section-item-title">
                <span class="title"><?= $block->escapeHtml(__('Account Information')) ?></span>
            </div>
            <div class="admin__page-section-item-content">
                <table class="admin__table-secondary order-account-information-table">
                    <tr>
                        <th><?= $block->escapeHtml(__('Customer Name')) ?></th>
                        <td><?= $block->escapeHtml($customerName) ?></td>
                    </tr>
                    <tr>
                        <th><?= $block->escapeHtml(__('Email')) ?></th>
                        <td><a href="mailto:<?= $block->escapeHtmlAttr($customerEmail) ?>">
                            <?= $block->escapeHtml($customerEmail) ?></a>
                        </td>
                    </tr>
                    <tr>
                        <th><?= $block->escapeHtml(__('Customer Group')) ?></th>
                        <td><?= $block->escapeHtml($customerGroup) ?></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>