<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MLM
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<!--@subject {{var subject|raw}} @-->
<!--@vars {
"var store.frontend_name":"Store Name",
"var store_email":"Store Email",
"var store_phone":"Store Phone",
"var comment":"Comment",
"var title":"Title",
"var sponsorName":"Sponsor Name",
} @-->
	
{{template config_path="design/email/header_template"}}

<p class="greeting">{{trans "Hello,"}} {{var sponsorName |raw}}</p>
<br>

<p>
    {{var comment |raw}}
</p>
<br>

<p>{{trans "Thanks,<br>%store_name" store_name=$store.frontend_name |raw}}</p>

{{template config_path="design/email/footer_template"}}
