<!-- /**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MLM
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */ -->

<td class="label">
    <label><?= $block->escapeHtml(__('Sorting Order')); ?></label>
</td>
<td colspan="3">
    <table class="amsorting-sort-order" id="amsorting-sort-order">
        <?php foreach ($block->getPositions() as $key => $index): ?>
            <tr>
                <th>
                </th>
                <td class="item-position">
                    <?= $block->escapeHtmlAttr($index) ?>
                    <div class="draggable"></div>
                    <input type="hidden"
                           name="<?= $block->escapeHtmlAttr($block->getNamePrefix($key)) ?>"
                           value="<?= $block->escapeHtmlAttr(__($index)) ?>">
                </td>
                <th style="min-width: 69px; visibility: hidden;"></th>
            </tr>
        <?php endforeach ?>
    </table>
    <p class="note">
        <span><?= $block->escapeHtml(
            __('Drag and drop sorting options in the order you want them to appear for the customers.')
        ); ?></span>
    </p>
</td>
<script>
    require([
        'jquery',
        'collapsable'
    ], function ($) {
        $('#amsorting-sort-order').sortable({
            axis: 'y',
            handle: '.item-position',
            items: 'tr',
            tolerance: 'pointer'
        });
    });
</script>
