<?php
/** @var \Neoretail\Danfe\Block\Order\Danfe $block */
?>
<?php $danfes = $block->getDanfes(); ?>

<div class="order-details-items invoice">
    <div class="order-title">
        <strong><?= /* @escapeNotVerified */
            __('Order #') ?><?= /* @escapeNotVerified */
            $block->getOrder()->getIncrementId(); ?></strong>
    </div>
    <div>
        <table class="data table table-order-items danfe" id="my-danfe-table">
            <?php if ($danfes): ?>
            <thead>
            <tr>
                <th class="col date"><?= /* @escapeNotVerified */
                    __('Date') ?></th>
                <th class="col key"><?= /* @escapeNotVerified */
                    __('Key') ?></th>
                <th class="col download-link"><?= /* @escapeNotVerified */
                    __('Download Link') ?></th>
            </tr>
            </thead>

                <tbody>
                <?php foreach ($danfes as $danfe): ?>
                    <tr>
                        <td class="col date" data-th="<?= $block->escapeHtml(__('Date')) ?>">
                            <?= /* @escapeNotVerified */
                            $block->formatDate($danfe->getCreatedAt()) ?>
                        </td>
                        <td class="col key" data-th="<?= $block->escapeHtml(__('Key')) ?>">
                            <?= $danfe->getKey(); ?>
                        </td>
                        <td class="col download" data-th="<?= $block->escapeHtml(__('Download')) ?>">
                            <a href="<?= $danfe->getBinary(); ?>"><?= $block->escapeHtml(__('Download')); ?></a>
                        </td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            <?php endif; ?>
            <?= __('We couldn\'t find any records.') ?>
        </table>
    </div>
</div>
