<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MLM
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
/* block Webkul\MLM\Block\Sponsor\Configurations */
$bannerData = $block->getBannerData();
?>
<div class="sponsor-configuration-container">
    <form class="form form-homepage-details" 
        action="<?= /**@escapeNotVerified */ ($block->addBannerFormUrl()); ?>"
        data-mage-init='{"validation": {}}' enctype = 'multipart/form-data' method="post" id="form-validate" autocomplete="off">
    
    <label data-bind="text : 'Detalhes do Banner'"></label>
    <hr/>
    <legend></legend>
        <fieldset class="fieldset info">
        <input type="hidden" 
                name="sponsor_id"
                value="<?= $block->escapeHtmlAttr($block->getCustomerId()) ?>"
            />
            <input type="hidden" 
                name="banner_id"
                value="<?= $block->escapeHtmlAttr($bannerData->getEntityId()) ?>"
            />
           
            <div class="field required">
                <label class="label"><?= /* @noEscape */  __('Imagem do Banner') ?></label>
                
                <div class="control logo-file"
                    id="wk-mp-logo-file-wrapper" >
                    <input type="file" name="banner_image" class="wk_logoimagevalidate"  value="<?= $block->escapeHtml($bannerData->getBannerImage())?>" />
                </div>
                
            </div>
            <div class="field control">
                <label class="label"><?= /* @noEscape */  __('Link do Banner') ?></label>
                
                <div class="control banner_link"
                    id="wk-mp-banner_link-wrapper" >
                    <input type="text" name="banner_link" value="<?= $block->escapeHtml($bannerData->getBannerLink())?>" class="wk_logowidthvalidate"/>
                </div>
                
            </div>
            <div class="field control">
                <label class="label"><?= /* @noEscape */  __('Ordem') ?></label>
                
                <div class="control logo-height"
                    id="wk-mp-logo-height-wrapper" >
                    <input type="number" name="sortorder" value="<?= $block->escapeHtml($bannerData->getSortorder())?>" class="wk_logoheightvalidate"/>
                </div>
                
            </div>
        
                            
            <div class="actions-toolbar">
                <div class="primary">
                    <button type="submit" class="action save primary" title="Save">
                        <span data-bind="i18n :'Salvar'"></span></button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

