<?php
/**
 * Webkul MLM Banner template.
 * @category  Webkul
 * @package   Webkul_MLM
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

$productsColl = $block->getAllProducts();
$sponsorCode = $block->getSponsorCode();
?>
<div class="wk-mp-design ">
    <fieldset class="fieldset info">
        <legend class="legend">
            <span><b><?= /* @noEscape */ __('Anúncios Personalizados') ?></b></span>
            <div style="display:inline-block; float:right" >
                <form action="<?= /* @noEscape */  $block->getUrl('mlm/sponsor/ads')?>"
                    method="get" name="adsForm" id="myForm">
                        <input type="text" class="input-text" style="width:300px"
                        name="proName" placeholder="<?= /* @noEscape */  __('Buscar por Nome do Produto')?>"
                            value="<?= /* @noEscape */ $block->getRequest()->getParam('proName')?>">
                    <button class="button" title="<?= /* @noEscape */ __('Procurar')?>" type="submit">
                        <span><span><span><?= /* @noEscape */ __('Enviar')?></span></span></span>
                    </button>
                </form>
            </div>
        </legend>
        <br>
        <div class="grid">
            <div class="hor-scroll">
                <?php if ($productsColl && $productsColl->getSize()): ?>
                    <table cellspacing="0" class="border table wk-MLM-list-table">
                        <thead>
                            <tr class="wk-content">
                                <th class="wk-first-td name">
                                    <span class="label"><?= /* @noEscape */ __('Produto')?></span>
                                </th>
                                <th class="wk-first-td">
                                    <span class="label"><?= /* @noEscape */ __('Código HTML')?></span>
                                </th>
                                <th class="wk-first-td">
                                    <span class="label name"><?= /* @noEscape */ __('Visualizar')?></span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                            $i = 0;
                            foreach ($productsColl as $products) {
                                $i++;
                                $imageUrl = $block->getProImgUrl($products);
                                ?>
                                <tr class="wk-row-view 
                                <?= /* @noEscape */ $i == $productsColl->getSize()? 'wk-last_tr':''?>">
                                    <td class="wk-first_td">
                                        <div class="label name" 
                                        title="<?= /* @noEscape */ $products->getName(); ?>">
                                            <div class="wk-pro-divide1">
                                                <img src="<?= /* @noEscape */ $imageUrl?>" class="image" />
                                            </div>
                                            <div class="wk-pro-divide2">
                                                <?= /* @noEscape */ $products->getName(); ?></div>
                                        </div>
                                    </td>
                                    <td><input type="text" class="banner_content" readonly="readonly" 
                                    value="<?= /* @noEscape */
                                    $block->getHtmlCodeForAds($block->getUrl(), $products, $sponsorCode)?>" />
                                    </td>
                                    <td>
                                        <div class="primary">
                                            <button type="button" class="action primary preview" 
                                            title="Save"><span><?= /* @noEscape */ __('Visualizar')?>
                                        </span></button>
                                        </div>
                                    </td>
                                </tr>
                            <?php } ?>
                        </tbody>
                    </table>
                <?php else: ?>
                    <div class="wk-emptymsg">
                        <?= /* @noEscape */  __('Não existem produtos disponíveis no momento.') ?>
                    </div>
                <?php endif ?>
            </div>
        </div>
        <?php if ($block->getPagerHtml()): ?>
            <div class="order-products-toolbar toolbar bottom">
                <?= /* @noEscape */  $block->getPagerHtml(); ?></div>
        <?php endif ?>
    </fieldset>
    <div class="buttons-set">
        <p class="back-link">
            <a href="javascript:;" onclick="javascript: window.history.back();" 
            class="left">&laquo; <?= /* @noEscape */  __('Voltar') ?></a>
        </p>
    </div>
</div>
<script type="text/x-magento-init">
{
    "*": {
        "bannerlist": {}
    }
}
</script>
