<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MLM
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
/** @var $block \Webkul\MLM\Block\Sponsor\Configurations */

$bannerCollection = $block->getSponsorBannerCollection();

?>
<div class='add-banner-button'>
    <fieldset class="fieldset info wk-mp-fieldset">
        <legend class="legend">
            
            <a href="<?= $block->escapeUrl($block->getBannerUrl())?>" title="Submit" class="button pay wk-mp-btn">
                <span>
                    <span><?= /* @noEscape */  __('Adicionar Banner') ?></span>
                </span>
            </a>
        </legend>
    </fieldset>
</div>
<?php if ($bannerCollection != null && $bannerCollection->getSize() > 0):?>
<table cellspacing="0" class="border wk-mp-list-table banner-table wk-mp-list-container-table table">
    <thead>
        <tr>
            <th class="table-heading col">
                <?= __('Imagem do Banner')?>
            </th>
            <th class="table-heading col">
                <?= __('Link do Banner')?>
            </th>
            <th class="table-heading col">
                <?= __('Ordem')?>
            </th>
            <th class="table-heading col">
                <?= __('Ação')?>
            </th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($bannerCollection as $banner):?>
            <tr>
                <td>
                    <img src="<?= $block->getMediaUrl().'mlm/banner/'.$banner->getSponsorId().'/'.$banner->getEntityId().'/'.$banner->getBannerImage()?>" width="50" height="50"/>
                </td>
                <td>
                    <?= $block->escapeUrl($banner->getBannerLink());?>
                </td>
                <td>
                    <?= $block->escapeUrl($banner->getSortorder());?>
                </td>
                <td>
                    <a href="<?= $block->getEditBannerUrl($banner)?>"><?= __('Editar')?></a>
                </td>
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>
<?php else:?>
    <?= $block->escapeHtml(__('Não existem banners disponíveis no momento.'));?>
<?php endif?>
