<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MLM
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
/* block Webkul\MLM\Block\Sponsor\Configurations */

$bannerCollection = $block->getSponsorBannerCollection();

?>
<?php if ($bannerCollection != null && $bannerCollection->getSize() > 0):?>
<div class="sponsor-banner-collection">
    <div class="full-wrapper" style="background-color:#e4e4dc">
        <div class="container">
            <div class="sponsor-sm-imageslider">
                <div class="sm-imageslider-inner">
                    <div class="sm-sponsor-imageslider-content owl-carousel owl-theme">
                        <?php foreach ($bannerCollection as $banner):?>
                            <div class="item">
                            <a title="title" href="<?= $block->escapeUrl($banner->getBannerLink())?>">
                            <img src="<?= $block->getMediaUrl().'mlm/banner/'.$banner->getSponsorId().'/'.$banner->getEntityId().'/'.$banner->getBannerImage()?>" alt="Slider Image">
                            </a>
                            </div>
                        <?php endforeach?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    require([
        'jquery',
        'owlcarousel'
    ], function ($) {
        'use strict';
        $.noConflict();
        
            $(".sm-sponsor-imageslider-content").owlCarousel({
                items: 1,
                autoplay: true,
                loop: true,
                nav: true,
                dots: false,
                autoplaySpeed: 500,
                navSpeed: 500,
                dotsSpeed: 500,
                autoplayHoverPause: true,
                margin: 1,
            });
    
    });
</script>
<style>
.sm-imageslider .sm-imageslider-content{
    display:none;
}
.sponsor-banner-collection {
    margin-bottom: 50px;
}
</style>
<?php endif?>