<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MLM
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
/** @var $block \Webkul\MLM\Block\Sponsor\Becomesponsor */

$helper = $block->getHelper();
$sponsorExist= $helper->isSponsorExist();
$sponsorStatus = $sponsorExist;
$disapprovalMsg = __('Sentimos muito, sua conta não foi aprovada pelo administrador ou consultor');
$approvalMessage = __('Obrigado! Agora é só aguardar a aprovação da equipe Viramoda.');

$url = $this->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]);
$sponsorCode = $this->helper('Neoretail\SponsorCode\Helper\Sponsor')->getSponsorCode($url);

?>
<div>
    <?php if ($sponsorExist) { ?>
        <div class="fieldset">
            <h4 class="legend"><?= /* @noEscape */  __('Seja um(a) consultor(a) da Viramoda') ?></h4>
              <?php if ($sponsorStatus != 3): ?>
                <div class="wk_emptymsg"><?= /* @noEscape */ $approvalMessage; ?></div>
                <?php else:?>
                <div class="wk_emptymsg"><?= /* @noEscape */ $disapprovalMsg;  ?></div>
                <?php endif; ?>
        </div>
    <?php } else { ?>
        <?php $becomeSponsorUrl =
            $block->getUrl('*/*/becomesponsorPost', ["_secure" => $block->getRequest()->isSecure()]); ?>
        <form action="<?= $block->escapeUrl($becomeSponsorUrl) ?>"
             enctype="multipart/form-data" method="post"
              id="form-become-sponsor"
               data-role="form-become-sponsor"
                data-mage-init='{"validation":{}}'>
            <?= $block->getBlockHtml('sponsor.formkey')?>
            <?= $block->getBlockHtml('formkey')?>
            <div class="wk-mp-design">
                <fieldset class="fieldset info wk-mp-fieldset">
                    <legend class="legend">
                        <span><?= /* @noEscape */ __('Seja um(a) consultor(a) da Viramoda') ?></span>
                        <button type="submit" title="Submit" class="button pay wk-mp-btn">
                            <span>
                                <span><?= /* @noEscape */  __('Enviar') ?></span>
                            </span>
                        </button>
                    </legend>
                    <div class="field required" style="display:none;">
                        <label class="label"><?= /* @noEscape */  __('Cód. de Referência do(a) Consultor(a)') ?></label>
                        
                        <div class="control sponsor"
                            id="wk-mp-become-sponsor-box-wrapper" data-role="wk-mp-become-sponsor-box-wrapper">
                            <input type="text" class="required-entry wk_input_width"
                                name="sponsorcode" id="sponsorcode" data-role="sponsor-code" value="<?= $block->escapeHtmlAttr($sponsorCode) ?>"
                                 placeholder="<?= /* @noEscape */ __("Digite o código de referência da consultora que te indicou")?>"/>
                        </div>
                    </div>
                    <div class="field required">
                        <label class="label"><?= /* @noEscape */  __('Como será o nome da sua loja? (Ex.: lojadamaria; lojadojoao)') ?></label>
                        
                        <div class="control sponsor-name"
                            id="wk-mp-become-sponsor-name-wrapper" data-role="wk-mp-become-sponsor-name-wrapper">
                            <input type="text" class="required-entry wk_input_width" style="text-transform: lowercase;"
                                name="sponsorname" id="sponsor_name" data-role="sponsor-name"
                                 placeholder="<?= /* @noEscape */ __("Digite o nome que seja para a sua loja personalizada")?>"/>
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>
    <?php } ?>
</div>
<?php
$formData = [
    'ajaxSaveUrl' => $block->getUrl("*/*/codeverify", ["_secure" => $block->getRequest()->isSecure()]),
    'verifySponsorUrl' => $block->getUrl("*/customer/verifysponsor", ["_secure" => $block->getRequest()->isSecure()]),
    'successMessage' => __("Parabéns! O Código da consultora é válido."),
    'errorMessage' => __("Desculpe, algo errado com o código de referência informado."),
    'button' => '.button'
];
$serializedFormData = $helper->getJsonHelper()->jsonEncode($formData);
?>

<script type="text/x-magento-init">
    {
        "[data-role=form-become-sponsor]": {
            "validation": {},
            "verifySponsorCode": <?= /* @noEscape */ $serializedFormData; ?>
        }
    }
</script>
