<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MLM
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
/* block Webkul\MLM\Block\Sponsor\Configurations */
$logoData = $block->getLogoData();
$productList = $block->getProductList();
?>
<div class="sponsor-configuration-container">
    <form class="form form-homepage-details" 
        action="<?= /**@escapeNotVerified */ ($block->formUrl()); ?>"
        data-mage-init='{"validation": {}}' enctype = 'multipart/form-data' method="post" id="form-validate" autocomplete="off">
    
    <label data-bind="text : 'Personalize a sua Página Inicial, mostrando os produtos que você mais gosta!'"></label>
    <hr/>
    <legend></legend>
        <fieldset class="fieldset info">
        <input type="hidden" 
                name="customer_id"
                value="<?= $block->escapeHtmlAttr($block->getCustomerId()) ?>"
            />
            <div class="field required">
                <label class="label"><?= /* @noEscape */  __('Foto ou Logotipo') ?></label>
                
                <div class="control logo-file"
                    id="wk-mp-logo-file-wrapper" >
                    <input type="file" name="logo_file" class="wk_logoimagevalidate"  value="<?= $block->escapeHtml($logoData->getLogoImage())?>" />
                </div>
                
            </div>
            <div class="field control">
                <label class="label"><?= /* @noEscape */  __('Largura') ?></label>
                
                <div class="control logo-width"
                    id="wk-mp-logo-width-wrapper" >
                    <input type="number" name="logo_width" value="<?= $block->escapeHtml($logoData->getLogoWidth())?>" class="wk_logowidthvalidate"/>
                </div>
                
            </div>
            <div class="field control">
                <label class="label"><?= /* @noEscape */  __('Altura') ?></label>
                
                <div class="control logo-height"
                    id="wk-mp-logo-height-wrapper" >
                    <input type="number" name="logo_height" value="<?= $block->escapeHtml($logoData->getLogoHeight())?>" class="wk_logoheightvalidate"/>
                </div>
                
            </div>
            <div class="field control">
                <label class="label"><?= /* @noEscape */  __('Selecione produtos para mostrar na página inicial da sua loja') ?></label>
                
                
            </div>
            <table cellspacing="0" class="border wk-list-table wk-list-container-table">
                <thead>
                    <tr class="wk-content">
                        <th></th>
                        <th class="wk-first-td">
                            <span class="label name">
                                <?= $block->escapeHtml(__('Produto'))?>
                            </span>
                        </th>
                                 
                        
                    </tr>
                </thead>
                <tbody>
                    <?php
                    $i = 0;
                    foreach ($productList as $product) {
                        
                        $i++;
                        $image_url = $block->getProImgUrl($product);
                       
                        ?>
                        <tr class="wk-row-view <?= $class = ($i == count($productList))? 'wk-last_tr':''?>">
                            <td class="wk-check-first-td">
                                <span>
                                    <input type="checkbox" name="product_selection[]" class="mpcheckbox" value="<?= $block->escapeHtml($product->getEntityId()); ?>"/>
                                </span>
                            </td>
                            <td class="wk-first_td" style="width:100%;">
                                <input type="hidden" class="hidden-id" value="<?= $block->escapeHtml($product->getEntityId()); ?>" />
                                <div class="label name" title="<?= $block->escapeHtml($product->getName()); ?>">
                                    <div class="wk-pro-divide1" style="width:10%;">
                                        <img src="<?= $block->escapeUrl($image_url)?>" class="image" />
                                    </div>
                                    <div class="wk-pro-divide2">
                                        <div style="width:100%;margin-top:3%;">
                                            <?php if ($product->getStatus()==1 && $product->getVisibility()!=1) { ?>
                                                <a href="<?= $block->escapeUrl($product->getProductUrl())?>" target="blank">
                                            <?php }?>
                                                <?= $block->escapeHtml($product->getName());?>
                                            <?php if ($product->getStatus()==1 && $product->getVisibility()!=1) { ?>
                                                </a>
                                            <?php }?>
                                        </div>
                                        
                                    </div>
                                </div>
                            </td>
                            
                            
                            
                        </tr>
                        <?php
                    }?>
                </tbody>
            </table>
            <?php if ($block->getPagerHtml()): ?>
                <div class="order-products-toolbar toolbar bottom"><?= $block->getPagerHtml(); ?></div>
            <?php endif ?>
            <div class="actions-toolbar">
                <div class="primary">
                    <button type="submit" class="action save primary" title="Save">
                        <span data-bind="i18n :'Salvar'"></span></button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

