<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MLM
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

$referral = $block->getReferralCustomer();
$referralCustomerName = __("Admin");
$referralCustomerEmail = $block->getAdminEmail();

if ($referral != 'admin') {
    $referralCustomerName = $referral->getFirstname()." ".$referral->getLastname();
    $referralCustomerEmail = $referral->getEmail();
}
?>
<script>
    window.salesEarning = '<?= /**@escapeNotVerified */ ($block->getSalesEarning()); ?>';
    window.newJoiningSalesEarning = '<?= /**@escapeNotVerified */ ($block->getNewJoiningSalesEarning()); ?>';
    window.levelSalesEarning = '<?= /**@escapeNotVerified */ ($block->getLevelSalesEarning()); ?>';
    window.totalEarning = '<?= /**@escapeNotVerified */ ($block->getTotalEarning()); ?>';
    window.currentMonthSales = '<?= /**@escapeNotVerified */ ($block->getCurrentMonthSalesEarning()); ?>';
    window.downlineMembersCount = '<?= /**@escapeNotVerified */ ($block->getDownlineMembersCount()); ?>';
    window.getGenealogyTreeUrl = '<?= /**@escapeNotVerified */ ($block->getGenealogyTreeUrl()); ?>';
    window.becomeDiamondMemberThreshold = '<?= /**@escapeNotVerified */ ($block->becomeDiamondMemberThreshold()); ?>';
    window.mySponsorId = '<?= /**@escapeNotVerified */ ($block->mySponsorId()); ?>';
    window.referralSponsorId = '<?= /**@escapeNotVerified */ ($block->referralSponsorId()); ?>';
    window.referralSponsorName = '<?= /**@escapeNotVerified */ ($referralCustomerName); ?>';
    window.referralSponsorEmail = '<?= /**@escapeNotVerified */ ($referralCustomerEmail); ?>';
    window.getSellerStatisticsGraphUrl =
        '<?= /**@escapeNotVerified */ ($block->getSponsorStatisticsGraphUrl("year")); ?>';
    window.getBadgeImageUrl = '<?= /**@escapeNotVerified */ ($block->getBadgeImageUrl()); ?>';
    window.memberLevelName = '<?= /**@escapeNotVerified */ ($block->getMemberLevelName()); ?>';
    window.dailyEarningChartData = '<?= /**@escapeNotVerified */ ($block->getDailyEarningChartData()); ?>';
    window.weeklyEarningChartData = '<?= /**@escapeNotVerified */ ($block->getWeeklyEarningChartData()); ?>';
    window.monthlyEarningChartData = '<?= /**@escapeNotVerified */ ($block->getMonthlyEarningChartData()); ?>';
    window.yearlyEarningChartData = '<?= /**@escapeNotVerified */ ($block->getYearlyEarningChartData()); ?>';
    window.last4MemberActivities = '<?= /**@escapeNotVerified */ ($block->getLast4MemberActivities()); ?>';
    
</script>
<div id="sponsor-dashboard" data-bind="scope:'sponsor-dashboard'">
    <!-- ko template : getTemplate() --><!-- /ko -->
    <script type="text/x-magento-init">
    {
        "#sponsor-dashboard": {
            "Magento_Ui/js/core/app":  <?= /* @escapeNotVerified */ $block->getJsLayout();?>
        }
    }
    </script>
</div>
