<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MLM
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

$formData = $block->getFormData(); ?>
<script>
    window.formData = <?= /* @noEscape */ $formData ?>;
    window.submitButtonTitle = 'Salvar';
    window.formSubmitUrl =
        '<?= /* @noEscape */ $block->getUrl("*/*/save") ?>';
    window.deleteUrl
        = '<?= /* @noEscape */ $block->getUrl("*/*/delete", ['entity_id' => $block->getRequest()->getParam('id')]) ?>';
    window.backUrl = '<?= /* @noEscape */ $block->getUrl("*/*/index") ?>';
    window.isEditPage = '<?= /* @noEscape */ $block->isEditPage(); ?>';
</script>
<div id="email-form-container" class="wk-mp-design"
     data-bind="scope:'email-form', visible:true"
      data-role="content" aria-labelledby="block-email-grid">
    <form
        data-bind="attr: {'action': formSubmitUrl}"
        enctype="multipart/form-data"
        method="post"
        id="submit-form"
        data-mage-init='{"validation":{}}'
    >
    <!-- ko template: getTemplate() --><!-- /ko -->
    <script type="text/x-magento-init">
        {
            "#email-form-container": {
                "Magento_Ui/js/core/app": {
                    "components" : {
                        "email-form": {
                            "component":"Webkul_MLM/js/ui/form",
                            "config" : {
                                "template":"Webkul_MLM/ui/form.html"
                            }
                        }
                    }
                }
            }
        }
    </script>
        <div class="control wk-border-box-sizing">
            <textarea name="body" class="input-text" id="body" rows="5" cols="75" >
                <?= /** @noEscape */ ($block->getBodyContentHint()); ?>
            </textarea>
                <script>
                    require([
                        "jquery",
                        "mage/translate",
                        "mage/adminhtml/events",
                        "mage/adminhtml/wysiwyg/tiny_mce/setup"
                    ], function(jQuery) {
                        wysiwygShortDescription = new wysiwygSetup("body", {
                            "width" : "100%",
                            "height" : "200px",
                            "plugins" : [{"name":"image"}],
                            "tinymce4" : {
                                "toolbar":"formatselect | bold italic underline" +
                                " | alignleft aligncenter alignright | bullist numlist" +
                                " | link table charmap",
                                "plugins":"advlist autolink lists link charmap media noneditable"+
                                " table contextmenu paste code help table",
                            }
                        });
                        wysiwygShortDescription.setup("exact");
                    });
                </script>
        </div>
                </br></br>
        <button class="button action primary wk-mp-btn" id="emailSaveButton" title="Save" type="button">
            <span><span data-bind="text: submitButtonTitle"><span></span>
        </button>
    </form>
</div>


