<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MLM
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

$tree["tree"][] = $block->getTreeCollection();
$customerId = $block->getCustomerId();
$sponsorCode = $block->getCustomerSponsorId($customerId)
?>
<div class="tree-container" >
    <div class="container" id="<?= $block->escapeHtmlAttr('containerFor'.$sponsorCode); ?>">
        <div class="member tree-node you-node">
            <span class="<?= $block->escapeHtmlAttr('wk'.$sponsorCode); ?>">
                <?= $block->escapeHtml(__("Você")); ?>
            </span>
        </div>
    </div>
</div>
<?php
$serializedData = $block->jsonEncode($tree);
?>
<script type="text/x-magento-init">
    {
        "*": {
            "genealogyTree": <?= /* @noEscape */  $serializedData; ?>
        }
    }
</script>
<script id="treeNodeTemplate" type="text/x-magento-template">
    <div class='container' id="containerFor<%- data.sponsor_code %>">
        <div class=" <%- 'tree-node left-node member' %>">
            <span class="wk<%- data.sponsor_reference_code %>">
                <%- data.customer_name %>
            </span>
        </div>
    </div>
</script>
