<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MLM
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<script>
    window.currentBalance = '<?= /**@escapeNotVerified */  ($block->currentMonthlyBalance()); ?>';
    window.formUrl = '<?= /**@escapeNotVerified */ ($block->formUrl()); ?>';
    window.sponsorId = '<?= /**@escapeNotVerified */ ($block->getSponsorId()); ?>';
    window.walletId = '<?= /**@escapeNotVerified */ ($block->walletId()); ?>';
</script>
<div id="sponsor-paymentrequest" data-bind="scope:'sponsor-paymentrequest'">
    <!-- ko template : getTemplate() --><!-- /ko -->
    <script type="text/x-magento-init">
    {
        "#sponsor-paymentrequest": {
            "Magento_Ui/js/core/app":  <?= /* @escapeNotVerified */ $block->getJsLayout();?>
        }
    }
    </script>
</div>
