<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MLM
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

if ($block->arePaymentMethodsEmpty()): ?>
    <div class="mlm-empty-collection">
        <p><?=
            $block->escapeHtml(
                __("Todos os métodos de recebimento estão desativados pelo administrador. Entre em contato com a Viramoda.")
            ); ?></p>
    </div>
<?php else: ?>
    <script>
        window.paymentMethod = '<?= /**@escapeNotVerified */ \Zend_Json::encode($block->getPaymentMethods()); ?>';
        window.formUrl = '<?= /**@escapeNotVerified */ ($block->formUrl()); ?>';
    </script>
    <div class="payment-method-container">
        <form class="form form-payment" 
            action="<?= /**@escapeNotVerified */ ($block->formUrl()); ?>"
            data-mage-init='{"validation": {}}' method="post" id="form-validate" autocomplete="off">
        
        <label data-bind="text : 'Método de Recebimento'"></label>
        <hr/>
        <legend></legend>
            <fieldset class="fieldset info">
            <input type="hidden" 
                    name="customer_id"
                    value="<?= $block->escapeHtmlAttr($block->getCustomerId()) ?>"
                />
            <?php foreach ($block->getPaymentMethods() as $method) { ?>
                <div class="field">
                    <div class="control">
                        <input type="radio"
                        id="sponsor_payment_method_<?= $block->escapeHtmlAttr($method['value']); ?>"
                        name="payment_method"
                        value="<?= $block->escapeHtmlAttr($method['value']); ?>"
                        <?= ($block->getSelectedPaymentMethod() == $method["value"] ? " checked": "");?>
                        />
                        <label class="label"
                            for="sponsor_payment_method_<?= $block->escapeHtmlAttr($method['value']); ?>">
                            <span><?=$block->escapeHtml($method['label']); ?></span></label>
                    </div>
                </div>
                <?php }?>
                <div class="actions-toolbar">
                    <div class="primary">
                        <button type="submit" class="action save primary" title="Save">
                            <span data-bind="i18n :'Salvar'"></span></button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <div id="sponsor-payment" data-bind="scope:'sponsor-payment'">
        <!-- ko template : getTemplate() --><!-- /ko -->
        <script type="text/x-magento-init">
        {
            "#sponsor-payment": {
                "Magento_Ui/js/core/app":  <?= /* @escapeNotVerified */ $block->getJsLayout();?>
            }
        }
        </script>
    </div>
<?php endif; ?>