<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MLM
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<script>
    window.referralData = <?= /**@escapeNotVerified */ \Zend_Json::encode($block->getReferralData()); ?>
</script>
<div id="sponsor-referral-link" data-bind="scope:'sponsor-referral'">
    <!-- ko template : getTemplate() --><!-- /ko -->
    <script type="text/x-magento-init">
    {
        "#sponsor-referral-link": {
            "Magento_Ui/js/core/app":  <?= /* @escapeNotVerified */ $block->getJsLayout();?>
        }
    }
    </script>
</div>
