<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MLM
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<script>
window.formUrl = '<?= /**@escapeNotVerified */ ("kk"); ?>';
</script>
<div id="sponsor-sales" data-bind="scope:'sponsor-sales'">
    <!-- ko template : getTemplate() --><!-- /ko -->
    <script type="text/x-magento-init">
    {
        "#sponsor-sales": {
            "Magento_Ui/js/core/app":  <?= /* @escapeNotVerified */ $block->getJsLayout();?>
        }
    }
    </script>
</div>
