<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MLM
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<script>
window.currentBalance = '<?= /**@escapeNotVerified */ ($block->currentMonthlyBalance()); ?>';
window.totalEarning = '<?= /**@escapeNotVerified */ ($block->totalEarning()); ?>';
window.requestedAmount = '<?= /**@escapeNotVerified */ ($block->requestedAmount()); ?>';
window.requestedAmountUrl = '<?= /**@escapeNotVerified */ ($block->requestedAmountUrl()); ?>';

</script>
<div id="sponsor-wallet" data-bind="scope:'Sua Carteira'">
    <!-- ko template : getTemplate() --><!-- /ko -->
    <script type="text/x-magento-init">
    {
        "#sponsor-wallet": {
            "Magento_Ui/js/core/app":  <?= /* @escapeNotVerified */ $block->getJsLayout();?>
        }
    }
    </script>
</div>


