<?php
/**
 * @var \Neoretail\Danfe\Block\Adminhtml\Order\View\Danfe $block
 */
?>
<?php $danfes = $block->getDanfes(); ?>
<section class="admin__page-section">
    <div class="admin__page-section-title">
        <span class="title"><?= /* @escapeNotVerified */
            __('%1', 'Danfes') ?></span>
    </div>
    <?php if (!empty($danfes)): ?>
        <div class="admin__page-section-content grid">
            <div class="admin__table-wrapper">
                <table class="data-table admin__table-primary edit-order-table danfes">
                    <thead>
                    <tr class="headings">
                        <th class="col-date"><span><?= /* @escapeNotVerified */
                                __('Date') ?></span></th>
                        <th class="col-type"><span><?= /* @escapeNotVerified */
                                __('Type') ?></span></th>
                        <th class="col-key"><span><?= /* @escapeNotVerified */
                                __('Key') ?></span></th>
                        <th class="col-actions-links"><span><?= /* @escapeNotVerified */
                                __('Download Link') ?></span></th>
                    </tr>
                    </thead>
                    <?php /** @var \Neoretail\Danfe\Api\Data\DanfeInterface $danfe */ ?>
                    <?php $i = 0 ?>
                    <?php foreach ($danfes as $danfe): ?>
                    <tbody class="<?= /* @escapeNotVerified */ ($i % 2) ? 'even' : 'odd' ?>">
                        <tr>
                            <td><?= $block->formatDate($danfe->getCreatedAt(), \IntlDateFormatter::MEDIUM, true); ?></td>
                            <td><?= __($danfe->getType()); ?></td>
                            <td><?= $danfe->getKey(); ?></td>
                            <td><a target="_blank" href="<?= $danfe->getBinary(); ?>"><?= __('Click here');?></a></td>
                        </tr>
                        <?php $i++;?>
                    <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
        </div>
    <?php else:?>
        <div class="empty-text"><?= __('We couldn\'t find any records.') ?></div>
    <?php endif; ?>
</section>
