.notiny-magemob-success {
    background-color: #dff0d8;
    color: #3c763d;	
    box-shadow: 0px 0px 3px 1px rgb(223, 240, 216);
}
.notiny-magemob-error {
    background-color: #FFBABA;
    color: #D8000C;
    box-shadow: 0px 0px 3px 1px rgb(255, 186, 186);
    margin-bottom: 10px;
}
.notiny-default-vars .notiny-text{
    font-weight: 500;
    font-size: 14px;
}
.notiny-magemob-error .notiny-text,.notiny-magemob-success .notiny-text{
	white-space: normal;
}