/* custom */
.slider_img {
	max-width: 55px;
	max-height: 45px;
}

.category_img {
	max-width: 55px;
	max-height: 45px;
}

.category-circle-img {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.cat-img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.btn_margin {
	margin: 2px;
}

.admin__field-label .required {
	color: red;
}

i.add-action {
    cursor: pointer;
}

.edit_mobile_component {
	top: 4px;
	right: 4px;
}

.custom-row {
	text-align: left;
	margin-right: -80px;
}

.custom-button {
	margin-right: 4px;
}

.custom-message {
	display: inline-block;
	padding: 5px 5px;
	border-radius: 4px;
}

.grid-severity-notice.custom-message {
	vertical-align: middle;
	padding: 7px 12px;
}

.grid-severity-notice.custom-message span{
	font-size: 12px;
	line-height: 18px;
}

span.fcb-error, span.banner-error, span.productgrid-error, span.phs-error {
	color: #ed3734;
	font-style: italic;
}