<!-- 
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MLM
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */ -->
 
<div class="content-sponsor-earning">
    <div class="sales-block sales-earning">
        <div class="sales-heading">
            <b data-bind="i18n : 'Lucro de Vendas'"></b>
        </div>
        <div class="sales-content">
            <span data-bind="i18n : salesEarning"></span>
        </div>
    </div>
    <div class="sales-block new-joining-sales-earning">
        <div class="sales-heading">
            <b data-bind="i18n : 'Ganhos por Adesão'"></b>
        </div>
        <div class="sales-content">
            <span data-bind="i18n : newJoiningSalesEarning"></span>
        </div>
    </div>
    <div class="sales-block level-sales-earning">
        <div class="sales-heading">
            <b data-bind="i18n : 'Total de Negócios'"></b>
        </div>
        <div class="sales-content">
            <span data-bind="i18n : totalEarning"></span>
        </div>
    </div>
    <div class="sales-block level-sales-earning">
        <div class="sales-heading">
            <b data-bind="i18n : 'Bônus de Nível'"></b>
        </div>
        <div class="sales-content">
            <span data-bind="i18n : levelSalesEarning"></span>
        </div>
    </div>
    <div class="sales-block current-month-sales-earning">
        <div class="sales-heading">
            <b data-bind="i18n : 'Mês Atual'"></b>
        </div>
        <div class="sales-content">
            <span data-bind="i18n : currentMonthSales"></span>
        </div>
    </div>
</div>
<div class="sales-stats-n-members">
    <div class="sales-stats">
        <div class="sales-stats-heading">
            <div class="sales-stats-heading-title">
                <b data-bind="i18n : 'Estatísticas de Vendas'"></b>
            </div>
            <div class="sales-stats-heading-links">
                <a class="sales-stat-heading-link" href="#" data-bind="click: drawYealyGraph" id="wk-diagram-chart-year">
                    <span data-bind="i18n : 'Ano'"></span>
                </a>
                <a class="sales-stat-heading-link" href="#" data-bind="click: drawMonthlyGraph" id="wk-diagram-chart-month">
                    <span data-bind="i18n : 'Mês'"></span>
                </a>
                <a class="sales-stat-heading-link" href="#" data-bind="click: drawWeeklyGraph" id="wk-diagram-chart-week">
                    <span data-bind="i18n : 'Semana'"></span>
                </a>
                <a class="sales-stat-heading-link" href="#" data-bind="click: drawDailyGraph" id="wk-diagram-chart-day">
                    <span data-bind="i18n : 'Dia'"></span>
                </a>
            </div>
        </div>
        <div class="sales-stats-content-graph"
            id="mlm-dashboard-chart-content">
        </div>
    </div>
    <div class="member-activities">
        <div class="member-activities-heading">
            <b data-bind="i18n : 'Membros Ativos'"></b>
        </div>
        <div class="member-activities-content">
            <table class="member-activities-content-table">
                <tbody data-bind="foreach: getLast4MemberActivities">
                    <tr>
                        <td data-bind="text: $data[0]"></td>
                        <td data-bind="text: $data[1]"></td>
                        <td data-bind="text: $data[2]"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="member-details">
    <div class="member-details-item">
        <div class="downline-member-count">
            <b data-bind="text : downlineMembersCount"></b>
        </div>
        <div class="downline-member-tree">
            <div class="downline-member-tree-heading">
                <b data-bind="i18n : 'Membros da linha descendente'"></b>
            </div>
            <div class="downline-member-tree-genealogy-tree">
                <a data-bind="attr : {
                    href : getGenealogyTreeUrl,
                    target : '_blank'
                },i18n : 'Árvore Genealógica'"></a>
            </div>
        </div>
    </div>
    <div class="member-details-item member-level">
        <div class="badge-image">
            <img data-bind="attr : {
                src : getBadgeImageUrl
            }", width="62px" height="80px"></img>
        </div>
        <div class="badge-title">
            <div class="badge-name" data-bind="text : getMemberLevelName "></div>
            <div class="badge-label">
                <b data-bind="i18n : 'Seu Nível Atual'"></b>
            </div>
        </div>
    </div>
    <div class="member-details-item become-diamond-member">
       <div class="become-diamond-label">
            <b data-bind="i18n :'Suba de nível alcançando'"></b>
       </div> 
       <div class="become-diamond-price">
           <b data-bind="text : becomeDiamondMemberThreshold "></b>
       </div>
    </div>
</div>
<div class="sponsor-heading">
    <span data-bind="i18n : 'Consultor(a)'"></span>
</div>
<div class="sponsor-content">
    <div class="your-sponsor-info">
        <div class="your-sponsor-info-label"><b data-bind="i18n : 'Seu Código'"></b></div>
        <div class="your-sponsor-info-sponsor-code"><span data-bind="text : mySponsorId"></span></div>
    </div>
    <div class="referral-sponsor-info">
        <div class="referral-sponsor-info-heading"><b data-bind="i18n : 'Código de Referência'"></b></div>
        <div class="referral-sponsor-info-id">
            <b data-bind="i18n : 'Id :'"></b>
            <span data-bind="text : referralSponsorId"></span>
        </div>
        <div class="referral-sponsor-info-name"><b data-bind="i18n : 'Nome: '"></b>
            <span data-bind="text : referralSponsorName"></span>
        </div>
        <div class="referral-sponsor-info-email"><b data-bind="i18n : 'E-mail:'"></b>
            <span data-bind="text : referralSponsorEmail"></span>
        </div>
    </div>
</div>