<!-- 
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MLM
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */ -->

<div class="payment-method-container">
    <form class="form form-payment-request" data-bind="attr :{
        action : formUrl
    }" data-mage-init='{"validation": {}}' method="post" id="form-validate" autocomplete="off">
    </br>
    <label data-bind="text : 'Método de Recebimento'"></label>
    <hr/>
    <br/>
    <legend></legend>
        <fieldset class="fieldset info">

            <div data-bind="foreach: paymentMethod">
                <div class="control">
                    <input data-bind="attr: {
                        'name': $data.value,
                        'type': 'radio'
                    },
                    value: value" />
                    <label class="label" for="requestedamount"><span data-bind="text : $data.label"></span></label>
                </div>
            </div>
            
            <div class="actions-toolbar">
                <div class="primary">
                    <button type="submit" class="action save primary" title="Salvar"><span data-bind="i18n :'Salvar'"></span></button>
                </div>
            </div>
        </fieldset>
    </form>
</div>