<!-- 
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MLM
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */ -->
<form class="form form-payment-request" data-bind="attr :{
    action : formUrl
}" data-mage-init='{"validation": {}}' method="post" id="form-validate" autocomplete="off">
</br>
<legend></legend>
    <fieldset class="fieldset info">
        <div class="field current-month-balance-container">
            <div class="current-month-balance">
                <div class="current-month-balance-value"><b data-bind="text :currentBalance"></b></div>
                <div class="current-month-balance-label"><b data-bind="i18n : 'Saldo do mês atual'"></b></div>
            </div>
        </div>
        <div class="field field-name-requested-amount required">
            <label class="label" for="requestedamount"><span data-bind="i18n : 'Quantidade solicitada pelo usuário'"></span></label>
            <div class="control">
                <input type="text" placeholder="Quantidade solicitada pelo usuário" id="requestedamount" name="requestedamount" value="" title="Requested Amount" class="input-text" data-validate="{required:true}">
            </div>
        </div>
        <div class="field field-name-description required">
            <label class="label" for="description"><span data-bind="i18n : 'Descrição'"></span></label>
            <div class="control">
                <textarea id="description" placeholder="Descrição" name="description" title="Requested Amount" class="input-text" data-validate="{required:true}">
                </textarea>
            </div>
            <input type="hidden" name="sponsor_id" data-bind="value : sponsorId" />
            <input type="hidden" name="wallet_id" data-bind="value : walletId" />
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button type="submit" class="action save primary" title="Enviar">
                    <span data-bind="i18n :'Enviar'"></span>
                </button>
            </div>
        </div>
    </fieldset>
</form>