<!-- 
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MLM
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */ -->
<div class="heading-referral">
    <span data-bind="text : pageTitle"></span>
</div>
<div class="content-referral">
    <div><span class="referral-id" data-bind="text : referralId"> </span></div>
    
    <br/>
    <br/>
    <div class="referral-button ">
        <label data-bind="i18n : 'Compartilhe'"></label>
        <div class="dummy-text-container"></div>
        <div class="button-container tooltip">
            <button class="button-email">
                <span data-bind="
                    i18n : 'E-mail',
                    click : sendMail"></span>
            </button>
            <a data-bind="attr :{
                href : shareableLink,
                target :'_blank'
            }">
                <button class="button-link">
                    <span data-bind="
                    i18n : 'Compartilhe',
                    click : showShareableLink"></span>
                </button>
            </a>
            <button class="button-code">
                <span class="tooltiptext" id="wkTooltip"></span>
                <span data-bind="
                    i18n : 'Copiar Código',
                    click : copyCode
                "></span>
            </button>
        </div>
        <div class="shareable-link">
            <span data-bind="
                attr : {
                    class: 'link'
                },
                text : shareableLink
            ">
            </span>
        </div>
        <div id="modal-content" class="shareable-link popupTooltip">
            <form action="#"
                enctype="multipart/form-data"
                method="post"
                id="submit-form"
                data-mage-init='{"validation":{}}'>
                <div class="fieldset modal-inner-content">
                    <div class="field field-name-copy ">
                        <span class="link-label label" for="link">
                            <span data-bind="text : shareableLink"></span>
                        </span>
                        <span class="popupTooltiptext" id="wkPopupTooltip"></span>
                        <button data-bind="
                            click : copyLink"
                            class="button action"
                            id="copy-link"
                            title="copy"
                            type="button">
                            <span><span data-bind="i18n : 'Copiar Link'"><span></span>
                        </button>
                    </div>
                    <h2 style="display:none" data-bind="i18n : 'ou'"></h2>
                    <div style="display:none" class="field field-name-email required">
                        <label class="label" for="email"><span data-bind="i18n : 'Compartilhar via Email'"></span></label>
                        <div class="control">
                            <input data-bind=" attr : {
                            placeholder : emailPlaceHolder
                        }" type="email" id="receiver-mail" name="email" value="" title="Email" class="input-text required-entry" data-validate="{required:true}">
                        </div>
                    </div>
                </div>
				<button class="button action primary no-display" style="display:none" id="linkSaveButton" title="Send" type="button">
					<span><span><span></span>
                </button>
            </form>
        </div>
    </div>
</div>