<!-- 
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MLM
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */ -->

<div class="wallet-container">
    <div class="current-month-balance wallet-container-item">
        <div class="current-amount">
            <div class="current-amount-value"><b><span data-bind="text :currentBalance"></span></b></div>
            <div class="current-amount-label" data-bind="i18n : 'Current Month Balance'"></div>
        </div>
        <div class="request-payment-button">
            <a data-bind="attr : {
                href : requestedAmountUrl
            }">
                <button type="submit" title="Pagamento" class="action primary">
                    <span data-bind="i18n : 'Pagamento'"></span>
                </button>
            </a>
        </div>
    </div>
    <div class="total-business-earning  wallet-container-item">
        <div class="total-amount">
            <b><span data-bind="text: totalEarning"></span></b>
        </div>
        <div class="total-business-text">
            <span data-bind="i18n: 'Total Business Earning'"></span>
        </div>
    </div>
    <div class="requested-amount-container  wallet-container-item">
        <div class="requested-amount">
            <b><span data-bind="text: requestedAmount"></span></b>
        </div>
        <div class="requested-amount-text">
            <span data-bind="i18n : 'Solicitação(Pendente)'"></span>
        </div>
    </div>
</div>