<?php 
$helper       = $this->helper("Lof\MarketPlace\Helper\Data");
$seller = $this->getCurrentSeller();
if($seller){
$sellerId = $seller->getId();
$sellerId = $sellerId?(int)$sellerId:$seller->getData("seller_id");
?>
<div class="mkpl-badge">
<?php if($this->showBadge($sellerId)) {
foreach ($this->showBadge($sellerId) as $key => $seller_badge) {
	$badge = $this->getBadge($seller_badge->getData('sbm_badge_id'));
?>
<img class="badge-icon" src="<?php echo $helper->getMediaUrl().$badge->getData('sb_image'); ?>" alt="<?php echo $badge->getData('sb_name'); ?>" title="<?php echo $badge->getData('sb_description'); ?>">
<?php } 
}?>
<script>
require([
    'jquery',
    'jquery/ui',
], function($, ui,$t){
	$(".mkpl-badge").appendTo(".fieldset.item-wrapp");
	$('.badge-icon').tooltip({
		  show: {
			  delay: 50
          },
          position: {
              my: "center bottom-20",
              at: "center top",
              using: function( position, feedback ) {
                $( this ).css( position );
                $( "<div>" )
                  .addClass( "arrow" )
                  .addClass( feedback.vertical )
                  .addClass( feedback.horizontal )
                  .appendTo( this );
              }
          }
	});
});
</script>
</div>
<?php } ?>