<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div class="block-subscribe-home">
    <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('newsletter-info')->toHtml(); ?>
    <form class="form subscribe"
          novalidate
          action="<?php /* @escapeNotVerified */
          echo $block->getFormActionUrl() ?>"
          method="post"
          data-mage-init='{"validation": {"errorClass": "mage-error"}}'
          id="newsletter-validate-detail">

        <div class="input-box">
            <input name="email" type="email" id="newsletter"
                   onfocus="if(this.value=='<?php echo __("Digite o seu e-mail") ?>') this.value='';"
                   onblur="if(this.value=='') this.value='<?php echo __("Digite o seu e-mail") ?>';"
                   value="<?php echo __("Digite o seu e-mail") ?>"
                   data-validate="{required:true, 'validate-email':true}"/>
        </div>

        <button class="action subscribe primary" title="<?php /* @escapeNotVerified */
        echo __('Cadastrar') ?>" type="submit">
			<span><?php /* @escapeNotVerified */
                echo __('Cadastrar') ?></span>
        </button>
    </form>
</div>
