<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div class="subscribe-home">
    <form class="form subscribe"
          novalidate
          action="<?php /* @escapeNotVerified */
          echo $block->getFormActionUrl() ?>"
          method="post"
          data-mage-init='{"validation": {"errorClass": "mage-error"}}'
          id="newsletter-validate-detail">

        <div class="input-box">
            <input name="email" type="email" id="newsletter"
                   onfocus="if(this.value=='<?php echo __("Digite seu e-mail") ?>') this.value='';"
                   onblur="if(this.value=='') this.value='<?php echo __("Digite seu e-mail") ?>';"
                   value="<?php echo __("Digite seu e-mail") ?>"
                   data-validate="{required:true, 'validate-email':true}"/>
        </div>

        <div class="action-button">
            <button class="action subscribe primary" title="<?php /* @escapeNotVerified */
            echo __('Cadastrar') ?>" type="submit">
				<span><?php /* @escapeNotVerified */
                    echo __('Cadastrar') ?></span>
            </button>
        </div>
    </form>
</div>
