<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MLM
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

$paymentMethods = $block->getAllPaymentMethods();
$selectPaymentMethods = implode(",", $block->getSelectedMethods());
?>
<input
    class="admin__control"
    style="opacity: 1.01;text-align: center;"
    type="hidden",
    id="payment_options_values"
    name="groups[payment_options][fields][payment_options][value]"
    value="<?= $block->escapeHtmlAttr($selectPaymentMethods);?>"
/>
<script>window.allPaymentMethods = '<?= (\Zend_Json::encode($paymentMethods));?>'</script>
<div id="customjs-component" data-bind="scope:'config-js-field'">
    <!-- ko template: getTemplate() --><!-- /ko -->
    <script type="text/x-magento-init">
    {
        "#customjs-component": {
            "Magento_Ui/js/core/app":  <?= ($block->getJsLayout());?>
        }
    }
    </script>
</div>