.mkpl-badge>img {
    float: left;
    margin: 5px;
    width: auto;
}
.ui-tooltip,
.arrow:after{
	background:#333;
	border:2px solid white;
}
.ui-tooltip{
	padding:10px 20px;
	color:white;border-radius:5px;
	box-shadow:0 0 7px black;
}